.contacts{
   &__section{
      padding: 130px 0;
      .col{
         &:nth-of-type(2){
            display: flex;
            justify-content: center;
         }
      }
   }
   &__title{
      margin: 10px 0 54px;
   }
   &__text{
      max-width: 470px;
   }
   &__item{
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-bottom: 24px;
      p{
         color: $bodyColorTertiary;
         font-size: 0.938rem;
         text-transform: uppercase;
         letter-spacing: .1em;
         font-weight: 3;
         transition: $transition;
      }
      svg{
         margin-right: 11px;
      }
      &:hover{
         &:is(a){
            p{
               color: $bodyColorSecondary;
            }
         }
      }
      &:is(div){
         margin-bottom: 0;
      }
   }
   &__soc{
      display: flex;
      margin-top: 47px;
      a{
         text-decoration: none;
         display: flex;
         align-items: center;
         justify-content: center;
         height: 60px;
         width: 60px;
         border-radius: 50%;
         border: solid 1px $bodyBorderColorSecondary;
         transition: $transition;
         &:not(:last-of-type){
            margin-right: 20px;
         }
         &:hover{
            border-color: $bodyColorSecondary;
            background: $bodyColorSecondary;
         }
      }
   }
   &__map{
      height: 754px;
      width: 100%;
   }
}

@media only screen and (max-width: 1200px){
   .contacts{
      &__text{
         margin-bottom: 47px;
      }
      &__section{
         padding: 65px 0;
         .row{
            display: flex;
         }
         .col{
            width: calc(50% - 15px);
            margin-right: 30px;
            &:nth-of-type(even){
               margin-right: 0;
            }
         }
      }
      &__map{
         height: 500px;
      }
   }
}

@media only screen and (max-width: 576px){
   .contacts{
      &__section{
         .row{
            display: block;
         }
         .col{
            width: 100%;
            margin-right: 0;
            &:nth-of-type(2){
               display: block;
            }
         }
      }
      &__map{
         height: 400px;
      }
   }
}

.feedback{
   &__section{
      padding: 124px 0 165px;
      .textarea{
         margin-bottom: 26px;
         margin-top: 26px;
      }
      .input-row{
         margin-bottom: 29px;
      }
      .checkbox{
         margin-bottom: 49px;
      }
   }
   &__text{
      margin: 18px 0 46px 0;
   }
   &__input{
      margin-bottom: 26px;
   }
   &__checkbox{
      margin-top: 29px;
   }
   &__bottom{
      display: flex;
      justify-content: center;
   }
   &__form{
      max-width: 620px;
      margin-left: auto;
      margin-right: auto;
   }
   &__title{
      margin: 14px 0 56px;
   }
}

@media only screen and (max-width: 1200px){
   .feedback{
      &__section{
         padding: 62px 0 82.5px;
      }
   }
}


@media only screen and (max-width: 576px){
   .feedback{
      &__section{
         padding: 62px 0;
      }
   }
}