$bodyBackgroundPrimary: var(--kmnd-body-background-primary);
$bodyBackgroundSecondary: var(--kmnd-body-background-secondary);
$bodyBackgroundTertiary: var(--kmnd-body-background-tertiary);
$bodyBackgroundAccent: var(--kmnd-body-background-accent);
$bodyBackgroundPrimaryInverted: var(--kmnd-body-background-primary-inverted);
$bodyBackgroundSecondaryInverted: var(--kmnd-body-background-secondary-inverted);

$bodyColorPrimary: var(--kmnd-body-color-primary);
$bodyColorSecondary: var(--kmnd-body-color-secondary);
$bodyColorTertiary: var(--kmnd-body-color-tertiary);
$bodyColorAccent: var(--kmnd-body-color-accent);
$bodyColorPrimaryInverted: var(--kmnd-body-color-primary-inverted);
$bodyColorSecondaryInverted: var(--kmnd-body-color-secondary-inverted);
$bodyColorTertiaryInverted: var(--kmnd-body-color-tertiary-inverted);
$bodyColorNeutralInverted: var(--kmnd-body-color-neutral-inverted);

$bodyFontPrimary: var(--kmnd-body-font-family-primary);

$fontSize: var(--kmnd-font-size);
$lineHeight: var(--kmnd-line-height);

$containerMaxWidth: var(--kmnd-container-max-width);
$containerMaxWidthTablet: var(--kmnd-container-max-width-tablet);
$containerPadding: var(--kmnd-container-padding);

$transition: var(--kmnd-transition);