.footer{
   &__row{
      padding: 128px 0 93px;
      display: flex;
      flex-wrap: wrap;
   }
   &__col{
      width: calc(100% / 5);
      &_secondary{
         padding-top: 41px;
         .footer{
            &__title{
               margin-top: 26px;
               margin-bottom: 6px;
            }
         }
      }
      &_tertiary{
         p{
            margin-bottom: 6px;
            &:first-of-type{
               margin-bottom: 21px;
            }
         }
         ul{
            margin-bottom: 21px;
         }
      }
   }
   &__logo{
      display: block;
      text-decoration: none;
      height: 57px;
      width: auto;
      margin-bottom: 22px;
      img{
         height: 100%;
         width: auto;
         display: block;
      }
      & + p{
         line-height: 1.5rem;
      }
   }
   &__title{
      margin-bottom: 21px;
      color: #fff;
      a{
         text-decoration: none;
         color: inherit;
      }
   }
   &__subtitle{
      color: #C3C3C2;
      margin-bottom: 6px;
      font-size: 0.625rem;
      position: relative;
      padding-left: 11px;
      a{
         text-decoration: none;
         color: inherit;
      }
      &:before{
         content: '';
         position: absolute;
         left: 0;
         top: 3px;
         width: 5px;
         height: 5px;
         border-radius: 50%;
         background: $bodyBackgroundAccent;
      }
   }
   ul{
      list-style: none;
      li{
         color: #8C8C8C;
         font-size: 0.5rem;
         text-transform: uppercase;
         a{
            text-decoration: none;
            color: inherit;
         }
         &.footer{
            &__link{
               &_secondary{
                  font-size: 0.625rem;
               }
            }
         }
      }
   }
   &__select{
      outline: none;
      box-shadow: none;
      border: none;
      border-bottom: 1px solid #6E6E6E;
      font-size: 0.625rem;
      color: #C3C3C2;
      text-transform: uppercase;
      width: 127px;
      &:hover, &:active, &:focus{
         border-bottom: 1px solid #6E6E6E;
      }
   }
   &__soc{
      display: flex;
      margin-bottom: 26px;
      a{
         text-decoration: none;
         display: block;
         margin-right: 10px;
         img{
            height: 32px;
            width: 32px;
            display: block;
         }
      }
   }
   &__email{
      color: #fff;
      margin: 31px 0 22px;
      a{
         text-decoration: none;
         color: inherit;
      }
   }
   &__phone{
      color: #fff;
      a{
         text-decoration: none;
         color: inherit;
      }
   }
   &__location{
      color: #fff;
      line-height: 1.5rem;
   }
   hr{
      border: none;
      margin: 0;
      border-top: solid 1px #6E6E6E;
   }
   &__line{
      padding: 15px 0 28px;
      display: flex;
      justify-content: space-between;
   }
   &__line1{
      font-size: 0.625rem;
      text-transform: uppercase;
      color: #4F4F4F;
   }
   &__line2{
      color: #4F4F4F;
      font-size: 0.5rem;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
   }
   &__line3{
      color: #234E68;
      letter-spacing: 0.05em;
      font-size: 0.625rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      a{
         text-decoration: underline;
         color: inherit;
      }
   }
}

.footer-mobile{
   display: none;
   padding: 58px 0 20px;
   &__soc{
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      a{
         text-decoration: none;
         display: block;
         margin-right: 10px;
         &:last-of-type{
            margin-right: 0;
         }
         &:first-of-type{
            margin-left: 19px;
         }
         img{
            height: 32px;
            width: 32px;
            display: block;
         }
      }
   }
   &__row{
      display: flex;
      flex-wrap: wrap;
   }
   &__col{
      width: calc(50% - 15px);
      margin-right: 15px;
      &:nth-of-type(even){
         margin-right: 0;
      }
   }
   &__title{
      margin-bottom: 13px;
      &_secondary{
         margin-top: 24px;
         margin-bottom: 11px;
      }
      &_tertiary{
         margin-top: 32px;
      }
      &_fourth{
         margin-top: 0;
         margin-bottom: 11px;
      }
   }
   .footer__link_secondary{
      font-size: 0.75rem;
      margin-bottom: 3px;
      &:last-of-type{
         margin-bottom: 0;
      }
   }
   .footer__subtitle{
      font-size: 0.75rem;
   }
   &__subtitle{
      margin-top: 72px;
      &_secondary{
         font-size: 0.625rem;
      }
   }
   ul{
      list-style: none;
      li{
         color: #8C8C8C;
         font-size: 0.5rem;
         text-transform: uppercase;
         margin-bottom: 4px;
         a{
            text-decoration: none;
            color: inherit;
         }
         &.footer{
            &__link{
               &_secondary{
                  font-size: 0.625rem;
               }
            }
         }
      }
   }
   &__btn{
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: #FFFFFF;
      font-size: 0.875rem;
      text-transform: uppercase;
      padding: 10px 0;
      background: $bodyBackgroundAccent;
      margin: 37px 0 50px;
      img{
         height: 24px;
         display: block;
         width: auto;
         margin-right: 11px;
      }
   }
   &__logo{
      display: flex;
      text-decoration: none;
      margin-top: 24px;
      margin-bottom: 20px;
      img{
         width: 74px;
         height: auto;
         display: block;
         margin-right: 27px;
      }
      p{
         font-size: 0.625rem;
      }
   }
   hr{
      border: none;
      margin: 0;
      border-top: solid 1px #6E6E6E;
   }
   &__copy{
      font-size: 0.625rem;
      color: #4F4F4F;
      text-transform: uppercase;
      margin-top: 13px;
   }
   &__policy{
      color: #234E68;
      text-transform: uppercase;
      font-size: 0.625rem;
      a{
         text-decoration: underline;
         color: inherit;
      }
   }
}

@media (max-width: 576px){
   .footer{
      display: none;
   }
   .footer-mobile{
      display: block;
   }
}

@media (max-width: 350px){
   .footer{
      &__phone{
         font-size: 1rem;
      }
      &__title{
         &.fz-md{
            font-size: 0.875rem;
         }
      }
   }
}