.article{
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   max-width: 1000px;
   a{
      text-decoration: none;
      color: $bodyColorPrimary;
      border-bottom: solid 1px $bodyBorderColorPrimary;
      transition: $transition;
      &:hover{
         border-color: #fff;
      }
   }
   p{
      color: $bodyColorTertiary;
      font-size: 0.938rem;
      letter-spacing: -0.03em;
      line-height: 1.35;
      &:not(:last-child){
         margin-bottom: 15px;
      }
   }
   h2{
      text-align: center;
      margin: 0;
      color: $bodyColorPrimary;
      font-family: $bodyColorSecondary;
      font-size: 1.125rem;
      line-height: 1.05;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      &:not(:last-child){
         margin-bottom: 15px;
      }
      &:not(:first-child){
         margin-top: 40px;
      }
   }
   img{
      display: block;
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      margin-left: auto;
      margin-right: auto;
      &:not(:last-child){
         margin-bottom: 40px;
      }
      &:not(:first-child){
         margin-top: 40px;
      }
   }
   ul{
      list-style: none;
      li{
         font-size: 0.938rem;
         line-height: 1.35;
         color: $bodyColorTertiary;
         padding-left: 19px;
         position: relative;
         letter-spacing: -0.03em;
         &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 6px;
            border: solid 1px #fff;
            width: 9px;
            height: 9px;
            border-radius: 50%;
         }
         &:not(:last-child){
            margin-bottom: 10px;
         }
      }
      &:not(:last-child){
         margin-bottom: 25px;
      }
      &:not(:first-child){
         margin-top: 19px;
      }
   }
   ol{
      list-style: none;
      counter-reset: customNumbers;
      & > li{
         font-size: 0.938rem;
         line-height: 1.35;
         color: $bodyColorTertiary;
         padding-left: 19px;
         position: relative;
         letter-spacing: -0.03em;
         counter-increment: customNumbers;
         &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0px;
            content: counter(customNumbers) ". ";
            color: $bodyColorPrimary;
         }
         &:not(:last-child){
            margin-bottom: 10px;
         }
      }
      &:not(:last-child){
         margin-bottom: 25px;
      }
      &:not(:first-child){
         margin-top: 19px;
      }
   }
   &__section{
      padding-top: 30px;
   }
   &__image{
      width: 100%;
      position: relative;
      display: block;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 30px;
      &:after{
         content: '';
         position: relative;
         display: block;
         padding-top: 57.971%;
      }
      img{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
         display: block;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__sharing{
      max-width: 1000px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      border-top: 1px solid $bodyBorderColorPrimary;
      margin-top: 30px;
      padding-top: 30px;
      p{
         font-family: $bodyFontSecondary;
         font-size: 0.875rem;
         letter-spacing: -0.04em;
         color: $bodyColorTertiary;
         text-transform: uppercase;
         text-align: center;
         margin-bottom: 20px;
      }
   }
   &__sharing-soc{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px 5px;
   }
   &__sharing-soc-item{
      min-height: 40px;
      padding: 10px 12px 8px;
      border-color: $bodyBorderColorPrimary !important;
      img, svg{
         margin-right: 10px;
         position: relative;
         top: -1px;
      }
   }
}

@media only screen and (min-width: 993px){
   .article{
      p{
         font-size: 1.125rem;
         &:not(:last-child){
            margin-bottom: 25px;
         }
      }
      h2{
         font-size: 1.25rem;
         &:not(:last-child){
            margin-bottom: 25px;
         }
         &:not(:first-child){
            margin-top: 40px;
         }
      }
      img{
         &:not(:last-child){
            margin-bottom: 60px;
         }
         &:not(:first-child){
            margin-top: 60px;
         }
      }
      ul{
         &:not(:last-child){
            margin-bottom: 25px;
         }
         &:not(:first-child){
            margin-top: 15px;
         }
         li{  
            font-size: 1.125rem;
            padding-left: 24px;
            &:before{
               top: 8px;
            }
            &:not(:last-child){
               margin-bottom: 10px;
            }
         }
      }
      ol{
         &:not(:last-child){
            margin-bottom: 25px;
         }
         &:not(:first-child){
            margin-top: 15px;
         }
         & > li{  
            font-size: 1.125rem;
            padding-left: 24px;
            &:not(:last-child){
               margin-bottom: 10px;
            }
            & > ul{
               margin-top: 15px;
            }
         }
      }
      &__section{
         // padding-top: 60px;
      padding-top: 30px;
      }
      &__image{
         margin-bottom: 60px;
         &:after{
            padding-top: 33.11258278145696%;
         }
      }
      &__sharing{
         margin-top: 60px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         gap: 5px;
         p{
            margin-bottom: 0;
         }
      }
      &__sharing-soc{
         flex-wrap: unset;
      }
      &__sharing-soc-item{
         &:hover{
            border-color: $bodyBorderColorSecondary !important;
         }
      }
   }
}

.similar{
   &__section{
      // padding-top: 60px;
      // padding-top: 30px;
      padding-top: 15px;
      // padding-bottom: 60px;
      padding-bottom: 30px;
   }
   &__title{
      margin-bottom: 20px;
   }
   &__slider-wrapper{
      position: relative;
      width: 100vw;
      left: -15px;
      overflow: hidden;
   }
   &__slider{
      width: 280vw;
      position: relative;
      left: -90vw;
      .swiper-slide{
         outline: none !important;
         box-shadow: none !important;
         border: none !important;
         text-decoration: none !important;
      }
   }
   &__arrow{
      display: none;
   }
   &__pagination{
      margin-top: 20px !important;
   }
}

@media only screen and (min-width: 993px){
   .similar{
      &__section{
         padding-top: 60px;
         // padding-bottom: 120px;
         padding-bottom: 60px;
      }
      &__title{
         margin-bottom: 30px;
      }
      &__slider-wrapper{
         width: 100%;
         left: 0;
         overflow: unset;
      }
      &__slider{
         width: 100%;
         left: 0;
      }
      &__pagination{
         display: none !important;
      }
      &__arrow{
         display: block;
         position: absolute;
         top: 50%;
         z-index: 1;
         &_prev{
            transform: translate(-50%,-50%);
            left: 0px;
         }
         &_next{
            right: 0px;
            transform: translate(50%,-50%);
         }
      }
   }
}

@media only screen and (min-width: 1600px){
   .similar{
      &__arrow{
         &_prev{
            transform: translate(-50%,-50%);
            left: 0px;
         }
         &_next{
            transform: translate(50%,-50%);
            right: 0px;
         }
      }
   }
}