.order{
   &__section{
      // padding-bottom: 60px;
      padding-bottom: 30px;
      .show-for-large{
         display: none !important;
      }
      .hide-for-large{
         display: block !important;
      }
      .fieldset{
         margin-top: 30px;
         .legend{
            transition: $transition;
         }
         &_error{
            .legend{
               color: #EC3737;
            }
            .order{
               &__error{
                  display: block;
               }
            }
         }
      }
      .radio, .input{
         label.error{
            display: none !important;
         }
      }
   }
   &__cart{
      border-radius: 8px;
      background: linear-gradient(154.71deg, #141414 29.58%, #10100F 85.85%);
      margin-top: 20px;
      &_full{
         margin-top: 30px;
         border-radius: 8px 8px 0 0;
      }
   }
   &__cart-heading{
      padding: 30px 20px 20px;
      border-bottom: solid 1px $bodyBorderColorPrimary;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
   }
   &__cart-heading-title{
      font-family: $bodyFontSecondary;
      letter-spacing: -0.06em;
      text-transform: uppercase;
   }
   &__cart-clear{
      font-family: $bodyFontSecondary;
      letter-spacing: -0.06em;
      text-transform: uppercase;
      font-size: 0.75rem;
      color: $bodyColorTertiary;
      opacity: 0.3;
      transition: $transition;
      cursor: pointer;
      &:hover{
         opacity: 1;
         color: $bodyColorAccent;
      }
   }
   &__cart-list{
      padding: 20px 20px 30px;
   }
   &__cart-item{
      display: flex;
      a{
         text-decoration: none;
         display: block;
      }
      &:not(:last-of-type){
         margin-bottom: 20px;
         padding-bottom: 20px;
         border-bottom: solid 1px $bodyBorderColorPrimary;
      }
   }
   &__cart-image{
      height: 90px;
      width: 90px;
      border-radius: 8px;
      border: solid 2px $bodyBorderColorPrimary;
      position: relative;
      flex-shrink: 0;
      figure{
         height: 73px;
         width: 73px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
      }
      img{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         display: block;
         object-fit: contain;
      }
   }
   &__cart-body{
      position: relative;
      padding: 11px 20px 0 15px;
      flex: 1;
   }
   &__cart-title{
      font-family: $bodyFontSecondary;
      font-size: 1rem;
      line-height: 1.15;
      letter-spacing: -0.04em;
      margin-bottom: 10px;
      color: $bodyColorPrimary;
      text-transform: uppercase;
   }
   &__cart-weight{
      font-size: 0.938rem;
      letter-spacing: -0.03em;
      margin-bottom: 15px;
      max-width: 128px;
      span{
         color: $bodyColorTertiary;
      }
   }
   &__cart-remove{
      position: absolute;
      top: 0;
      right: 0;
      path{
         stroke: #2e2e2e;
         opacity: 1;
      }
   }
   &__cart-price{
      position: absolute;
      bottom: 5px;
      right: 0;
      font-family: $bodyFontSecondary;
      letter-spacing: -0.04em;
      font-size: 1rem;
      span{
         font-size: 0.75rem;
         text-transform: uppercase;
      }
   }
   &__cart-bottom{
      padding: 20px 20px 27px;
      position: relative;
   }
   &__cart-specs{
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   &__cart-specs-item{
      min-height: 50px;
      border-radius: 8px;
      border: solid 2px $bodyBorderColorPrimary;
      padding: 15px 18px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.938rem;
      p{
         &:nth-of-type(1){
            letter-spacing: -0.03em;
            color: $bodyColorTertiary;
         }
         &:nth-of-type(2){
            letter-spacing: -0.04em;
            text-transform: uppercase;
            font-family: $bodyFontSecondary;
            position: relative;
            bottom: -2px;
         }
      }
   }
   &__cart-total{
      margin-top: 20px;
      padding-top: 19px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $bodyBorderColorPrimary;
      margin-bottom: 22px;
      p{
         &:nth-of-type(1){
            font-size: 0.938rem;
            letter-spacing: -0.03em;
            color: $bodyColorTertiary;
         }
         &:nth-of-type(2){
            font-size: 1.25rem;
            font-family: $bodyFontSecondary;
            text-transform: uppercase;
            letter-spacing: -0.04em;
            span{
               font-size: 1rem;
            }
         }
      }
   }
   &__cart-btn{
      width: 100%;
   }
   &__types{
      position: relative;
      z-index: 1;
      display: flex;
      margin-left: 10px;
      gap: 10px;
   }
   &__type{
      min-height: 34px;
      min-width: 60px;
      border-radius: 6px;
      background: $bodyBackgroundPrimary;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
         max-height: 20px;
         max-width: 42px;
         display: block;
      }
   }
   &__payment-type{
      border-bottom: none !important;
      padding-bottom: 0 !important;
   }
   &__textarea{
      margin-top: 30px;
      textarea{
         min-height: 160px;
      }
   }
   &__discount{
      &.input{
         margin-top: 10px;
         input{
            padding-right: 50px;
         }
      }
      &_hidden{
         display: none;
      }
   }
   &__discount-holder{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      z-index: 1;
      display: flex;
      align-items: center;
      cursor: pointer;
      svg{
         height: 20px;
         width: auto;
         display: block;
         path{
            transition: $transition;
         }
      }
      &_active{
         path{
            &:nth-of-type(1), &:nth-of-type(2){
               stroke: #ED1A21;
            }
            &:nth-of-type(3){
               fill: #ED1A21;
            }
         }
         .order{
            &__discount-content{
               opacity: 1;
            }
         }
      }
      &:hover{
         path{
            &:nth-of-type(1), &:nth-of-type(2){
               stroke: #ED1A21;
            }
            &:nth-of-type(3){
               fill: #ED1A21;
            }
         }
         .order{
            &__discount-content{
               opacity: 1;
            }
         }
      }
   }
   &__discount-content{
      position: absolute;
      top: -16px;
      right: -17px;
      transform: translateY(-100%);
      width: 259px;
      padding: 20px;
      box-sizing: border-box;
      font-size: 0.938rem;
      letter-spacing: -0.03em;
      line-height: 1.25;
      background: #2A2A2A;
      border-radius: 8px;
      text-align: center;
      pointer-events: none;
      opacity: 0;
      transition: $transition;
      &:after{
         content: '';
         display: block;
         position: absolute;
         bottom: 15px;
         right: 8px;
         transform: translateY(100%);
         background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%232A2A2A' d='M17.919 8.18H6.079c-.96 0-1.44 1.16-.76 1.84l5.18 5.18c.83.83 2.18.83 3.01 0l1.97-1.97 3.21-3.21c.67-.68.19-1.84-.77-1.84Z'/%3E%3C/svg%3E") no-repeat center / contain;
         width: 40px;
         height: 40px;
      }
   }
   &__payment{
      &_hidden{
         display: none;
      }
   }
   &__delivery{
      margin-top: 10px;
      &_hidden{
         display: none;
      }
   }
   &__delivery-row{
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px 5px;
      .input{
         width: calc((100% - 5px) / 2);
      }
   }
   &__error{
      color: #EC3737;
      font-size: 0.938rem;
      letter-spacing: -0.03em;
      margin-top: 20px;
      display: none;
   }
   &__cart-error{
      color: #EC3737;
      letter-spacing: -0.03em;
      font-size: 0.938rem;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      bottom: 2px;
      width: 100%;
      text-align: center;
      z-index: 1;
      display: none;
      &_active{
         display: block;
      }
   }
   &__bottom-icon{
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 100%;
      height: auto;
      display: block;
      transform: translateY(100%);
   }
}

@media only screen and (min-width: 1350px){
   .order{
      &__section{
         padding-top: 30px;
         // padding-bottom: 120px;
         padding-bottom: 60px;
         .hide-for-large{
            display: none !important;
         }
         .show-for-large{
            display: block !important;
         }
      }
      &__row{
         display: flex;
         gap: 40px;
      }
      &__col{
         &:nth-of-type(1){
            width: 56.95364238410596%;
         }
         &:nth-of-type(2){
            width: 40.397350993377486%;
         }
      }
      &__cart{
         margin-top: 0;
         border-radius: 8px 8px 0 0;
         &_full{
            margin-top: 0;
         }
      }
      &__cart-heading{
         padding: 30px 25px 25px;
      }
      &__cart-heading-title{
         font-size: 1.125rem;
      }
      &__cart-clear{
         font-size: 0.875rem;
      }
      &__cart-list{
         padding: 20px 25px;
      }
      &__cart-item{
         align-items: flex-start;
         &_kit{
            position: relative;
            align-items: center;
            .order{
               &__cart-body{
                  padding-top: 0;
                  position: unset;
               }
               &__cart-remove{
                  display: none;
               }
               &__cart-weight{
                  margin-bottom: 0;
               }
            }
         }
      }
      &__cart-image{
         height: 100px;
         width: 100px;
         figure{
            height: 81px;
            width: 81px;
         }
      }
      &__cart-body{
         padding: 11px 100px 0 20px;
      }
      &__cart-title{
         font-size: 1.125rem;
         margin-bottom: 10px;
      }
      &__cart-weight{
         margin-bottom: 20px;
         max-width: unset;
      }
      &__cart-remove{
         top: auto;
         bottom: 4px;
         cursor: pointer;
         svg{
            path{
               stroke: #6C6C6C;
               transition: $transition;
            }
         }
         &:hover{
            path{
               stroke: #ED1A21;
               opacity: 1;
            }
         }
      }
      &__cart-price{
         bottom: auto;
         top: 10px;
         font-size: 1.125rem;
         span{
            font-size: 1rem;
         }
      }
      &__cart-bottom{
         padding: 20px 25px 37px;
         border-top: 1px solid $bodyBorderColorPrimary;
      }
      &__cart-specs{
         flex-direction: row;
         gap: 20px;
         .order{
            &__cart-specs-item{
               width: calc(50% - 10px);
            }
         }
      }
      &__cart-specs-item{
         padding: 14px 18px;
         p{
            &:nth-of-type(1){
               font-size: 1.063rem;
            }
            &:nth-of-type(2){
               span{
                  font-size: 0.688rem;
               }
            }
         }
      }
      &__cart-total{
         margin-bottom: 25px;
         padding-top: 20px;
         p{
            &:nth-of-type(1){
               font-size: 1.063rem;
            }
            &:nth-of-type(2){
               font-size: 1.375rem;
               span{
                  font-size: 1.125rem;
               }
            }
         }
      }
      &__cart-btn{
         font-size: 0.938rem;
      }
      &__types{
         margin-left: 15px;
      }
      &__textarea{
         margin-top: 40px;
         textarea{
            font-size: 1rem;
         }
      }
      &__discrount-holder{
         right: 20px;
      }
      &__delivery{
         margin-top: 20px;
      }
      &__delivery-row{
         flex-wrap: unset;
         gap: 20px;
         margin-top: 20px;
         .input{
            width: calc((100% - 60px) / 4);
         }
      }
      &__cart-error{
         bottom: 8px;
      }
   }
}