.category{
   &__section{
      padding-top: 10px;
      z-index: 2 !important;
   }
   &__heading-holder{
      padding-top: 10px;
      position: relative;
      box-sizing: border-box;
   }
   &__heading-inner{
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      // transition: $transition;
      z-index: 5;
      &_fixed{
         background: #050505;
         position: fixed;
         top: 66px;
      }
   }
   &__heading{
      padding-bottom: 10px;
      padding-top: 10px;
   }
   &__filters{
      display: flex;
      gap: 5px;
      width: 100vw;
      position: relative;
      left: -15px;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      margin-bottom: 15px;
      &::-webkit-scrollbar {
         display: none;
      }
   }
   &__filter{
      text-decoration: none;
      color: $bodyColorPrimary;
      display: block;
      box-sizing: border-box;
      min-height: 40px;
      font-size: 0.75rem;
      letter-spacing: -0.04em;
      padding: 14px 14px 10px;
      border: solid 2px $bodyBorderColorPrimary;
      border-radius: 8px;
      font-family: $bodyFontSecondary;
      text-transform: uppercase;
      transition: $transition;
      white-space: nowrap;
      &:first-of-type{
         margin-left: 15px;
      }
      &:last-of-type{
         margin-right: 15px;
      }
      &_current{
         border-color: $bodyBorderColorSecondary;
         background: $bodyBackgroundAccent;
      }
   }
   &__types{
      display: flex;
      gap: 20px;
      .checkbox{
         label{
            color: $bodyColorPrimary;
            &:before{
               border-color: #fff;
            }
         }
      }
   }
   &__grid{
      display: flex;
      flex-direction: column;
      gap: 15px;
      &:not(:last-of-type){
         margin-bottom: 15px;
      }
   }
}

@media only screen and (min-width: 768px){
   .category{
      &__grid{
         flex-direction: row;
         gap: 20px;
         flex-wrap: wrap;
         &:not(:last-of-type){
            margin-bottom: 20px;
         }
      }
      &__col{
         width: calc(50% - 10px);
      }
   }
}

@media only screen and (min-width: 993px){
   .category{
      &__section{
      // padding-top: 60px;
         padding-top: 30px;
      }
      &__heading-holder{
         padding-top: 20px;
      }
      &__heading-inner{
         top: 20px;
         &_fixed{
            top: 141px;
         }
      }
      &__heading{
         padding-bottom: 20px;
         display: flex;
         align-items: flex-start;
         padding-top: 20px;
      }
      &__filters{
         width: auto;
         margin-bottom: 0px;
         gap: 15px 10px;
         flex-wrap: wrap;
         overflow: unset;
         left: 0;
      }
      &__filter{
         min-height: 50px;
         font-size: 0.813rem;
         padding: 18px 18px 14px;
         transition: $transition;
         &:first-of-type{
            margin-left: 0;
         }
         &:last-of-type{
            margin-right: 0;
         }
         &:hover{
            border-color: $bodyBorderColorSecondary;
            background: $bodyBackgroundAccent;
         }
         &:not(.category__filter_current){
            position: relative;
            overflow: hidden;
            background: none !important;
            z-index: 0;
            span:last-of-type{
               position: absolute;
               display: block;
               border-radius: 50%;
               background: $bodyBackgroundAccent;
               transition: width 0.4s ease;
               z-index: -1;
               transform: translate(-50%, -50%);
               width: 0%;
               &:after{
                 content: '';
                 display: block;
                 position: relative;
                 padding-top: 100%;
               }
             }
             &:hover{
               span{
                 width: 300%;
               }
             }
         }
      }
      &__types{
         gap: 30px;
         position: relative;
         top: 11px;
         margin-left: auto;
      }
   }
}

@media only screen and (min-width: 1280px){
   .category{
      &__col{
         width: calc((100% - 40px) / 3);
      }
   }
}


@media only screen and (min-width: 1280px) and (max-width: 1439px){
   .category{
      &__col{
         width: calc((100% - 34px) / 3);
      }
      &__grid{
         gap: 17px;
      }
   }
}

@media only screen and (min-width: 1152px) and (max-width: 1439px){
   .category{
      &__heading-inner{
         &_fixed{
            top: 106px;
         }
      }
   }
}