.block-slider{
	position: relative;
	padding: 0;
}

.slider-prev{
	position: absolute;
	top: 50%;
	left: calc((50% - 685px));
	cursor: pointer;
	z-index: 1;
	transition: $transition;
	&:hover{
		transform: translateX(-10px);
	}
}

.slider-next{
	position: absolute;
	top: 50%;
	right: calc((50% - 685px));
	cursor: pointer;
	z-index: 1;
	transition: $transition;
	&:hover{
		transform: translateX(10px);
	}
}

.slider-item{
	min-height: 100vh;
	padding-top: 105px;
	position: relative;
	outline: none;
	box-shadow: none;
	border: none;
	display: none;
	&:first-of-type{
		display: block;
	}
	&.slick-slide{
		display: block;
	}
}

.slider-item-content{
	height: 100%;
	display: flex;
	align-items: center;
	min-height: calc(100vh - 105px);
	z-index: 1;
	position: relative;
}

.slider-item-background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background: $bodyBackground;
		opacity: 0.3;
	}
}

.slider-item-text{
	font-family: $tertiaryFont;
	font-size: 4.75rem;
	text-transform: uppercase;
	text-align: center;
	font-weight: 300;
	line-height: 4.5rem;
}

.slider-item-button{
	margin: 40px auto 0;
}

@media (max-width: 1400px){
	.slider-prev{
		left: 15px;
	}
	.slider-next{
		right: 15px;
	}	
}

@media (max-width: 1200px){
	.slider-prev{
		display: none!important;
	}
	.slider-next{
		display: none!important;
	}
}

@media (max-width: 992px){
	.slider-item{
		padding-top: 69px;
	}
	.slider-item-content{
		min-height: calc(100vh - 69px);
	}
	.slider-wrapper{
		.slick-dots{
			position: absolute;
			bottom: 30px;
			left: 50%;
			transform: translateX(-50%);
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: center;
			li{
				margin-right: 5px;
				&:last-of-type{
					margin-right: 0;
				}
				button{
					outline: none;
					box-shadow: none;
					border: none;
					background: none;
					height: 35px;
					width: 35px;
					color: rgba(0,0,0,0);
					font-size: 0;
					line-height: 0;
					position: relative;
					&:after{
						content: '';
						display: block;
						height: 6px;
						width: 6px;
						background: $bodyColor;
						border-radius: 50%;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%,-50%);
					}
					&:before{
						content: '';
						height: 100%;
						width: 100%;
						display: block;
						border-radius: 50%;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%,-50%);
						border: solid 1px $bodyColor;
						opacity: 0;
						transition: $transition;
					}
				}
				&.slick-active{
					button{
						&:before{
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.slider-item-text{
		font-size: 1.6rem;
		line-height: 2.5rem;
	}
	.slider-item-button{
		margin-top: 20px;
	}
}

.block-video{
	figure{
		width: 100%;
		height: 450px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.cta_link{
		width: 250px;
		height: 250px;
		&:before{
			top: 1px;
			left: 1px;
			width: calc(100% - 2px);
			height: calc(100% - 2px);
		}
		svg{
			transition: transform 1.32s ease;
			circle{
				stroke-dasharray: 800;
    			stroke-dashoffset: 800;
    			transition: stroke-dashoffset .92s ease-out;
			}
		}
		&:hover{
			svg{
				circle{
					stroke-dashoffset: 0;
    				transition: stroke-dashoffset 1.18s cubic-bezier(.55,.46,.05,.65);
				}
			}
		}
	}
}

@media (max-width: 992px){
	.block-video{
		.cta_link{
			width: 141px;
			height: 141px;
		}
	}
}

.article-title{
	font-family: $tertiaryFont;
	line-height: 1.033em;
    letter-spacing: .025em;
    font-size: 3.8125rem;
    margin: 0 0 30px;
}

.article-text{
	font-family: $secondaryFont;
	font-size: 1rem;
	line-height: 1.875rem;
	color: rgba(255,255,255,0.7);
	margin: 30px 0;
	max-width: 750px;
	&:last-of-type{
		margin-bottom: 0;
	}
	a{
		color: rgba(255,255,255,0.7);
		font-family: $tertiaryFont;
		text-decoration: none;
		transition: $transition;
		border-bottom: 1px solid currentColor;
		&:hover{
			color: $bodyColor;
		}
	}
	span{
		color: $bodyColor;
	}
}

.article-images{
	display: flex;
	margin: 30px 0;
	img{
		margin-right: 15px;
		&:last-of-type{
			margin-right: 0;
		}
	}
}

.article-quote{
	max-width: 750px;
	display: block;
	font-family: $tertiaryFont;
	margin: 48px 0 42px 0;
	font-size: 2.375rem;
    line-height: 1.105em;
    letter-spacing: -.01em;
    font-style: italic;
    padding-left: 89px;
    color: $bodyColor;
    position: relative;
	&:before{
		content: "”";
		font-size: 4.6875rem;
		height: 30px;
		width: 30px;
		display: block;
		position: absolute;
		left: 35px;
		top: 15px;
	}
	&:after{
		content: '';
		display: block;
		height: 100px;
		width: 100px;
		border: solid 1px $bodyColor;
		border-radius: 50%;
		opacity: 0.5;
		top: -30px;
		left: 0;
		position: absolute;
	}
}

.article-list{
	margin-left: 20px;
	li{
		// font-family: $secondaryFont;
		font-size: 1rem;
		line-height: 1.875rem;
		color: rgba(255,255,255,0.7);
		margin: 10px 0;
		span{
			color: $bodyColor;
		}
	}
}

@media (max-width: 992px){
	.article-title{
		font-size: 2rem;
	}	
	.article-quote{
		padding-left: 0;
		padding-top: 0;
		font-size: 2rem;
		// text-align: center;
		&:before, &:after{
			display: none;
		}
	}
	.article-text, .article-list li{
		font-size: 1rem;
		line-height: 1.4rem;
	}
	.article-images{
		display: block;
		img{
			margin-right: 0;
			margin-bottom: 30px;
			&:last-of-type{
				margin-bottom: 30px;
			}
		}
	}
}

.columns-title{
	font-family: $tertiaryFont;
	line-height: 1.033em;
    letter-spacing: .025em;
    font-size: 3.8125rem;
    margin: 0 0 30px;
    font-weight: 400;
    color: $bodyColor;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.col{
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
	margin-bottom: 30px;
	&:nth-of-type(3n+3){
		margin-right: 0;
	}
	&:nth-last-of-type(1), &:nth-last-of-type(2), &:nth-last-of-type(3){
		margin-bottom: 0;
	}
}

.columns-item{
	width: 100%;
	position: relative;
	display: block;
	text-decoration: none;
	overflow: hidden;
	&:after{
		content: '';
		display: block;
		padding-top: 136.71%;
	}
	&:hover{
		.columns-item-shadow{
			opacity: 0.7;
		}
		.columns-item-content{
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.columns-item-shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $bodyBackground;
	opacity: 0;
	transition: $transition;
}

.columns-item-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	transition: $transition;
	opacity: 0;
	transform: translateY(20px);
	p{
		&:first-of-type{
			color: $bodySecondaryColor;
			text-transform: uppercase;
			font-size: 0.6875rem;
		    line-height: 1.4em;
		    letter-spacing: .2em;
		    margin-bottom: 5px;
		}
		&:last-of-type{
			font-family: $tertiaryFont;
			color: $bodyColor;
			text-transform: uppercase;
			font-size: 1.9375rem;
		    line-height: 1.161em;
		    letter-spacing: .035em;
		}
	}
}

@media (max-width: 992px){
	.row{
		display: block;
	}
	.col{
		margin-right: 0;
		width: 100%;
		&:nth-last-of-type(2), &:nth-last-of-type(3){
			margin-bottom: 30px;
		}
	}
	.columns-item{
		.columns-item-shadow{
			opacity: 0.7;
		}
		.columns-item-content{
			opacity: 1;
			transform: translateY(0);
		}
	}
	.columns-title{
		font-size: 2rem;
		margin-bottom: 20px;
	}
}

.faq-row{
	display: flex;
}

.faq-col{
	width: calc(50% - 30px);
	margin-right: 60px;
	&:nth-of-type(even){
		margin-right: 0;
	}
}

.faq-item{
	margin-bottom: 19px;
	border: solid 1px $borderColor;
	&:last-of-type{
		margin-bottom: 0;
	}
	&.active{
		.faq-head{
			&:after{
				transform: rotate(180deg);
			}
		}
		.faq-content{
			padding: 27px 44px 13px 26px;
			max-height: 600px;
		}
	}
}

.faq-head{
	width: 100%;
	color: $bodyColor;
	padding: 18px 44px 18px 25px;
	position: relative;
	// font-family: $tertiaryFont;
	// text-transform: uppercase;
	font-size: 1rem;
    line-height: 1.182em;
    letter-spacing: .035em;
    // border: solid 1px $borderColor;
    border-bottom: solid 1px $borderColor;
    cursor: pointer;
	&:after{
		content: '';
		background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.53 9.47a.75.75 0 0 1 0 1.06l-6 6a.75.75 0 0 1-1.06 0l-6-6a.75.75 0 1 1 1.06-1.06L12 14.94l5.47-5.47a.75.75 0 0 1 1.06 0Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center / contain;
		width: 24px;
		height: 24px;
		position: absolute;
		top: 18px;
		right: 20px;
		transition: $transition;
	}
}

.faq-content{
	padding: 0px 44px 0px 26px;
	color: $bodyColor;
	opacity: 0.7;
	font-size: 1rem;
    line-height: 1.4em;
    max-height: 0;
    transition: $transition;
    overflow: hidden;
}

@media (max-width: 992px){
	.faq-row{
		display: block;
	}
	.faq-col{
		width: 100%;
		margin-right: 0;
		&:first-of-type{
			margin-bottom: 19px;
		}
	}
}