@charset "UTF-8";
.block-slider {
  position: relative;
  padding: 0; }

.slider-prev {
  position: absolute;
  top: 50%;
  left: calc((50% - 685px));
  cursor: pointer;
  z-index: 1;
  -webkit-transition: var(--kmnd-body-transition);
  -o-transition: var(--kmnd-body-transition);
  transition: var(--kmnd-body-transition); }
  .slider-prev:hover {
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px); }

.slider-next {
  position: absolute;
  top: 50%;
  right: calc((50% - 685px));
  cursor: pointer;
  z-index: 1;
  -webkit-transition: var(--kmnd-body-transition);
  -o-transition: var(--kmnd-body-transition);
  transition: var(--kmnd-body-transition); }
  .slider-next:hover {
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px); }

.slider-item {
  min-height: 100vh;
  padding-top: 105px;
  position: relative;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  display: none; }
  .slider-item:first-of-type {
    display: block; }
  .slider-item.slick-slide {
    display: block; }

.slider-item-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 105px);
  z-index: 1;
  position: relative; }

.slider-item-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .slider-item-background:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: var(--kmnd-body-background);
    opacity: 0.3; }

.slider-item-text {
  font-family: var(--kmnd-body-tertiary-font-family);
  font-size: 4.75rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  line-height: 4.5rem; }

.slider-item-button {
  margin: 40px auto 0; }

@media (max-width: 1400px) {
  .slider-prev {
    left: 15px; }
  .slider-next {
    right: 15px; } }

@media (max-width: 1200px) {
  .slider-prev {
    display: none !important; }
  .slider-next {
    display: none !important; } }

@media (max-width: 992px) {
  .slider-item {
    padding-top: 69px; }
  .slider-item-content {
    min-height: calc(100vh - 69px); }
  .slider-wrapper .slick-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .slider-wrapper .slick-dots li {
      margin-right: 5px; }
      .slider-wrapper .slick-dots li:last-of-type {
        margin-right: 0; }
      .slider-wrapper .slick-dots li button {
        outline: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        border: none;
        background: none;
        height: 35px;
        width: 35px;
        color: rgba(0, 0, 0, 0);
        font-size: 0;
        line-height: 0;
        position: relative; }
        .slider-wrapper .slick-dots li button:after {
          content: '';
          display: block;
          height: 6px;
          width: 6px;
          background: var(--kmnd-body-color);
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
        .slider-wrapper .slick-dots li button:before {
          content: '';
          height: 100%;
          width: 100%;
          display: block;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          border: solid 1px var(--kmnd-body-color);
          opacity: 0;
          -webkit-transition: var(--kmnd-body-transition);
          -o-transition: var(--kmnd-body-transition);
          transition: var(--kmnd-body-transition); }
      .slider-wrapper .slick-dots li.slick-active button:before {
        opacity: 1; }
  .slider-item-text {
    font-size: 1.6rem;
    line-height: 2.5rem; }
  .slider-item-button {
    margin-top: 20px; } }

.block-video figure {
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.block-video .cta_link {
  width: 250px;
  height: 250px; }
  .block-video .cta_link:before {
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px); }
  .block-video .cta_link svg {
    -webkit-transition: -webkit-transform 1.32s ease;
    transition: -webkit-transform 1.32s ease;
    -o-transition: transform 1.32s ease;
    transition: transform 1.32s ease;
    transition: transform 1.32s ease, -webkit-transform 1.32s ease; }
    .block-video .cta_link svg circle {
      stroke-dasharray: 800;
      stroke-dashoffset: 800;
      -webkit-transition: stroke-dashoffset .92s ease-out;
      -o-transition: stroke-dashoffset .92s ease-out;
      transition: stroke-dashoffset .92s ease-out; }
  .block-video .cta_link:hover svg circle {
    stroke-dashoffset: 0;
    -webkit-transition: stroke-dashoffset 1.18s cubic-bezier(0.55, 0.46, 0.05, 0.65);
    -o-transition: stroke-dashoffset 1.18s cubic-bezier(0.55, 0.46, 0.05, 0.65);
    transition: stroke-dashoffset 1.18s cubic-bezier(0.55, 0.46, 0.05, 0.65); }

@media (max-width: 992px) {
  .block-video .cta_link {
    width: 141px;
    height: 141px; } }

.article-title {
  font-family: var(--kmnd-body-tertiary-font-family);
  line-height: 1.033em;
  letter-spacing: .025em;
  font-size: 3.8125rem;
  margin: 0 0 30px; }

.article-text {
  font-family: var(--kmnd-body-secondary-font-family);
  font-size: 1rem;
  line-height: 1.875rem;
  color: rgba(255, 255, 255, 0.7);
  margin: 30px 0;
  max-width: 750px; }
  .article-text:last-of-type {
    margin-bottom: 0; }
  .article-text a {
    color: rgba(255, 255, 255, 0.7);
    font-family: var(--kmnd-body-tertiary-font-family);
    text-decoration: none;
    -webkit-transition: var(--kmnd-body-transition);
    -o-transition: var(--kmnd-body-transition);
    transition: var(--kmnd-body-transition);
    border-bottom: 1px solid currentColor; }
    .article-text a:hover {
      color: var(--kmnd-body-color); }
  .article-text span {
    color: var(--kmnd-body-color); }

.article-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0; }
  .article-images img {
    margin-right: 15px; }
    .article-images img:last-of-type {
      margin-right: 0; }

.article-quote {
  max-width: 750px;
  display: block;
  font-family: var(--kmnd-body-tertiary-font-family);
  margin: 48px 0 42px 0;
  font-size: 2.375rem;
  line-height: 1.105em;
  letter-spacing: -.01em;
  font-style: italic;
  padding-left: 89px;
  color: var(--kmnd-body-color);
  position: relative; }
  .article-quote:before {
    content: "”";
    font-size: 4.6875rem;
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    left: 35px;
    top: 15px; }
  .article-quote:after {
    content: '';
    display: block;
    height: 100px;
    width: 100px;
    border: solid 1px var(--kmnd-body-color);
    -webkit-border-radius: 50%;
            border-radius: 50%;
    opacity: 0.5;
    top: -30px;
    left: 0;
    position: absolute; }

.article-list {
  margin-left: 20px; }
  .article-list li {
    font-size: 1rem;
    line-height: 1.875rem;
    color: rgba(255, 255, 255, 0.7);
    margin: 10px 0; }
    .article-list li span {
      color: var(--kmnd-body-color); }

@media (max-width: 992px) {
  .article-title {
    font-size: 2rem; }
  .article-quote {
    padding-left: 0;
    padding-top: 0;
    font-size: 2rem; }
    .article-quote:before, .article-quote:after {
      display: none; }
  .article-text, .article-list li {
    font-size: 1rem;
    line-height: 1.4rem; }
  .article-images {
    display: block; }
    .article-images img {
      margin-right: 0;
      margin-bottom: 30px; }
      .article-images img:last-of-type {
        margin-bottom: 30px; } }

.columns-title {
  font-family: var(--kmnd-body-tertiary-font-family);
  line-height: 1.033em;
  letter-spacing: .025em;
  font-size: 3.8125rem;
  margin: 0 0 30px;
  font-weight: 400;
  color: var(--kmnd-body-color); }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.col {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px; }
  .col:nth-of-type(3n+3) {
    margin-right: 0; }
  .col:nth-last-of-type(1), .col:nth-last-of-type(2), .col:nth-last-of-type(3) {
    margin-bottom: 0; }

.columns-item {
  width: 100%;
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden; }
  .columns-item:after {
    content: '';
    display: block;
    padding-top: 136.71%; }
  .columns-item:hover .columns-item-shadow {
    opacity: 0.7; }
  .columns-item:hover .columns-item-content {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

.columns-item-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--kmnd-body-background);
  opacity: 0;
  -webkit-transition: var(--kmnd-body-transition);
  -o-transition: var(--kmnd-body-transition);
  transition: var(--kmnd-body-transition); }

.columns-item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: var(--kmnd-body-transition);
  -o-transition: var(--kmnd-body-transition);
  transition: var(--kmnd-body-transition);
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px); }
  .columns-item-content p:first-of-type {
    color: var(--kmnd-body-secondary-color);
    text-transform: uppercase;
    font-size: 0.6875rem;
    line-height: 1.4em;
    letter-spacing: .2em;
    margin-bottom: 5px; }
  .columns-item-content p:last-of-type {
    font-family: var(--kmnd-body-tertiary-font-family);
    color: var(--kmnd-body-color);
    text-transform: uppercase;
    font-size: 1.9375rem;
    line-height: 1.161em;
    letter-spacing: .035em; }

@media (max-width: 992px) {
  .row {
    display: block; }
  .col {
    margin-right: 0;
    width: 100%; }
    .col:nth-last-of-type(2), .col:nth-last-of-type(3) {
      margin-bottom: 30px; }
  .columns-item .columns-item-shadow {
    opacity: 0.7; }
  .columns-item .columns-item-content {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .columns-title {
    font-size: 2rem;
    margin-bottom: 20px; } }

.faq-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.faq-col {
  width: calc(50% - 30px);
  margin-right: 60px; }
  .faq-col:nth-of-type(even) {
    margin-right: 0; }

.faq-item {
  margin-bottom: 19px;
  border: solid 1px var(--kmnd-body-border-color); }
  .faq-item:last-of-type {
    margin-bottom: 0; }
  .faq-item.active .faq-head:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .faq-item.active .faq-content {
    padding: 27px 44px 13px 26px;
    max-height: 600px; }

.faq-head {
  width: 100%;
  color: var(--kmnd-body-color);
  padding: 18px 44px 18px 25px;
  position: relative;
  font-size: 1rem;
  line-height: 1.182em;
  letter-spacing: .035em;
  border-bottom: solid 1px var(--kmnd-body-border-color);
  cursor: pointer; }
  .faq-head:after {
    content: '';
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.53 9.47a.75.75 0 0 1 0 1.06l-6 6a.75.75 0 0 1-1.06 0l-6-6a.75.75 0 1 1 1.06-1.06L12 14.94l5.47-5.47a.75.75 0 0 1 1.06 0Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center/contain;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 18px;
    right: 20px;
    -webkit-transition: var(--kmnd-body-transition);
    -o-transition: var(--kmnd-body-transition);
    transition: var(--kmnd-body-transition); }

.faq-content {
  padding: 0px 44px 0px 26px;
  color: var(--kmnd-body-color);
  opacity: 0.7;
  font-size: 1rem;
  line-height: 1.4em;
  max-height: 0;
  -webkit-transition: var(--kmnd-body-transition);
  -o-transition: var(--kmnd-body-transition);
  transition: var(--kmnd-body-transition);
  overflow: hidden; }

@media (max-width: 992px) {
  .faq-row {
    display: block; }
  .faq-col {
    width: 100%;
    margin-right: 0; }
    .faq-col:first-of-type {
      margin-bottom: 19px; } }

.block-breadcrumbs {
  padding: 35px 0; }

.breadcrumbs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .breadcrumbs li {
    margin-left: 10px;
    font-size: 0.75rem; }
    .breadcrumbs li:first-of-type {
      margin-left: 0; }
    .breadcrumbs li:last-of-type:after {
      display: none; }
    .breadcrumbs li a {
      color: var(--kmnd-body-color);
      text-decoration: none; }
    .breadcrumbs li:after {
      content: '>';
      margin-left: 10px; }

.block-image {
  padding: 0;
  position: relative; }
  .block-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: var(--kmnd-body-background);
    opacity: 0.3; }
  .block-image .container {
    min-height: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 1; }

.image-title {
  margin: 0;
  text-align: center;
  font-family: var(--kmnd-body-tertiary-font-family);
  font-size: 3.8125rem;
  line-height: 1.033em;
  letter-spacing: .025em;
  font-weight: 400; }

@media (max-width: 992px) {
  .block-breadcrumbs {
    padding: 23px 0;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; }
    .block-breadcrumbs::-webkit-scrollbar {
      display: none; }
  .breadcrumbs {
    white-space: nowrap; }
    .breadcrumbs li:last-of-type {
      padding-right: 30px; }
  .image-title {
    font-size: 2rem; } }

.buttons-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .buttons-row .btn-default {
    width: 330px;
    margin: 0 10px; }

@media (max-width: 992px) {
  .buttons-row {
    display: block; }
    .buttons-row .btn-default {
      width: 100%;
      padding-left: 50px;
      padding-right: 50px;
      margin: 0 0 30px; }
      .buttons-row .btn-default:last-of-type {
        margin-bottom: 0; } }

.block-price-title {
  text-align: center;
  font-size: 3.8125rem;
  font-family: var(--kmnd-body-tertiary-font-family);
  line-height: 1.033em;
  letter-spacing: .025em;
  font-weight: 400;
  margin: 0 0 15px; }

.block-price-subtitle {
  text-align: center;
  font-family: var(--kmnd-body-secondary-font-family);
  opacity: 0.7;
  font-size: 1.375rem;
  line-height: 1.4em;
  margin: 0; }

.price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 62px; }
  .price-row figure {
    width: 50%;
    display: block;
    position: relative; }
    .price-row figure:after {
      content: '';
      display: block;
      padding-top: 100%; }
  .price-row:nth-of-type(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .price-row:nth-of-type(even) .price-content {
      padding-left: 0;
      padding-right: 85px; }

.price-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 85px; }

.price-item {
  width: 100%;
  padding-bottom: 7px;
  margin-bottom: 29px;
  border-bottom: 1px solid var(--kmnd-body-border-color); }
  .price-item:last-of-type {
    margin-bottom: 0; }

.price-item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1px; }

.price-item-title {
  font-family: var(--kmnd-body-tertiary-font-family);
  font-size: 1.375rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 30px; }

.price-item-price {
  font-size: 0.75rem;
  position: relative;
  bottom: -10px; }

.price-item-description {
  font-size: 1rem;
  font-family: var(--kmnd-body-secondary-font-family);
  opacity: 0.7;
  padding-right: 100px;
  margin-top: 10px; }

@media (max-width: 992px) {
  .block-price-title {
    font-size: 3.4375rem; }
  .price-row {
    display: block; }
    .price-row figure {
      width: 100%;
      margin-bottom: 60px; }
    .price-row:nth-of-type(even) .price-content {
      padding-right: 0; }
  .price-content {
    width: 100%;
    padding-left: 0; }
  .price-item-description {
    padding-right: 60px; }
  .price-item-title {
    line-height: 1.3rem; } }

header {
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0; }

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  .header-wrapper:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--kmnd-body-color);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.7; }

.btn-search {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.0625rem;
  font-style: italic;
  letter-spacing: .035em;
  color: var(--kmnd-body-color);
  font-family: var(--kmnd-body-secondary-font-family); }
  .btn-search svg {
    margin-right: 6px;
    position: relative;
    top: -2px; }

.menu-left, .menu-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 20px; }

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

nav li {
  font-size: 1rem;
  font-family: var(--kmnd-body-primary-font-family);
  color: var(--kmnd-body-color);
  padding: 46px 0;
  -webkit-transition: var(--kmnd-body-transition);
  -o-transition: var(--kmnd-body-transition);
  transition: var(--kmnd-body-transition);
  position: relative; }
  nav li a {
    color: inherit;
    text-decoration: none; }

.sub-menu {
  display: block;
  position: absolute;
  bottom: 1px;
  left: -30px;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  background: var(--kmnd-body-background);
  border: solid 1px var(--kmnd-body-border-color);
  width: 260px;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  z-index: 101;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  padding: 0; }
  .sub-menu li {
    font-family: var(--kmnd-body-secondary-font-family);
    text-transform: none;
    font-size: 1.0625rem;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    line-height: 1.86em;
    letter-spacing: normal;
    padding: 0 30px; }
    .sub-menu li a {
      opacity: 0.5;
      -webkit-transition: inherit;
      -o-transition: inherit;
      transition: inherit; }
      .sub-menu li a:hover {
        opacity: 1; }
    .sub-menu li.menu-item-has-children {
      padding-right: 10px; }
      .sub-menu li.menu-item-has-children:before {
        content: '';
        display: block;
        height: 10px;
        width: 10px;
        background: url("data:image/svg+xml,%3Csvg class='qodef-menu-item-arrow' xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='33.59 35.47 9.55 5.06' xml:space='preserve'%3E%3Cpath fill='%23FFF' d='M33.64 35.66c.01-.03.03-.06.06-.08.05-.05.11-.07.18-.07s.13.02.18.07l4.33 4.32 4.32-4.32c.05-.05.11-.07.18-.07.07 0 .13.02.18.07s.07.11.07.18-.02.13-.07.18l-4.5 4.5c-.05.05-.11.07-.18.07s-.13-.02-.18-.07l-4.5-4.5c-.03-.02-.04-.05-.06-.08s-.02-.06-.02-.1 0-.07.01-.1z'/%3E%3C/svg%3E") no-repeat center/contain;
        position: absolute;
        right: 30px;
        top: 10px;
        -webkit-transition: var(--kmnd-body-transition);
        -o-transition: var(--kmnd-body-transition);
        transition: var(--kmnd-body-transition);
        will-change: transform;
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg); }
      .sub-menu li.menu-item-has-children .sub-menu {
        left: auto;
        right: 0px;
        top: -25px;
        bottom: auto;
        -webkit-transform: translate(100%, 0);
            -ms-transform: translate(100%, 0);
                transform: translate(100%, 0);
        opacity: 0;
        -webkit-transition: inherit;
        -o-transition: inherit;
        transition: inherit;
        display: none; }
      .sub-menu li.menu-item-has-children:hover .sub-menu {
        opacity: 1;
        display: block; }

.menu-item-has-children:hover .sub-menu {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  padding: 25px 0;
  height: auto; }

.current-menu-item a:after {
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1); }

.sub-menu .current-menu-item a {
  opacity: 1; }

.btn-menu {
  position: relative;
  height: 20px;
  width: 50px;
  margin: 0 6px;
  cursor: pointer; }
  .btn-menu:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--kmnd-body-color);
    will-change: transform;
    position: absolute;
    top: 6px;
    left: -6px;
    -webkit-transition: var(--kmnd-body-transition);
    -o-transition: var(--kmnd-body-transition);
    transition: var(--kmnd-body-transition); }
  .btn-menu:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--kmnd-body-color);
    will-change: transform;
    position: absolute;
    bottom: 6px;
    right: -6px;
    -webkit-transition: var(--kmnd-body-transition);
    -o-transition: var(--kmnd-body-transition);
    transition: var(--kmnd-body-transition); }
  .btn-menu:hover:before {
    left: 6px; }
  .btn-menu:hover:after {
    right: 6px; }

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none; }

.header-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }

.header-mobile-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 0; }

.header-dark header {
  background: var(--kmnd-body-background);
  position: relative; }

.header-dark .header-mobile {
  background: var(--kmnd-body-background);
  position: relative; }

@media (max-width: 1300px) {
  .btn-search {
    font-size: 1rem; }
  .menu-left, .menu-right {
    padding: 0 10px; }
  .header-logo img {
    width: auto;
    max-height: 16px; }
  .btn-menu {
    width: 30px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  nav li {
    font-size: 0.8rem; } }

@media (max-width: 992px) {
  header {
    top: 69px;
    background: var(--kmnd-body-background);
    padding: 0;
    -webkit-transition: var(--kmnd-body-transition);
    -o-transition: var(--kmnd-body-transition);
    transition: var(--kmnd-body-transition);
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    max-height: calc(100vh - 69px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; }
    header::-webkit-scrollbar {
      display: none; }
    header.active {
      height: auto;
      padding: 34px 0;
      opacity: 1;
      pointer-events: auto; }
    header .header-logo {
      display: none; }
    header .btn-search {
      display: none; }
    header .btn-menu {
      display: none; }
    header nav ul {
      display: block; }
      header nav ul li {
        padding: 6px 0;
        line-height: 18px; }
  .sub-menu {
    opacity: 0;
    position: relative;
    left: 0;
    bottom: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    border: none;
    padding: 0;
    pointer-events: auto;
    width: 100%;
    height: auto !important;
    display: none; }
    .sub-menu li {
      padding: 3px 0; }
      .sub-menu li.menu-item-has-children:before {
        right: 0; }
      .sub-menu li.menu-item-has-children:hover .sub-menu {
        opacity: 0; }
      .sub-menu li.menu-item-has-children .sub-menu {
        position: relative;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        right: 0;
        top: 0;
        opacity: 0;
        padding: 0;
        height: 0;
        margin-top: 0;
        display: none; }
      .sub-menu li.menu-item-has-children.active:before {
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
                transform: rotate(0); }
      .sub-menu li.menu-item-has-children.active .sub-menu {
        height: auto;
        opacity: 1;
        display: block; }
  .menu-item-has-children:hover .sub-menu {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding: 0;
    opacity: 0;
    height: 0; }
  .menu-item-has-children:before {
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    background: url("data:image/svg+xml,%3Csvg class='qodef-menu-item-arrow' xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='33.59 35.47 9.55 5.06' xml:space='preserve'%3E%3Cpath fill='%23FFF' d='M33.64 35.66c.01-.03.03-.06.06-.08.05-.05.11-.07.18-.07s.13.02.18.07l4.33 4.32 4.32-4.32c.05-.05.11-.07.18-.07.07 0 .13.02.18.07s.07.11.07.18-.02.13-.07.18l-4.5 4.5c-.05.05-.11.07-.18.07s-.13-.02-.18-.07l-4.5-4.5c-.03-.02-.04-.05-.06-.08s-.02-.06-.02-.1 0-.07.01-.1z'/%3E%3C/svg%3E") no-repeat center/contain;
    position: absolute;
    right: 0;
    top: 10px;
    -webkit-transition: var(--kmnd-body-transition);
    -o-transition: var(--kmnd-body-transition);
    transition: var(--kmnd-body-transition);
    will-change: transform;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .menu-item-has-children.active .sub-menu {
    height: auto;
    margin-top: 7px;
    opacity: 1;
    display: block; }
  .menu-item-has-children.active:before {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0); }
  .menu-left, .menu-right {
    padding: 0;
    display: block; }
  .header-wrapper {
    display: block; }
    .header-wrapper:after {
      display: none; }
  .header-mobile {
    display: block; }
    .header-mobile.active .btn-menu:before {
      left: 0;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(25deg);
          -ms-transform: translateY(-50%) rotate(25deg);
              transform: translateY(-50%) rotate(25deg);
      bottom: auto; }
    .header-mobile.active .btn-menu:after {
      left: 0;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(-25deg);
          -ms-transform: translateY(-50%) rotate(-25deg);
              transform: translateY(-50%) rotate(-25deg);
      bottom: auto; }
  .header-logo img {
    max-height: 23px; }
  .btn-menu {
    width: 50px; }
  .header-dark header {
    position: absolute; }
  .sub-menu {
    padding-left: 20px !important; } }

footer {
  padding-top: 120px;
  padding-bottom: 120px; }
  footer ul {
    list-style: none; }
    footer ul li {
      font-size: 1rem;
      font-family: var(--kmnd-body-primary-font-family);
      color: var(--kmnd-body-color);
      -webkit-transition: var(--kmnd-body-transition);
      -o-transition: var(--kmnd-body-transition);
      transition: var(--kmnd-body-transition);
      position: relative;
      margin-bottom: 13px;
      opacity: 0.7; }
      footer ul li a {
        color: inherit;
        text-decoration: none; }

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px; }

.footer-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 15px; }

.footer-title {
  font-size: 1.125rem;
  line-height: 1.182em;
  margin-bottom: 12px;
  position: relative;
  top: -5px; }

.footer-text {
  font-size: 1rem;
  line-height: 1.4em;
  margin-bottom: 13px;
  opacity: 0.7; }
  .footer-text a {
    text-decoration: none;
    color: var(--kmnd-body-color); }

@media (max-width: 1200px) {
  .footer-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .footer-col {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: calc(100% / 3); } }

@media (max-width: 992px) {
  footer {
    padding-top: 60px;
    padding-bottom: 60px; }
  .footer-row {
    display: block; }
  .footer-col {
    width: 100%;
    margin-bottom: 60px; }
    .footer-col:last-of-type {
      margin-bottom: 0; }
  .footer-title {
    margin-bottom: 10px; } }

.modal-type-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  width: 100%;
  height: 100%;
  -webkit-transition: var(--kmnd-body-transition);
  -o-transition: var(--kmnd-body-transition);
  transition: var(--kmnd-body-transition);
  pointer-events: none; }
  .modal-type-1 .modal-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--kmnd-body-background);
    opacity: 0;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit; }
  .modal-type-1 .modal-body {
    z-index: 1001;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    border-left: 1px solid var(--kmnd-body-border-color);
    padding: 122px 76px 35px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit; }
  .modal-type-1 .btn-close {
    display: block;
    margin: 0 0 30px auto;
    cursor: pointer;
    -webkit-transition: var(--kmnd-body-transition);
    -o-transition: var(--kmnd-body-transition);
    transition: var(--kmnd-body-transition); }
    .modal-type-1 .btn-close:hover {
      opacity: 0.5; }
  .modal-type-1 .modal-text {
    margin: 25px 0;
    font-size: 1.25rem;
    font-family: var(--kmnd-body-secondary-font-family);
    opacity: 0.7;
    line-height: 1.4em; }
  .modal-type-1 .workhours {
    line-height: 1.4em;
    font-size: 1rem; }
    .modal-type-1 .workhours a {
      font-size: 1rem;
      line-height: 1.4em;
      margin-bottom: 13px;
      opacity: 0.7;
      text-decoration: none;
      color: var(--kmnd-body-color); }
  .modal-type-1 .soc {
    margin-top: 25px; }
  .modal-type-1.active {
    z-index: 1000;
    pointer-events: auto; }
    .modal-type-1.active .modal-shadow {
      opacity: 0.5; }
    .modal-type-1.active .modal-body {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); }

.ccursor-close {
  height: 72px;
  width: 72px;
  opacity: 0.5;
  position: fixed;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  top: 0;
  left: 0;
  z-index: 9999999;
  pointer-events: none;
  display: none; }

.modal-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: var(--kmnd-body-background);
  padding: 36px 0;
  -webkit-transition: var(--kmnd-body-transition);
  -o-transition: var(--kmnd-body-transition);
  transition: var(--kmnd-body-transition);
  will-change: transform;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }
  .modal-search form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid var(--kmnd-body-color);
    padding: 10px 0 4px; }
  .modal-search .btn-search {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    -webkit-transition: var(--kmnd-body-transition);
    -o-transition: var(--kmnd-body-transition);
    transition: var(--kmnd-body-transition); }
    .modal-search .btn-search:hover {
      opacity: 0.5; }
  .modal-search input {
    background: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    background: none;
    font-size: 1.0625rem;
    font-style: italic;
    letter-spacing: .035em;
    color: var(--kmnd-body-color);
    font-family: var(--kmnd-body-secondary-font-family);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .modal-search input::-webkit-input-placeholder {
      color: var(--kmnd-body-color); }
    .modal-search input::-moz-placeholder {
      color: var(--kmnd-body-color); }
    .modal-search input::-ms-input-placeholder {
      color: var(--kmnd-body-color); }
    .modal-search input::placeholder {
      color: var(--kmnd-body-color); }
  .modal-search .btn-close {
    cursor: pointer;
    -webkit-transition: var(--kmnd-body-transition);
    -o-transition: var(--kmnd-body-transition);
    transition: var(--kmnd-body-transition);
    margin-left: 6px; }
    .modal-search .btn-close:hover {
      opacity: 0.5; }
  .modal-search.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

.modal-type-2 {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: var(--kmnd-body-background);
  padding: 100px 0;
  -webkit-transition: var(--kmnd-body-transition);
  -o-transition: var(--kmnd-body-transition);
  transition: var(--kmnd-body-transition);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }
  .modal-type-2::-webkit-scrollbar {
    display: none; }
  .modal-type-2 .btn-close {
    margin: 0 0 60px auto;
    display: block;
    cursor: pointer;
    -webkit-transition: var(--kmnd-body-transition);
    -o-transition: var(--kmnd-body-transition);
    transition: var(--kmnd-body-transition); }
    .modal-type-2 .btn-close:hover {
      opacity: 0.7; }
  .modal-type-2 .contact-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .modal-type-2 .contact-row figure {
      width: 60%;
      content: '';
      display: block;
      position: relative;
      top: -100px; }
      .modal-type-2 .contact-row figure:after {
        content: '';
        display: block;
        padding-top: 70%; }
  .modal-type-2 form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 60px; }
  .modal-type-2 .form-title {
    font-family: var(--kmnd-body-tertiary-font-family);
    font-size: 3.1875rem;
    line-height: 1.059em;
    letter-spacing: .025em;
    margin-bottom: 55px; }
  .modal-type-2 input, .modal-type-2 textarea {
    background: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    background: none;
    font-size: 1.0625rem;
    font-style: italic;
    letter-spacing: .035em;
    color: var(--kmnd-body-color);
    font-family: var(--kmnd-body-secondary-font-family);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    resize: none;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--kmnd-body-color);
    opacity: 0.5;
    -webkit-transition: var(--kmnd-body-transition);
    -o-transition: var(--kmnd-body-transition);
    transition: var(--kmnd-body-transition); }
    .modal-type-2 input::-webkit-input-placeholder, .modal-type-2 textarea::-webkit-input-placeholder {
      color: var(--kmnd-body-color); }
    .modal-type-2 input::-moz-placeholder, .modal-type-2 textarea::-moz-placeholder {
      color: var(--kmnd-body-color); }
    .modal-type-2 input::-ms-input-placeholder, .modal-type-2 textarea::-ms-input-placeholder {
      color: var(--kmnd-body-color); }
    .modal-type-2 input::placeholder, .modal-type-2 textarea::placeholder {
      color: var(--kmnd-body-color); }
    .modal-type-2 input:focus, .modal-type-2 textarea:focus {
      opacity: 1; }
  .modal-type-2 textarea {
    height: 115px; }
  .modal-type-2.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

@media (max-width: 1200px) {
  .modal-type-2 .contact-row figure {
    width: 50%; } }

@media (max-width: 992px) {
  .modal-type-2 {
    padding: 60px 0 100px; }
    .modal-type-2 .contact-row {
      display: block; }
      .modal-type-2 .contact-row figure {
        width: 100%;
        margin: 0 auto 20px;
        top: 0; }
        .modal-type-2 .contact-row figure:after {
          padding-top: 100%; }
    .modal-type-2 .modal-title {
      font-size: 2.9375rem; }
    .modal-type-2 form {
      margin-left: 0; }
  .modal-side-info {
    display: none !important; }
  .ccusor-close {
    display: none !important; } }
