$bodyBackground: var(--kmnd-body-background);
$bodyColor: var(--kmnd-body-color);
$bodySecondaryColor: var(--kmnd-body-secondary-color);
$primaryFont: var(--kmnd-body-primary-font-family);
$secondaryFont: var(--kmnd-body-secondary-font-family);
$tertiaryFont: var(--kmnd-body-tertiary-font-family);
$transition: var(--kmnd-body-transition);
$borderColor: var(--kmnd-body-border-color);

$containerMaxWidth: var(--kmnd-container-max-width);
$containerThinMaxWidth: var(--kmnd-container-thin-max-width);

$ctaFont: var(--kmnd-cta-font-family);
$ctaColor: var(--kmnd-cta-color);
$ctaBorderColor: var(--kmnd-cta-border-color);
$ctaFontSize: var(--kmnd-cta-font-size);
$ctaFontWeight: var(--kmnd-cta-font-weight);
$ctaFontStyle: var(--kmnd-cta-font-style);