.catalog{
   &__holder{
      display: flex;
   }
   &__filters{
      width: 283px;
      margin-right: 20px;
   }
   &__content{
      width: 83.1%;
   }
   &__slider{
      width: 100%;
      .head{
         &__slider-item{
            figure{
               border-radius: 0px;
               &:after{
                  padding-top: 27.521710086840343%;
               }
            }
         }
      }
   }
   &__sort{
      margin: 30px 0 0;
      border: solid 1px #F0F0F0;
      padding: 15px 17px 15px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .btn{
         margin-right: 20px;
         &:last-of-type{
            margin: 0;
         }
      }
   }
   &__sort-text{
      margin-right: 14px;
      font-size: 1.125rem;
      font-weight: 500;
   }
   &__sort-select{
      display: none;
      outline: none !important;
      box-shadow: none !important;
      border: solid 1px $bodyBorderColorPrimary !important;
      background: none !important;
      font-size: 0.813rem;
      color: $bodyColorSecondary;
      padding: 13.5px 13px 13.5px 15px;
      &:hover, &:focus, &:active{
         outline: none !important;
         box-shadow: none !important;
         border: solid 1px $bodyBorderColorPrimary !important;
         background: none !important;
      }
   }
   &__sort-filter-btn{
      display: none;
      align-items: center;
      justify-content: center;
      height: 44px;
      width: 44px;
      border: solid 1px $bodyBorderColorPrimary;
      svg{
         display: block;
      }
   }
   &__grid{
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
   }
   &__col{
      margin-top: 20px;
      width: calc((100% - 60px) / 4);
      margin-right: 20px;
      &:nth-of-type(4n+4){
         margin-right: 0;
      }
      &:nth-of-type(1){z-index: 16;}
      &:nth-of-type(2){z-index: 15;}
      &:nth-of-type(3){z-index: 14;}
      &:nth-of-type(4){z-index: 13;}
      &:nth-of-type(5){z-index: 12;}
      &:nth-of-type(6){z-index: 11;}
      &:nth-of-type(7){z-index: 10;}
      &:nth-of-type(8){z-index: 9;}
      &:nth-of-type(9){z-index: 8;}
      &:nth-of-type(10){z-index: 7;}
      &:nth-of-type(11){z-index: 6;}
      &:nth-of-type(12){z-index: 5;}
      &:nth-of-type(13){z-index: 4;}
      &:nth-of-type(14){z-index: 3;}
      &:nth-of-type(15){z-index: 2;}
      &:nth-of-type(16){z-index: 1;}
   }
   &__pagination{
      margin: 40px 0 0;
      &_last{
         margin-bottom: 60px;
      }
   }
}

@media (max-width: map_get($adaptive-breakpoints, 'xxl')){
   .catalog{
      &__filters{
         width: 270px;
      }
      &__content{
         width: 77.3%;
      }
      &__slider{
         .head{
            &__slider-item{
               figure{
                  &:after{
                     padding-top: 27.411764705882353%;
                  }
               }
            }
         }
      }
      &__sort{
         margin-top: 16px;
         padding: 11px 11px 10px;
         .btn{
            margin-right: 10px;
            font-size: 0.813rem;
            min-height: 44px;
            &:last-of-type{
               margin-right: 0;
            }
         }
      }
      &__sort-text{
         font-size: 0.813rem;
      }
      &__grid{
         margin-top: 5px;
      }
      &__col{
         margin-top: 17px;
         width: calc((100% - 40px) / 3);
         &:nth-of-type(4n+4){
            margin-right: 20px;
         }
         &:nth-of-type(3n+3){
            margin-right: 0px;
         }
      }
      &__pagination{
         margin-top: 30px;
      }
   }
}

@media (max-width: map_get($adaptive-breakpoints, 'xl')){

}

@media (max-width: map_get($adaptive-breakpoints, 'lg')){
   .catalog{
      &__filters{
         display: none;
         margin-right: 0;
         width: 100%;
      }
      &__content{
         width: 100%;
      }
      &__slider{
         .head{
            &__slider-item{
               figure{
                  &:after{
                     padding-top: 45.83333333333333%;
                  }
               }
            }
            &__slider{
               .slick-dots{
                  margin: 0;
                  bottom: 13px;
                  padding-right: 20px;
                  justify-content: flex-end;
                  li{
                     &.slick-active{
                        &:after{
                           display: none;
                        }
                     }
                  }
               }
            }
         }
      }
      &__sort{
         justify-content: space-between;
         padding: 0;
         border: none;
         margin-top: 20px;
         .btn{
            display: none;
         }
      }
      &__sort-text{
         display: none;
      }
      &__sort-select{
         display: block;
      }
      &__sort-filter-btn{
         display: flex;
      }
      
   }
}

@media (max-width: map_get($adaptive-breakpoints, 'sm')){
   .catalog{
      &__grid{
         margin-top: 5px;
      }
      &__col{
         width: calc((100% - 14px) / 2);
         margin-top: 15px;
         margin-right: 14px;
         &:nth-of-type(4n+4){
            margin-right: 14px;
         }
         &:nth-of-type(3n+3){
            margin-right: 14px;
         }
         &:nth-of-type(even){
            margin-right: 0;
         }
      }
      &__pagination{
         margin-top: 20px;
         &_last{
            margin-bottom: 40px;
         }
      }
   }
}

@media (max-width: map_get($adaptive-breakpoints, 'xs')){

}