.catalog-offers{
   &.catalog{
      padding-top: 40px;
      .catalog{
         &__grid{
            margin-top: 14px;
         }
      }
   }
}

.offer-details{
   &__image{
      display: block;
      width: 100%;
      height: auto;
   }
   &__row{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
   }
   &__col{
      &:nth-of-type(1){
         width: 32.648528595224874%;
      }
      &:nth-of-type(2){
         width: 66.24097723486952%;
      }
   }
   &__body{
      background: $bodyBackgroundSecondary;
      padding: 38px 25px 32px 50px;
   }
   &__title{
      font-weight: 700;
      font-size: 2.188rem;
      font-family: $bodyFontSecondary;
      line-height: 1.286;
      margin-bottom: 7px;
   }
   &__date{
      font-family: $bodyFontSecondary;
      font-size: 1.125rem;
      color: #555555;
      margin-bottom: 19px;
   }
   &__timer-title{
      font-family: $bodyFontSecondary;
      font-weight: 700;
      margin-bottom: 13px;
      font-size: 1.125rem;
   }
   &__timer{
      margin-bottom: 15px;
      display: flex;
   }
   &__timer-divider{
      margin: 0 20px;
      font-family: $bodyFontSecondary;
      font-size: 2.188rem;
      font-weight: 700;
      position: relative;
      top: 22px;
   }
   &__timer-value{
      background: linear-gradient(35.3deg, #F70314 0%, #603684 26.98%, #0255C2 56.16%, #00BC76 78.61%, #09E93C 105.97%);
      border-radius: 5px;
      font-family: $bodyFontSecondary;
      color: $bodyColorPrimaryInverted;
      font-weight: 700;
      font-size: 2.143rem;
      width: 60px;
      text-align: center;
      padding: 23px 0 28px;
      margin-bottom: 1px;
   }
   &__timer-text{
      color: #797979;
      text-align: center;
      font-family: $bodyFontSecondary;
      font-size: 0.75rem;
      font-weight: 600;
   }
   &__description{
      font-size: 1.125rem;
      color: #2D2D2D;
      margin-bottom: 11px;
   }
   &__text-opener{
      color: #06B071;
      display: inline-block;
      cursor: pointer;
      font-size: 1.125rem;
      span{
         border-bottom: 1px solid #06B071;
      }
      svg{
         margin-left: 5px;
      }
      // transition: $transition;
      // &:hover{
      //    color: $bodyColorAccent;
      //    border-color: $bodyColorAccent;
      // }
   }
   &__text-holder{
      p{
         color: #4D4D4D;
         line-height: 1.625;
         margin-top: 13px;
      }
   }
}

@media (max-width: map_get($adaptive-breakpoints, 'xxl')){
   .catalog-offers{
      &.catalog{
         padding-top: 30px;
         .catalog{
            &__grid{
               margin-top: 17px;
            }
         }
      }
   }
   .offer-details{
      &__col{
         &:nth-of-type(1){
            width: 40.6660823838738%;
         }
         &:nth-of-type(2){
            width: 57.58106923751095%;
         }
      }
      &__body{
         padding: 23px 13px 23px 28px;
      }
      &__title{
         font-size: 1.563rem;
         margin-bottom: 7px;
      }
      &__date{
         margin-bottom: 18px;
      }
      &__timer{
         margin-bottom: 21px;
      }
      &__timer-divider{
         margin: 0 16px;
         top: 8px;
      }
      &__timer-value{
         font-size: 1.5rem;
         padding: 18px 0;
      }
      &__description{
         font-size: 1rem;
         margin-bottom: 13px;
      }
      &__text-opener{
         font-size: 1rem;
      }
      &__text-holder{
         p{
            font-size: 0.875rem;
            margin-top: 15px;
         }
      }
   }
}

@media (max-width: map_get($adaptive-breakpoints, 'xl')){

}

@media (max-width: map_get($adaptive-breakpoints, 'lg')){
   .catalog-offers{
      &.catalog{
         padding-top: 21px;
         .catalog{
            &__grid{
               margin-top: 14px;
            }
         }
      }
   }
   .offer-details{
      &__body{
         padding: 10px 22px 19px 14px;
      }
      &__title{
         font-size: 18px;
         margin-bottom: 3px;
         line-height: 1.333;
      }
      &__date{
         font-size: 0.813rem;
         margin-bottom: 0;
         line-height: 1.846;
      }
      &__timer-title{
         margin-bottom: 9px;
         font-size: 0.875rem;
         line-height: 1.714;
      }
      &__timer{
         margin-bottom: 15px;
      }
      &__timer-divider{
         margin: 0 13px;
         top: -2px;
      }
      &__timer-value{
         padding: 12px 0;
         width: 41px;
         font-size: 1.125rem;
         margin-bottom: 2px;
      }
      &__timer-text{
         font-size: 0.625rem;
      }
      &__description{
         font-size: 0.813rem;
         margin-bottom: 3px;
      }
      &__text-opener{
         font-size: 0.875rem;
      }
      &__text-holder{
         p{
            font-size: 0.75rem;
            margin-top: 10px;
         }
      }
   }
}

@media (max-width: map_get($adaptive-breakpoints, 'sm')){
   .offer-details{
      &__row{
         display: block;
      }
      &__col{
         &:nth-of-type(1){
            width: 100%;
         }
         &:nth-of-type(2){
            width: 100%;
         }
      }
   }
}

@media (max-width: map_get($adaptive-breakpoints, 'xs')){

}