@import 'assistant/var';

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-Medium.eot');
   src: local('Mazzard M Medium'), local('MazzardM-Medium'),
       url('../fonts/MazzardM-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-Medium.woff2') format('woff2'),
       url('../fonts/MazzardM-Medium.woff') format('woff'),
       url('../fonts/MazzardM-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-ExtraLightItalic.eot');
   src: local('Mazzard M ExtraLight Italic'), local('MazzardM-ExtraLightItalic'),
       url('../fonts/MazzardM-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-ExtraLightItalic.woff2') format('woff2'),
       url('../fonts/MazzardM-ExtraLightItalic.woff') format('woff'),
       url('../fonts/MazzardM-ExtraLightItalic.ttf') format('truetype');
   font-weight: 200;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-BlackItalic.eot');
   src: local('Mazzard H Black Italic'), local('MazzardH-BlackItalic'),
       url('../fonts/MazzardH-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-BlackItalic.woff2') format('woff2'),
       url('../fonts/MazzardH-BlackItalic.woff') format('woff'),
       url('../fonts/MazzardH-BlackItalic.ttf') format('truetype');
   font-weight: 900;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-ExtraBold.eot');
   src: local('Mazzard L ExtraBold'), local('MazzardL-ExtraBold'),
       url('../fonts/MazzardL-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-ExtraBold.woff2') format('woff2'),
       url('../fonts/MazzardL-ExtraBold.woff') format('woff'),
       url('../fonts/MazzardL-ExtraBold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-Black.eot');
   src: local('Mazzard H Black'), local('MazzardH-Black'),
       url('../fonts/MazzardH-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-Black.woff2') format('woff2'),
       url('../fonts/MazzardH-Black.woff') format('woff'),
       url('../fonts/MazzardH-Black.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-BoldItalic.eot');
   src: local('Mazzard M Bold Italic'), local('MazzardM-BoldItalic'),
       url('../fonts/MazzardM-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-BoldItalic.woff2') format('woff2'),
       url('../fonts/MazzardM-BoldItalic.woff') format('woff'),
       url('../fonts/MazzardM-BoldItalic.ttf') format('truetype');
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-Medium.eot');
   src: local('Mazzard H Medium'), local('MazzardH-Medium'),
       url('../fonts/MazzardH-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-Medium.woff2') format('woff2'),
       url('../fonts/MazzardH-Medium.woff') format('woff'),
       url('../fonts/MazzardH-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-Light.eot');
   src: local('Mazzard M Light'), local('MazzardM-Light'),
       url('../fonts/MazzardM-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-Light.woff2') format('woff2'),
       url('../fonts/MazzardM-Light.woff') format('woff'),
       url('../fonts/MazzardM-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-LightItalic.eot');
   src: local('Mazzard H Light Italic'), local('MazzardH-LightItalic'),
       url('../fonts/MazzardH-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-LightItalic.woff2') format('woff2'),
       url('../fonts/MazzardH-LightItalic.woff') format('woff'),
       url('../fonts/MazzardH-LightItalic.ttf') format('truetype');
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-ExtraLight.eot');
   src: local('Mazzard H ExtraLight'), local('MazzardH-ExtraLight'),
       url('../fonts/MazzardH-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-ExtraLight.woff2') format('woff2'),
       url('../fonts/MazzardH-ExtraLight.woff') format('woff'),
       url('../fonts/MazzardH-ExtraLight.ttf') format('truetype');
   font-weight: 200;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-Bold.eot');
   src: local('Mazzard M Bold'), local('MazzardM-Bold'),
       url('../fonts/MazzardM-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-Bold.woff2') format('woff2'),
       url('../fonts/MazzardM-Bold.woff') format('woff'),
       url('../fonts/MazzardM-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-SemiBoldItalic.eot');
   src: local('Mazzard M SemiBold Italic'), local('MazzardM-SemiBoldItalic'),
       url('../fonts/MazzardM-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-SemiBoldItalic.woff2') format('woff2'),
       url('../fonts/MazzardM-SemiBoldItalic.woff') format('woff'),
       url('../fonts/MazzardM-SemiBoldItalic.ttf') format('truetype');
   font-weight: 600;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-ExtraLight.eot');
   src: local('Mazzard L ExtraLight'), local('MazzardL-ExtraLight'),
       url('../fonts/MazzardL-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-ExtraLight.woff2') format('woff2'),
       url('../fonts/MazzardL-ExtraLight.woff') format('woff'),
       url('../fonts/MazzardL-ExtraLight.ttf') format('truetype');
   font-weight: 200;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-Light.eot');
   src: local('Mazzard H Light'), local('MazzardH-Light'),
       url('../fonts/MazzardH-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-Light.woff2') format('woff2'),
       url('../fonts/MazzardH-Light.woff') format('woff'),
       url('../fonts/MazzardH-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-ThinItalic.eot');
   src: local('Mazzard L Thin Italic'), local('MazzardL-ThinItalic'),
       url('../fonts/MazzardL-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-ThinItalic.woff2') format('woff2'),
       url('../fonts/MazzardL-ThinItalic.woff') format('woff'),
       url('../fonts/MazzardL-ThinItalic.ttf') format('truetype');
   font-weight: 100;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-ExtraBoldItalic.eot');
   src: local('Mazzard H ExtraBold Italic'), local('MazzardH-ExtraBoldItalic'),
       url('../fonts/MazzardH-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-ExtraBoldItalic.woff2') format('woff2'),
       url('../fonts/MazzardH-ExtraBoldItalic.woff') format('woff'),
       url('../fonts/MazzardH-ExtraBoldItalic.ttf') format('truetype');
   font-weight: 800;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-SemiBold.eot');
   src: local('Mazzard M SemiBold'), local('MazzardM-SemiBold'),
       url('../fonts/MazzardM-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-SemiBold.woff2') format('woff2'),
       url('../fonts/MazzardM-SemiBold.woff') format('woff'),
       url('../fonts/MazzardM-SemiBold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-Regular.eot');
   src: local('Mazzard L Regular'), local('MazzardL-Regular'),
       url('../fonts/MazzardL-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-Regular.woff2') format('woff2'),
       url('../fonts/MazzardL-Regular.woff') format('woff'),
       url('../fonts/MazzardL-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-MediumItalic.eot');
   src: local('Mazzard H Medium Italic'), local('MazzardH-MediumItalic'),
       url('../fonts/MazzardH-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-MediumItalic.woff2') format('woff2'),
       url('../fonts/MazzardH-MediumItalic.woff') format('woff'),
       url('../fonts/MazzardH-MediumItalic.ttf') format('truetype');
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-Italic.eot');
   src: local('Mazzard L Italic'), local('MazzardL-Italic'),
       url('../fonts/MazzardL-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-Italic.woff2') format('woff2'),
       url('../fonts/MazzardL-Italic.woff') format('woff'),
       url('../fonts/MazzardL-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-ExtraBoldItalic.eot');
   src: local('Mazzard L ExtraBold Italic'), local('MazzardL-ExtraBoldItalic'),
       url('../fonts/MazzardL-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-ExtraBoldItalic.woff2') format('woff2'),
       url('../fonts/MazzardL-ExtraBoldItalic.woff') format('woff'),
       url('../fonts/MazzardL-ExtraBoldItalic.ttf') format('truetype');
   font-weight: 800;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-Bold.eot');
   src: local('Mazzard L Bold'), local('MazzardL-Bold'),
       url('../fonts/MazzardL-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-Bold.woff2') format('woff2'),
       url('../fonts/MazzardL-Bold.woff') format('woff'),
       url('../fonts/MazzardL-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-BlackItalic.eot');
   src: local('Mazzard M Black Italic'), local('MazzardM-BlackItalic'),
       url('../fonts/MazzardM-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-BlackItalic.woff2') format('woff2'),
       url('../fonts/MazzardM-BlackItalic.woff') format('woff'),
       url('../fonts/MazzardM-BlackItalic.ttf') format('truetype');
   font-weight: 900;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-MediumItalic.eot');
   src: local('Mazzard L Medium Italic'), local('MazzardL-MediumItalic'),
       url('../fonts/MazzardL-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-MediumItalic.woff2') format('woff2'),
       url('../fonts/MazzardL-MediumItalic.woff') format('woff'),
       url('../fonts/MazzardL-MediumItalic.ttf') format('truetype');
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-ExtraBoldItalic.eot');
   src: local('Mazzard M ExtraBold Italic'), local('MazzardM-ExtraBoldItalic'),
       url('../fonts/MazzardM-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-ExtraBoldItalic.woff2') format('woff2'),
       url('../fonts/MazzardM-ExtraBoldItalic.woff') format('woff'),
       url('../fonts/MazzardM-ExtraBoldItalic.ttf') format('truetype');
   font-weight: 800;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-Regular.eot');
   src: local('Mazzard M Regular'), local('MazzardM-Regular'),
       url('../fonts/MazzardM-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-Regular.woff2') format('woff2'),
       url('../fonts/MazzardM-Regular.woff') format('woff'),
       url('../fonts/MazzardM-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-Italic.eot');
   src: local('Mazzard H Italic'), local('MazzardH-Italic'),
       url('../fonts/MazzardH-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-Italic.woff2') format('woff2'),
       url('../fonts/MazzardH-Italic.woff') format('woff'),
       url('../fonts/MazzardH-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-LightItalic.eot');
   src: local('Mazzard M Light Italic'), local('MazzardM-LightItalic'),
       url('../fonts/MazzardM-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-LightItalic.woff2') format('woff2'),
       url('../fonts/MazzardM-LightItalic.woff') format('woff'),
       url('../fonts/MazzardM-LightItalic.ttf') format('truetype');
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-LightItalic.eot');
   src: local('Mazzard L Light Italic'), local('MazzardL-LightItalic'),
       url('../fonts/MazzardL-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-LightItalic.woff2') format('woff2'),
       url('../fonts/MazzardL-LightItalic.woff') format('woff'),
       url('../fonts/MazzardL-LightItalic.ttf') format('truetype');
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-Italic.eot');
   src: local('Mazzard M Italic'), local('MazzardM-Italic'),
       url('../fonts/MazzardM-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-Italic.woff2') format('woff2'),
       url('../fonts/MazzardM-Italic.woff') format('woff'),
       url('../fonts/MazzardM-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-Thin.eot');
   src: local('Mazzard H Thin'), local('MazzardH-Thin'),
       url('../fonts/MazzardH-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-Thin.woff2') format('woff2'),
       url('../fonts/MazzardH-Thin.woff') format('woff'),
       url('../fonts/MazzardH-Thin.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-SemiBoldItalic.eot');
   src: local('Mazzard H SemiBold Italic'), local('MazzardH-SemiBoldItalic'),
       url('../fonts/MazzardH-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-SemiBoldItalic.woff2') format('woff2'),
       url('../fonts/MazzardH-SemiBoldItalic.woff') format('woff'),
       url('../fonts/MazzardH-SemiBoldItalic.ttf') format('truetype');
   font-weight: 600;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-BoldItalic.eot');
   src: local('Mazzard L Bold Italic'), local('MazzardL-BoldItalic'),
       url('../fonts/MazzardL-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-BoldItalic.woff2') format('woff2'),
       url('../fonts/MazzardL-BoldItalic.woff') format('woff'),
       url('../fonts/MazzardL-BoldItalic.ttf') format('truetype');
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-ThinItalic.eot');
   src: local('Mazzard H Thin Italic'), local('MazzardH-ThinItalic'),
       url('../fonts/MazzardH-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-ThinItalic.woff2') format('woff2'),
       url('../fonts/MazzardH-ThinItalic.woff') format('woff'),
       url('../fonts/MazzardH-ThinItalic.ttf') format('truetype');
   font-weight: 100;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-ExtraLight.eot');
   src: local('Mazzard M ExtraLight'), local('MazzardM-ExtraLight'),
       url('../fonts/MazzardM-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-ExtraLight.woff2') format('woff2'),
       url('../fonts/MazzardM-ExtraLight.woff') format('woff'),
       url('../fonts/MazzardM-ExtraLight.ttf') format('truetype');
   font-weight: 200;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-Light.eot');
   src: local('Mazzard L Light'), local('MazzardL-Light'),
       url('../fonts/MazzardL-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-Light.woff2') format('woff2'),
       url('../fonts/MazzardL-Light.woff') format('woff'),
       url('../fonts/MazzardL-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-Bold.eot');
   src: local('Mazzard H Bold'), local('MazzardH-Bold'),
       url('../fonts/MazzardH-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-Bold.woff2') format('woff2'),
       url('../fonts/MazzardH-Bold.woff') format('woff'),
       url('../fonts/MazzardH-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-Medium.eot');
   src: local('Mazzard L Medium'), local('MazzardL-Medium'),
       url('../fonts/MazzardL-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-Medium.woff2') format('woff2'),
       url('../fonts/MazzardL-Medium.woff') format('woff'),
       url('../fonts/MazzardL-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-MediumItalic.eot');
   src: local('Mazzard M Medium Italic'), local('MazzardM-MediumItalic'),
       url('../fonts/MazzardM-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-MediumItalic.woff2') format('woff2'),
       url('../fonts/MazzardM-MediumItalic.woff') format('woff'),
       url('../fonts/MazzardM-MediumItalic.ttf') format('truetype');
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-Thin.eot');
   src: local('Mazzard L Thin'), local('MazzardL-Thin'),
       url('../fonts/MazzardL-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-Thin.woff2') format('woff2'),
       url('../fonts/MazzardL-Thin.woff') format('woff'),
       url('../fonts/MazzardL-Thin.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-ExtraBold.eot');
   src: local('Mazzard M ExtraBold'), local('MazzardM-ExtraBold'),
       url('../fonts/MazzardM-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-ExtraBold.woff2') format('woff2'),
       url('../fonts/MazzardM-ExtraBold.woff') format('woff'),
       url('../fonts/MazzardM-ExtraBold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-Black.eot');
   src: local('Mazzard M Black'), local('MazzardM-Black'),
       url('../fonts/MazzardM-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-Black.woff2') format('woff2'),
       url('../fonts/MazzardM-Black.woff') format('woff'),
       url('../fonts/MazzardM-Black.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-Black.eot');
   src: local('Mazzard L Black'), local('MazzardL-Black'),
       url('../fonts/MazzardL-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-Black.woff2') format('woff2'),
       url('../fonts/MazzardL-Black.woff') format('woff'),
       url('../fonts/MazzardL-Black.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-ThinItalic.eot');
   src: local('Mazzard M Thin Italic'), local('MazzardM-ThinItalic'),
       url('../fonts/MazzardM-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-ThinItalic.woff2') format('woff2'),
       url('../fonts/MazzardM-ThinItalic.woff') format('woff'),
       url('../fonts/MazzardM-ThinItalic.ttf') format('truetype');
   font-weight: 100;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-SemiBold.eot');
   src: local('Mazzard L SemiBold'), local('MazzardL-SemiBold'),
       url('../fonts/MazzardL-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-SemiBold.woff2') format('woff2'),
       url('../fonts/MazzardL-SemiBold.woff') format('woff'),
       url('../fonts/MazzardL-SemiBold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-SemiBoldItalic.eot');
   src: local('Mazzard L SemiBold Italic'), local('MazzardL-SemiBoldItalic'),
       url('../fonts/MazzardL-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-SemiBoldItalic.woff2') format('woff2'),
       url('../fonts/MazzardL-SemiBoldItalic.woff') format('woff'),
       url('../fonts/MazzardL-SemiBoldItalic.ttf') format('truetype');
   font-weight: 600;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard M';
   src: url('../fonts/MazzardM-Thin.eot');
   src: local('Mazzard M Thin'), local('MazzardM-Thin'),
       url('../fonts/MazzardM-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardM-Thin.woff2') format('woff2'),
       url('../fonts/MazzardM-Thin.woff') format('woff'),
       url('../fonts/MazzardM-Thin.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-Regular.eot');
   src: local('Mazzard H Regular'), local('MazzardH-Regular'),
       url('../fonts/MazzardH-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-Regular.woff2') format('woff2'),
       url('../fonts/MazzardH-Regular.woff') format('woff'),
       url('../fonts/MazzardH-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-ExtraLightItalic.eot');
   src: local('Mazzard L ExtraLight Italic'), local('MazzardL-ExtraLightItalic'),
       url('../fonts/MazzardL-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-ExtraLightItalic.woff2') format('woff2'),
       url('../fonts/MazzardL-ExtraLightItalic.woff') format('woff'),
       url('../fonts/MazzardL-ExtraLightItalic.ttf') format('truetype');
   font-weight: 200;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-SemiBold.eot');
   src: local('Mazzard H SemiBold'), local('MazzardH-SemiBold'),
       url('../fonts/MazzardH-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-SemiBold.woff2') format('woff2'),
       url('../fonts/MazzardH-SemiBold.woff') format('woff'),
       url('../fonts/MazzardH-SemiBold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-BoldItalic.eot');
   src: local('Mazzard H Bold Italic'), local('MazzardH-BoldItalic'),
       url('../fonts/MazzardH-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-BoldItalic.woff2') format('woff2'),
       url('../fonts/MazzardH-BoldItalic.woff') format('woff'),
       url('../fonts/MazzardH-BoldItalic.ttf') format('truetype');
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard L';
   src: url('../fonts/MazzardL-BlackItalic.eot');
   src: local('Mazzard L Black Italic'), local('MazzardL-BlackItalic'),
       url('../fonts/MazzardL-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardL-BlackItalic.woff2') format('woff2'),
       url('../fonts/MazzardL-BlackItalic.woff') format('woff'),
       url('../fonts/MazzardL-BlackItalic.ttf') format('truetype');
   font-weight: 900;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-ExtraLightItalic.eot');
   src: local('Mazzard H ExtraLight Italic'), local('MazzardH-ExtraLightItalic'),
       url('../fonts/MazzardH-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-ExtraLightItalic.woff2') format('woff2'),
       url('../fonts/MazzardH-ExtraLightItalic.woff') format('woff'),
       url('../fonts/MazzardH-ExtraLightItalic.ttf') format('truetype');
   font-weight: 200;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Mazzard H';
   src: url('../fonts/MazzardH-ExtraBold.eot');
   src: local('Mazzard H ExtraBold'), local('MazzardH-ExtraBold'),
       url('../fonts/MazzardH-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MazzardH-ExtraBold.woff2') format('woff2'),
       url('../fonts/MazzardH-ExtraBold.woff') format('woff'),
       url('../fonts/MazzardH-ExtraBold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Manrope';
   src: url('../fonts/Manrope-Bold.eot');
   src: local('Manrope Bold'), local('Manrope-Bold'),
       url('../fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Manrope-Bold.woff2') format('woff2'),
       url('../fonts/Manrope-Bold.woff') format('woff'),
       url('../fonts/Manrope-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Manrope';
   src: url('../fonts/Manrope-Semibold.eot');
   src: local('Manrope Semibold'), local('Manrope-Semibold'),
       url('../fonts/Manrope-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Manrope-Semibold.woff2') format('woff2'),
       url('../fonts/Manrope-Semibold.woff') format('woff'),
       url('../fonts/Manrope-Semibold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Manrope';
   src: url('../fonts/Manrope-Regular.eot');
   src: local('Manrope Regular'), local('Manrope-Regular'),
       url('../fonts/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Manrope-Regular.woff2') format('woff2'),
       url('../fonts/Manrope-Regular.woff') format('woff'),
       url('../fonts/Manrope-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Manrope';
   src: url('../fonts/Manrope-Light.eot');
   src: local('Manrope Light'), local('Manrope-Light'),
       url('../fonts/Manrope-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Manrope-Light.woff2') format('woff2'),
       url('../fonts/Manrope-Light.woff') format('woff'),
       url('../fonts/Manrope-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Manrope';
   src: url('../fonts/Manrope-Thin.eot');
   src: local('Manrope Thin'), local('Manrope-Thin'),
       url('../fonts/Manrope-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Manrope-Thin.woff2') format('woff2'),
       url('../fonts/Manrope-Thin.woff') format('woff'),
       url('../fonts/Manrope-Thin.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Manrope';
   src: url('../fonts/Manrope-Medium.eot');
   src: local('Manrope Medium'), local('Manrope-Medium'),
       url('../fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Manrope-Medium.woff2') format('woff2'),
       url('../fonts/Manrope-Medium.woff') format('woff'),
       url('../fonts/Manrope-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Manrope';
   src: url('../fonts/Manrope-ExtraBold.eot');
   src: local('Manrope ExtraBold'), local('Manrope-ExtraBold'),
       url('../fonts/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Manrope-ExtraBold.woff2') format('woff2'),
       url('../fonts/Manrope-ExtraBold.woff') format('woff'),
       url('../fonts/Manrope-ExtraBold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
   font-display: swap;
}

.bg-primary{
    background-color: $bodyBackgroundPrimary;
}
.bg-secondary{
    background-color: $bodyBackgroundSecondary;
}
.bg-tertiary{
    background-color: $bodyBackgroundTertiary;
}
.bg-neutral{
    background-color: $bodyBackgroundNeutral;
}
.bg-accent{
    background-color: $bodyBackgroundAccent;
}
.bg-primary-inverted{
    background-color: $bodyBackgroundPrimaryInverted;
}
.bg-neutral-inverted{
    background-color: $bodyBackgroundNeutralInverted;
}
.c-primary{
    color: $bodyColorPrimary;
}
.c-secondary{
    color: $bodyColorSecondary;
}
.c-tertiary{
    color: $bodyColorTertiary;
}
.c-neutral{
    color: $bodyColorNeutral;
}
.c-accent{
    color: $bodyColorAccent;
}
.c-primary-inverted{
    color: $bodyColorPrimaryInverted;
}
.c-secondary-inverted{
    color: $bodyColorSecondaryInverted !important;
}
.ff-primary{
    font-family: $bodyFontPrimary;
}
.ff-secondary{
    font-family: $bodyFontSecondary;
}
.fw-300{
    font-weight: 300;
}

.kmnd-body{
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    font-family: $bodyFontPrimary;
    font-size: 1rem;
    line-height: $lineHeight;
    color: $bodyColorPrimary;
    background: $bodyBackgroundPrimary;
    margin: 0 auto;
    overflow-x: hidden;
    &_noscroll{
       overflow: hidden;
    }
 }

 .kmnd-main{
    position: relative;
    overflow: hidden;
 }

 .btn{
    background: $bodyBackgroundAccent;
    border: solid 1px $bodyBackgroundAccent;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    padding: 7px 13px;
    min-height: 50px;
    color: $bodyColorPrimaryInverted;
    transition: $transition;
    font-size: 1.125rem;
    &:active, &:focus{
        background: $bodyBackgroundAccent;
        border: solid 1px $bodyBackgroundAccent;
    }
    &:hover{
        background: #00dd81;
        border: solid 1px #00dd81;
    }
    &_secondary{
        background: $bodyColorAccent;
        border: solid 1px $bodyColorAccent;
        &:active, &:focus{
            background: $bodyColorAccent;
            border: solid 1px $bodyColorAccent;
        }
        &:hover{
            background: #ff123d;
            border: solid 1px #ff123d;
        }
    }
    &_tertiary{
        background: $bodyBackgroundNeutralInverted;
        border: solid 1px $bodyBackgroundNeutralInverted;
        &:active, &:focus{
            background: $bodyBackgroundNeutralInverted;
            border: solid 1px $bodyBackgroundNeutralInverted;
        }
        &:hover{
            background: #1f55dd;
            border: solid 1px #1f55dd;
        }
    }
    &_fourth{
        background: #F0F0F0;
        border: solid 1px #F0F0F0;
        color: $bodyBackgroundPrimaryInverted;
        &:active, &:focus{
            background: #F0F0F0;
            border: solid 1px #F0F0F0;
        }
        &:hover{
            background: #e1e0e0;
            border: solid 1px #e1e0e0;
        }
    }
    &_fifth{
        font-size: 0.813rem;
        font-weight: 600;
        background: rgba(255, 255, 255, 0.4);
        border: solid 1px $bodyBackgroundPrimary;
        border-radius: 150px;
        padding: 10px 27px;
        min-height: 44px;
        backdrop-filter: blur(2px);
        &:active, &:focus{
            background: rgba(255, 255, 255, 0.4);
            border: solid 1px $bodyBackgroundPrimary;
        }
        &:hover{
            background: $bodyBackgroundAccent;
            border: solid 1px $bodyBackgroundAccent;
        }
    }
    &_sixth{
        background: none;
        color: $bodyColorSecondary;
        &:active, &:focus{
            background: none;
        }
        &:hover{
            background: $bodyBackgroundAccent;
            border: solid 1px $bodyBackgroundAccent;
            color: $bodyColorPrimaryInverted;
        }
    }
    &_seventh{
        background: none;
        color: #23459B;
        border: solid 1px #23459B;
        &:active, &:focus{
            background: none;
            border: solid 1px #23459B;
            color: #23459B;
        }
        &:hover{
            border: solid 1px #23459B;
            color: #ffffff;
            background: #23459B;
        }
    }
 }

 .title{
    margin: 0;
    font-family: $bodyFontSecondary;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.875rem;
    line-height: 1.667;
 }

 .item{
    width: 100%;
    text-decoration: none;
    border: solid 1px $bodyBorderColorPrimary;
    border-radius: 5px;
    position: relative;
    a{
        text-decoration: none;
        display: block;
    }
    &__image{
        padding: 6px 6px 0;
        position: relative;
        figure{
            display: block;
            width: 100%;
            position: relative;
            &:after{
                content: '';
                position: relative;
                display: block;
                padding-top: 85.24%;
            }
        }
    }
    &__actions{
        display: flex;
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
    }
    &__action{
        width: 35px;
        height: 35px;
        box-shadow: 0px 6px 25px rgba(162, 162, 162, 0.25);
        backdrop-filter: blur(5px);
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $bodyBackgroundPrimary;
        margin-right: 5px;
        transition: $transition;
        cursor: pointer;
        &:last-of-type{
            margin-right: 0;
        }
        &:hover{
            background: #F0F0F0;
        }
        svg{
            path{
                transition: $transition;
            }
        }
        &_comparison{
            &.item{
                &__action{
                    &_active{
                        background: $bodyBackgroundAccent;
                        svg{
                            path{
                                fill: $bodyColorPrimaryInverted;
                            }
                        }
                    }
                }
            }
        }
        &_wishlist{
            &.item{
                &__action{
                    &_active{
                        background: $bodyBackgroundNeutral;
                        svg{
                            path{
                                fill: $bodyColorPrimaryInverted;
                            }
                        }
                    }
                }
            }
        }
    }
    &__label{
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;
        height: 35px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.75rem;
        font-weight: 600;
        padding-left: 5px;
        padding-right: 5px;
    }
    &__plans{
        position: absolute;
        z-index: 1;
        top: 48px;
        // top: 10px;
        left: 10px;
    }
    &__plan{
        width: 35px;
        height: 35px;
        box-shadow: 0px 6px 25px rgba(162, 162, 162, 0.25);
        backdrop-filter: blur(5px);
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $bodyBackgroundPrimary;
        margin-bottom: 2px;
        cursor: pointer;
        position: relative;
        &:last-of-type{
            margin-bottom: 0;
        }
        img{
            height: 20px;
            width: auto;
            display: block;
        }
        span{
            position: absolute;
            bottom: 0;
            right: 3px;
            font-size: 0.5rem;
            color: #000000;
        }
        &_dark{
            background: $bodyBackgroundPrimaryInverted;
            span{
                color: $bodyColorPrimaryInverted;
            }
        }
    }
    &__body{
        padding: 8px 16px 17px 13px;
        border-top: solid 1px $bodyBorderColorPrimary;
        margin-top: 6px;
    }
    &__title{
        font-weight: 500;
        color: $bodyColorPrimary;
        width: 100%;
        max-width: 260px;
        line-height: 1.375;
        margin-bottom: 9px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        min-height: 4.125rem;
    }
    &__stats{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &__rating{
        display: flex;
        align-items: center;
        margin-right: 10px;
        svg{
            display: block;
            height: 15px;
            width: auto;
            margin-right: 1px;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
    &__comments{
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        color: #676767;
        svg{
            margin-right: 1px;
            display: block;
        }
    }
    &__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__price{
        font-weight: 600;
        font-size: 1.563rem;
        color: $bodyColorPrimary;
        display: flex;
        align-items: center;
        del{
            opacity: 0.5;
            font-weight: normal;
            font-size: 0.75rem;
            margin-left: 10px;
        }
    }
    &__btn{
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
        border-radius: 3px;
        box-shadow: 0px 6px 25px rgba(162, 162, 162, 0.25);
        backdrop-filter: blur(5px);
        height: 44px;
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #7230F4;
        text-align: center;
        transition: $transition;
        text-decoration: none;
        cursor: pointer;
        &:active, &:focus{
            background: #7230F4;
        }
        &:hover{
            background: #905cf4;
        }
        &_active{
            background: $bodyBackgroundAccent;
            &:active, &:focus{
                background: $bodyBackgroundAccent;
            }
            &:hover{
                background: $bodyBackgroundAccent;
            }
        }
    }
    &__description{
        padding: 17px 12px 14px 13px;
        background: $bodyBackgroundPrimary;
        border-bottom: solid 1px $bodyBorderColorPrimary;
        border-left: solid 1px $bodyBorderColorPrimary;
        border-right: solid 1px $bodyBorderColorPrimary;
        border-radius: 0 0 5px 5px;
        position: absolute;
        bottom: 15px;
        left: -1px;
        transform: translateY(100%);
        width: calc(100% + 2px);
        line-height: 1.333;
        transition: $transition;
        pointer-events: none;
        opacity: 0;
        p{
            color: #707070;
            font-size: 0.75rem;
        }
    }
    &:hover{
        .item{
            &__description{
                opacity: 1;
            }
        }
    }
 }

 .breadcrumbs{
    padding-bottom: 19px;
    &__list{
       list-style: none;
    }
    &__item{
       display: inline-flex;
       align-items: center;
       color: $bodyColorSecondary;
       font-size: 0.875rem;
       a{
            text-decoration: none;
            color: inherit;
            transition: $transition;
            &:hover{
                color: $bodyColorAccent;
            }
       }
       &:after{
            content: '';
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' fill='none' viewBox='0 0 5 5'%3E%3Cpath fill='%232D2D2D' d='M3.889 2.305 1.664.08A.272.272 0 0 0 1.47 0a.271.271 0 0 0-.193.08l-.164.164a.274.274 0 0 0 0 .387l1.869 1.868-1.87 1.87a.272.272 0 0 0 0 .387l.163.164a.271.271 0 0 0 .387 0l2.227-2.227a.272.272 0 0 0 .08-.194.272.272 0 0 0-.08-.194Z'/%3E%3C/svg%3E") no-repeat center / contain;
            width: 5px;
            height: 5px;
            display: inline-block;
            margin: 0 5px;
       }
       &:last-of-type{
            &:after{
                display: none;
            }
       }
    }
 }

 .select{
    position: relative;
    select{
        box-sizing: border-box;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        border: 1px solid #CFCFCF;
        padding: 13px 15px;
        font-weight: 400;
        font-size: 0.875rem;
        color: #CFCFCF;
        min-height: 50px;
        transition: $transition;
        text-align: center;
        cursor: pointer;
        &::-ms-expand {
            display: none;
        }
        &:hover{
            border-color: #000;
        }
    }
    &_selected{
        select{
            border-color: $bodyColorPrimary;
            color: $bodyColorPrimary;
        }
    }
 }


 @media (max-width: map_get($adaptive-breakpoints, 'xxl')){
    .btn{
        font-size: 1rem;
        &_fifth{
            font-size: 0.813rem;
            min-height: 35px;
            padding: 6px 17px;
        }
    }
    .item{
        &__image{
            padding: 6px 3px 0;
            figure{
                &:after{
                    padding-top: 81.81%;
                }
            }
        }
        // &__plans{
        //     transition: $transition;
        //     opacity: 0;
        // }
        &__body{
            margin-top: 6px;
            padding: 8px 13px 11px 11px;
        }
        &__title{
            font-size: 0.813rem;
            margin-bottom: 5px;
            min-height: 3.125rem;
        }
        &__stats{
            margin-bottom: 15px;
        }
        &__price{
            font-size: 1.25rem;
        }
        &__btn{
            height: 39px;
            width: 39px;
        }
        &__description{
            padding: 9px 10px 11px;
            bottom: 9px;
        }
        // &:hover{
        //     .item{
        //         &__plans{
        //             opacity: 1;
        //         }
        //     }
        // }
    }
    .breadcrumbs{
        padding-bottom: 25px;
    }
 }

 @media (max-width: map_get($adaptive-breakpoints, 'xl')){
    .item{
        &__price{
            flex-direction: column;
            font-size: 1rem;
            align-items: flex-start;
            del{
                margin-left: 0;
                font-size: 0.625rem;
            }
        }
    }
 }

 @media (max-width: map_get($adaptive-breakpoints, 'lg')){
    .kmnd-body{
        padding-top: 101px;
    }
    .item{
        &__image{
            padding: 6px 6px 0;
            figure{
                &:after{
                    padding-top: 90.78%;
                }
            }
        }
        &__plans{
            opacity: 1;
            top: 32px;
            left: 4px;
        }
        &__label{
            top: 4px;
            left: 4px;
            font-size: 0.625rem;
            height: 26px;
        }
        &__plan{
            height: 26px;
            width: 26px;
            img{
                height: 12px;
            }
            span{
                right: 2;
            }
        }
        &__actions{
            top: 4px;
            right: 4px;
        }
        &__action{
            margin-right: 2px;
            height: 26px;
            width: 26px;
            &:last-of-type{
                margin-right: 0;
            }
            svg{
                height: 18px;
            }
        }
        &__body{
            padding: 8px 7px 10px 10px;
        }
        &__title{
            font-size: 0.75rem;
            margin-bottom: 0;
        }
        &__stats{
            margin-bottom: 6px;
        }
        &__rating{
            margin-right: 7px;
            svg{
                height: 11px;
            }
        }
        &__comments{
            font-size: 0.688rem;
            position: relative;
            bottom: -2px;
            svg{
                height: 13px;
                margin-right: 0;
                position: relative;
                bottom: 2px;
            }
        }
        &__price{
            font-size: 1.125rem;
        }
        &__btn{
            height: 43px;
            width: 43px;
        }
        &__description{
            display: none;
        }
    }
    .breadcrumbs{
        padding: 8px 0 14px;
        &__list{
            width: 100vw;
            margin-left: -20px;
            overflow: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &__item{
            font-size: 0.75rem;
            white-space: nowrap;
        }
    }
 }

 @media (max-width: map_get($adaptive-breakpoints, 'sm')){
    .btn{
        font-size: 0.875rem;
        min-height: 44px;
        &_fifth{
            min-height: 44px;
            padding: 10px 27px;
            font-size: 0.813rem;
        }
    }
    .select{
        select{
            min-height: 44px;
            padding: 13px 15px;
        }
    }
    .title{
        font-size: 1.25rem;
        line-height: 1.25;
    }
 }