.artist{
	&__row{
		display: flex;
		align-items: center;
	}
	&__col{
		margin-right: 60px;
		&:nth-of-type(1){
			display: flex;
			align-items: center;
			justify-content: center;
			max-height: calc(100vh - 75px);
			overflow: hidden;
			width: calc(60% - 60px);
		}
		&:nth-of-type(2){
			margin-right: 0;
			width: 40%;
		}
	}
	&__image{
		width: 100%;
		display: block;
		position: relative;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transition: all 1s ease;
		transition-delay: 1s;
		left: -100px;
		opacity: 0;
		&:after{
			content: '';
			display: block;
			position: relative;
			padding-top: 115.07570770244%;
		}
	}
	&__category{
		color: $bodyColorPrimary;
		font-size: 0.875rem;
		text-transform: uppercase;
		transition: $transition;
		position: relative;
		left: 0;
		margin-bottom: 30px;
		transition: all 1.5s ease;
		transition-delay: 2s;
		opacity: 0;
		a{
			text-decoration: underline;
			color: inherit;
		}
		&:hover{
			left: -10px;
		}
	}
	&__name{
		margin: 0 0 30px;
		font-size: 1.313rem;
		font-weight: bold;
		transition: all 1s ease;
		transition-delay: 2.5s;
		opacity: 0;
	}
	&__text{
		font-size: 0.875rem;
		width: 100%;
		max-width: 460px;
		line-height: 1.6;
		transition: all 1s ease;
		transition-delay: 3s;
		opacity: 0;
	}
	&__section{
		&_animated{
			.artist{
				&__image{
					left: 0;
					opacity: 1;
				}
				&__category{
					opacity: 1;
				}
				&__name{
					opacity: 1;
				}
				&__text{
					opacity: 1;
				}
			}
		}
	}
	&__soc{
		position: fixed;
		z-index: 5;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		a{
			text-decoration: none;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 52px;
			width: 52px;
			transition: $transition;
			img{
				height: 28px;
				width: auto;
				display: block;
			}
			&:hover{
				opacity: 0.7;
			}
		}
	}
}

.collection{
	&__section{
		&_artist{
			.item__title{
				font-size: 1.125rem;
			}
			.item__author{
				font-size: 0.875rem;
			}
			.item__price{
				font-size: 0.875rem;
			}
		}
	}
}

@media (min-width: 577px) and (max-width: 992px){
	.artist{
		&__section{
			.container-fluid{
				padding-left: 0;
			}
		}
		&__image{
			min-height: calc(100vh - 45px);
			&:after{
				display: none;
			}
		}
		&__col{
			&:nth-of-type(1){
				width: calc(55% - 45px);
				margin-right: 45px;
			}
			&:nth-of-type(2){
				width: 45%;
			}
		}
	}
}

@media (max-width: 576px){
	.artist{
		&__row{
			display: block;
		}
		&__col{
			margin-right: 0;
			&:nth-of-type(1){
				display: block;
				max-height: unset;
				width: 100vw;
				margin-left: -20px;
				margin-bottom: 20px;
			}
			&:nth-of-type(2){
				width: 100%;
				max-width: 300px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		&__name{
			font-size: 1.125rem;
		}
		&__soc{
			position: relative;
			transform: none;
			top: 0;
			right: auto;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			// margin-top: 10px;
			margin-bottom: 42px;
		}
	}
}