$bodyBackgroundPrimary: var(--kmnd-body-background-color-primary);

$bodyColorPrimary: var(--kmnd-body-color-primary);
$bodyColorNeutral: var(--kmnd-body-color-neutral);
$bodyColorAccent: var(--kmnd-body-color-accent);

$bodyFontPrimary: var(--kmnd-body-font-family-primary);
$bodyFontSecondary: var(--kmnd-body-font-family-secondary);

$transition: ease 0.25s all;