header{
	background: $white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	.header-top{
		display: flex;
		align-items: center;
		padding: 30px 0 23px;
		.logo{
			text-decoration: none;
			display: block;
		}
		.logo-text{
			font-weight: normal;
			font-size: 13px;
			line-height: 17px;
			color: #93A7B0;
			padding: 0 46px 0 20px;
			margin: 0;
		}
		.location{
			font-weight: normal;
			font-size: 13px;
			line-height: 18px;
			color: $black;
			margin: 0;
			padding: 0 0 0 20px;
			position: relative;
			&:before{
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				height: 42px;
				width: 2px;
				background: $orange;
				content: '';
				display: block;
				position: absolute;
			}
		}
		.phone{
			display: flex;
			align-items: center;
			margin: 0 30.5px 0 auto;
			a{
				text-decoration: none;
				font-weight: normal;
				font-size: 18px;
				line-height: 20px;
				display: block;
				margin: 0 0 0 7px;
				color: $black;
				transition: all 0.3s;
				&:hover{
					color: $orange;
				}
			}
		}
		.btn-callback{
			text-decoration: none;
			outline: none;
			box-shadow: none;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			background: $white;
			border: solid 1px $orange;
			height: 45px;
			width: 168px;
			border-radius: 50px;
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			color: $orange;
			transition: all 0.3s;
			&:hover{
				background: #FFF5EA;
			}
		}
		.btn-menu{
			width: 19.5px;
			height: 12px;
			cursor: pointer;
			position: relative;
			display: none;
			.line{
				border-radius: 100px;
				background: $black;
				height: 3px;
				width: 100%;
				transition: all 0.3s;
				top: 1.5px;
				left: 10px;
				transform: translate(-50%, -50%);
				position: absolute;
				&:last-of-type{
					width: 12px;
					top: auto;
					left: 6px;
					bottom: -1px;
				}
			}
			&.active{
				.line{
					top: 50%;
					left: 10px;
					transform: translate(-50%, -50%) rotate(45deg);
					&:last-of-type{
						width: 100%;
						bottom: auto;
						top: 50%;
						left: 10px;
						transform: translate(-50%, -50%) rotate(-45deg);
					}
				}
			}
		}
	}
	hr{
		margin: 0;
		border-top: 1px solid #E3EAEE;
	}
	.header-bottom{
		padding: 18px 0;
		display: flex;
		align-items: center;
		ul{
			margin: 0;
			list-style: none;
			display: flex;
			align-items: center;
			li{
				margin: 0 40px 0 0;
				&:last-of-type{
					margin: 0;
				}
				a{
					text-decoration: none;
					font-weight: normal;
					font-size: 16px;
					line-height: 21px;
					color: $black;
					transition: all 0.3s;
					&:hover{
						color: $orange;
					}
				}
				&.current-menu-item{
					position: relative;
					a{
						color: $orange;
					}
					&:before{
						content: '';
						display: block;
						position: absolute;
						top: -20px;
						left: 0;
						width: 100%;
						height: 2px;
						background: $orange;
					}
				}
			}
		}
		.location, .phone, .btn-callback{
			display: none;
		}
	}
}

@media (max-width: 1200px){
	header{
		.header-top{
			.logo-text{
				display: none;
			}
			.location{
				margin-left: 46px;
			}
		}
	}
}

@media (max-width: 992px){
	header{
		.header-top{
			padding: 15px 0;
			.logo{
				img{
					height: 30px;
					width: auto;
				}
			}
			.logo-text{
				display: block;
			}
			.location{
				display: none;
			}
			.phone{
				display: none;
			}
			.btn-callback{
				display: none;
			}
			.btn-menu{
				display: block;
				margin-left: auto;
			}
		}
		hr{
			display: none;
		}
		.header-bottom{
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 100%);
			display: none;
			width: 100vw;
			padding-left: 15px;
			padding-right: 15px;
			height: calc(100vh - 64px);
			overflow: auto;
			-ms-overflow-style: none;
			scrollbar-width: none;
			background: $white;
			&::-webkit-scrollbar {
				display: none;
			}
			ul{
				display: block;
				margin-bottom: 18px;
				li{
					margin: 0;
					text-align: center;
					margin-bottom: 15px;
					&:last-of-type{
						margin-bottom: 0;
					}
					&.current-menu-item{
						&:before{
							display: none;
						}
					}
				}
			}
			.location{
				font-weight: normal;
				font-size: 13px;
				line-height: 18px;
				color: $black;
				margin: 0 0 15px;
				position: relative;
				display: block;
				text-align: center;
			}
			.phone{
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 0 15px;
				a{
					text-decoration: none;
					font-weight: normal;
					font-size: 18px;
					line-height: 20px;
					display: block;
					margin: 0 0 0 7px;
					color: $black;
				}
			}
			.btn-callback{
				text-decoration: none;
				outline: none;
				box-shadow: none;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				background: $white;
				border: solid 1px $orange;
				height: 45px;
				width: 168px;
				border-radius: 50px;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				color: $orange;
				margin: 0 auto;
			}
		}
	}
}