footer{
	background: $gray;
	padding: 52px 0 58px;
	.footer-top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 45px;
		border-bottom: 1px solid #DAE3E8;
		margin-bottom: 23px;
		ul{
			list-style: none;
			display: flex;
			align-items: center;
			margin: 0;
			li{
				margin: 0 40px 0 0;
				&:last-of-type{
					margin: 0;
				}
				a{
					font-weight: normal;
					font-size: 16px;
					line-height: 21px;
					color: $black;
					text-decoration: none;
					margin: 0;
					display: block;
					transition: all 0.3s;
					&:hover{
						color: $orange;
					}
				}
			}
		}
		.phone{
			display: flex;
			align-items: center;
			margin: 0;
			a{
				text-decoration: none;
				font-weight: normal;
				font-size: 18px;
				line-height: 20px;
				display: block;
				margin: 0 0 0 7px;
				color: $black;
				transition: all 0.3s;
				&:hover{
					color: $orange;
				}
			}
		}
	}
	.footer-bottom{
		display: flex;
		align-items: center;
		.copy{
			font-weight: normal;
			font-size: 15px;
			line-height: 21px;
			color: $black;
			margin: 0 60px 0 0;
		}
		.policy{
			text-decoration: none;
			display: block;
			margin: 0 auto 0 0;
			font-weight: normal;
			font-size: 15px;
			line-height: 21px;
			color: $black;
			transition: all 0.3s;
			&:hover{
				color: $orange;
			}
		}
		.dev{
			text-decoration: none;
			display: flex;
			align-items: center;
			font-weight: normal;
			font-size: 15px;
			line-height: 21px;
			color: $black;
			img{
				margin-left: 15px;
			}
		}
	}
}

@media (max-width: 1200px){
	footer{
		.footer-top{
			ul{
				li{
					margin: 0 15px 0 0;
					&:last-of-type{
						margin: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 992px){
	footer{
		padding: 45px 0;
		.footer-top{
			display: block;
			padding-bottom: 30px;
			margin-bottom: 30px;
			ul{
				display: block;
				margin-bottom: 30px;
				li{
					margin: 0 0 15px;
					text-align: center;
					&:last-of-type{
						margin: 0;
					}
				}
			}
			.phone{
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.footer-bottom{
			display: block;
			.copy{
				text-align: center;
				margin: 0 0 15px;
			}
			.policy{
				text-align: center;
				margin: 0 0 15px;
			}
			.dev{
				margin: 0;
				justify-content: center;
			}
		}
	}
}