@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-Bold.eot');
    src: local('Euclid Square Bold'), local('EuclidSquare-Bold'),
        url('../fonts/EuclidSquare-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidSquare-Bold.woff2') format('woff2'),
        url('../fonts/EuclidSquare-Bold.woff') format('woff'),
        url('../fonts/EuclidSquare-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-Regular.eot');
    src: local('Euclid Square Regular'), local('EuclidSquare-Regular'),
        url('../fonts/EuclidSquare-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidSquare-Regular.woff2') format('woff2'),
        url('../fonts/EuclidSquare-Regular.woff') format('woff'),
        url('../fonts/EuclidSquare-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-SemiBold.eot');
    src: local('Euclid Square SemiBold'), local('EuclidSquare-SemiBold'),
        url('../fonts/EuclidSquare-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidSquare-SemiBold.woff2') format('woff2'),
        url('../fonts/EuclidSquare-SemiBold.woff') format('woff'),
        url('../fonts/EuclidSquare-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-LightItalic.eot');
    src: local('Euclid Square Light Italic'), local('EuclidSquare-LightItalic'),
        url('../fonts/EuclidSquare-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidSquare-LightItalic.woff2') format('woff2'),
        url('../fonts/EuclidSquare-LightItalic.woff') format('woff'),
        url('../fonts/EuclidSquare-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-MediumItalic.eot');
    src: local('Euclid Square Medium Italic'), local('EuclidSquare-MediumItalic'),
        url('../fonts/EuclidSquare-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidSquare-MediumItalic.woff2') format('woff2'),
        url('../fonts/EuclidSquare-MediumItalic.woff') format('woff'),
        url('../fonts/EuclidSquare-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-Medium.eot');
    src: local('Euclid Square Medium'), local('EuclidSquare-Medium'),
        url('../fonts/EuclidSquare-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidSquare-Medium.woff2') format('woff2'),
        url('../fonts/EuclidSquare-Medium.woff') format('woff'),
        url('../fonts/EuclidSquare-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-Italic.eot');
    src: local('Euclid Square Italic'), local('EuclidSquare-Italic'),
        url('../fonts/EuclidSquare-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidSquare-Italic.woff2') format('woff2'),
        url('../fonts/EuclidSquare-Italic.woff') format('woff'),
        url('../fonts/EuclidSquare-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-Light.eot');
    src: local('Euclid Square Light'), local('EuclidSquare-Light'),
        url('../fonts/EuclidSquare-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidSquare-Light.woff2') format('woff2'),
        url('../fonts/EuclidSquare-Light.woff') format('woff'),
        url('../fonts/EuclidSquare-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-SemiBoldItalic.eot');
    src: local('Euclid Square SemiBold Italic'), local('EuclidSquare-SemiBoldItalic'),
        url('../fonts/EuclidSquare-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidSquare-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/EuclidSquare-SemiBoldItalic.woff') format('woff'),
        url('../fonts/EuclidSquare-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-BoldItalic.eot');
    src: local('Euclid Square Bold Italic'), local('EuclidSquare-BoldItalic'),
        url('../fonts/EuclidSquare-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidSquare-BoldItalic.woff2') format('woff2'),
        url('../fonts/EuclidSquare-BoldItalic.woff') format('woff'),
        url('../fonts/EuclidSquare-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

$text: 'Euclid Square', sans-serif;

$orange: #F6860D;
$black: #011529;
$white: #ffffff;
$gray: #F0F1F2;

*{
	margin: 0;
	padding: 0;
	font-family: $text;
}

button, input, textarea, select{
	&:active, &:focus, &:hover, &.form-control, &.navbar-toggler{
		outline: none !important;
	}
}

html, body{
	width: 100%;
}

body.noscroll{
    overflow: hidden;
}

.lazyload, .lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 0.3s;
}

body{
    padding-top: 157px;
}

.container-wide{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.page-heading{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 35px 0;
    h1{
        font-weight: 500;
        font-size: 45px;
        line-height: 51px;
        color: $white;
        margin: 0;
    }
}

.ui-selectmenu-button.ui-button{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    max-width: 300px;
    padding: 0 10px 18px;
    border-bottom: 1px solid #DAE1E6;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    .ui-selectmenu-icon{
        background: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5L0 0h10L5 5z' fill='%23011529'/%3E%3C/svg%3E") no-repeat center / contain;
        height: 5px;
        width: 10px;
        display: block;
    }
    .ui-selectmenu-text{
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: $black;
    }
    &:hover{
        border-bottom: 1px solid $black;
    }
}

.ui-selectmenu-menu{
    box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.12);
    background: $white;
    .ui-menu{
        padding-bottom: 15px;
        .ui-menu-item{
            &.ui-state-disabled{
                display: none;
            }
            .ui-menu-item-wrapper{
                padding: 15px 15px 0;
                font-weight: normal;
                font-size: 16px;
                line-height: 21px;
                color: $black;
                transition: all 0.3s;
                margin: 0 !important;
                &:hover{
                    color: $orange;
                }
            }
        }
    }
}

@media (max-width: 992px){
    body{
        padding-top: 64px;
    }
    .page-heading{
        padding: 20px 0;
        h1{
            font-size: 38px;
            line-height: 46px;
        }
    }
}