/** var root**/
$bodyBackgroundPrimary: var(--kmnd-body-background-primary);
$bodyBackgroundSecondary: var(--kmnd-body-background-secondary);
$bodyBackgroundTertiary: var(--kmnd-body-background-tertiary);
$bodyBackgroundNeutral: var(--kmnd-body-background-neutral);
$bodyBackgroundAccent: var(--kmnd-body-background-accent);
$bodyBackgroundPrimaryInverted: var(--kmnd-body-background-primary-inverted);
$bodyBackgroundNeutralInverted: var(--kmnd-body-background-neutral-inverted);

$bodyColorPrimary: var(--kmnd-body-color-primary);
$bodyColorSecondary: var(--kmnd-body-color-secondary);
$bodyColorTertiary: var(--kmnd-body-color-tertiary);
$bodyColorNeutral: var(--kmnd-body-color-neutral);
$bodyColorAccent: var(--kmnd-body-color-accent);
$bodyColorPrimaryInverted: var(--kmnd-body-color-primary-inverted);
$bodyColorSecondaryInverted: var(--kmnd-body-color-secondary-inverted);

$bodyBorderColorPrimary: var(--kmnd-body-border-color-primary);
$bodyBorderColorSecondary: var(--kmnd-body-border-color-secondary);
$bodyBorderColorTertiary: var(--kmnd-body-border-color-tertiary);

$bodyFontPrimary: var(--kmnd-body-font-family-primary);
$bodyFontSecondary: var(--kmnd-body-font-family-secondary);

$fontSize: var(--kmnd-font-size);
$lineHeight: var(--kmnd-line-height);

$containerMaxWidth: var(--kmnd-container-max-width);
$containerMaxWidthMedium: var(--kmnd-container-max-width-medium);
$containerMaxWidthTablet: var(--kmnd-container-max-width-tablet);
$containerPadding: var(--kmnd-container-padding, 1rem);

$transition: var(--kmnd-transition);

/** breakpoints **/ 
$adaptive-breakpoints: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1199px,
  'xxl': 1919px,
);
/** spacing margin padding **/ 
$spaceamounts: (
  0: 0rem,
  1: .25rem,
  2: .5rem,
  3: 1rem,
  4: 1.5rem,
  5: 2rem,
  6: 3rem
);