@import 'var';

.h1{
   // font-size: 1.875rem;
   font-size: 0.9375rem;
   line-height: 1;
   letter-spacing: -0.06em;
   font-family: $bodyFontSecondary;
   margin: 0;
   font-weight: normal;
}

.h2{
   // font-size: 1.75rem;
   font-size: 0.875rem;
   line-height: 1.15;
   letter-spacing: -0.04em;
   font-family: $bodyFontSecondary;
   margin: 0;
   font-weight: normal;
}

.h3{
   // font-size: 1rem;
   font-size: 0.5rem;
   line-height: 1;
   letter-spacing: -0.04em;
   font-family: $bodyFontSecondary;
   margin: 0;
   font-weight: normal;
}

.c-accent{
   color: $bodyColorAccent !important;
}

.uppercase{
   text-transform: uppercase;
}

.text-center{
   text-align: center;
}

@media only screen and (min-width: 993px){
   .h1{
      // font-size: 3.75rem;
      font-size: 1.875rem;
      line-height: 1.05;
      letter-spacing: -0.04em;
   }
   .h2{
      // font-size: 2.5rem;
      font-size: 1.5rem;
   
   }
   .h3{
      // font-size: 1.25rem;
      font-size: 0.625rem;
   }
}