.head__section {
  padding: 18px 0 45px;
}

.head__image {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
  margin: 0 auto 53px;
  position: relative;
  -webkit-animation: hue 2s linear infinite;
          animation: hue 2s linear infinite;
}

.head__title {
  text-align: center;
  font-weight: 700;
  font-size: 6.25rem;
  line-height: 7.25rem;
  margin: 0 0 15px;
}

.head__text {
  margin: 0 auto;
  font-size: 1.375rem;
  line-height: 1.625rem;
  text-align: center;
  max-width: 770px;
}

.speed {
  background: var(--kmnd-body-background-color-primary);
}

.speed__section {
  padding-top: 125px;
}

.speed__background {
  width: 100%;
  margin: 0 auto;
  max-width: 1315px;
  padding: 46px 20px 88px;
}

.content__section {
  padding: 44px 0 100px;
  background-color: var(--kmnd-body-background-color-primary);
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__row_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.content__col {
  width: 50%;
  position: relative;
}

.content__col:nth-of-type(1) {
  z-index: 1;
}

.content__pretitle {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.313rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--kmnd-body-color-secondary);
}

.content__image {
  display: block;
  width: auto;
  height: 112px;
  margin: 0;
}

.content__stats {
  font-size: 1.125rem;
  line-height: 1.313rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.content__stats span {
  color: var(--kmnd-body-color-secondary);
}

.content__text {
  margin: 30px 0 25px;
  max-width: 576px;
  font-size: 1rem;
  line-height: 1.313rem;
}

.content__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

.content__advantages-col {
  width: calc(50% - 18px);
  margin-right: 36px;
}

.content__advantages-col:last-of-type {
  margin-right: 0;
}

.content__advantages-item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__advantages-item:last-of-type {
  margin-bottom: 0;
}

.content__advantages-item img {
  width: 31px;
  height: auto;
  display: block;
  margin-right: 18px;
}

.content__advantages-item p {
  font-weight: 700;
  line-height: 1.313rem;
  font-size: 1.125rem;
}

.content__advantages-item_label img {
  width: auto;
  margin: 0;
  height: 39px;
}

.content__background {
  display: none;
}

.overview__section {
  padding-top: 132px;
}

.overview__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 388px;
          flex: 0 388px;
  -webkit-transition: ease 0.25s all;
  -o-transition: ease 0.25s all;
  transition: ease 0.25s all;
  opacity: 0;
  left: -20px;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.overview__col img {
  display: block;
  margin: 0 auto;
}

.overview__col:nth-of-type(3) {
  -webkit-transition-delay: 1.5s;
       -o-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.overview__col:nth-of-type(3) .overview__item:before {
  background: url("../img/bg-overview2-1.png") no-repeat center/100% 100%;
}

.overview__col:nth-of-type(3) .overview__item:after {
  background: url("../img/bg-overview2-2.png") no-repeat center/100% 100%;
}

.overview__col:nth-of-type(3) .overview__title {
  color: var(--kmnd-body-color-primary);
}

.overview__col:nth-of-type(3) .overview__text {
  color: var(--kmnd-body-color-primary);
}

.overview__middle {
  -webkit-box-flex: 0;
      -ms-flex: 0 198px;
          flex: 0 198px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: ease 0.25s all;
  -o-transition: ease 0.25s all;
  transition: ease 0.25s all;
  opacity: 0;
  position: relative;
  left: -20px;
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}

.overview__middle img {
  display: block;
  margin: 0 auto 107px;
}

.overview__middle img:nth-of-type(1) {
  margin-top: 20px;
  margin-bottom: auto;
}

.overview__middle img:last-of-type {
  margin-bottom: 100px;
}

.overview__pretitle {
  text-align: center;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 20px 0;
}

.overview__item {
  position: relative;
  padding: 40px 0 50px;
}

.overview__item p, .overview__item img {
  position: relative;
  z-index: 2;
}

.overview__item:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg-overview1-1.png") no-repeat center/100% 100%;
  z-index: 1;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.overview__item:after {
  content: "";
  position: absolute;
  display: block;
  top: 5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background: url("../img/bg-overview1-2.png") no-repeat center/100% 100%;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.overview__item figure {
  height: 53px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overview__title {
  text-align: center;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 1.25rem;
  color: #5C5C5C;
}

.overview__text {
  text-align: center;
  margin: 14px 0 40px;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #5C5C5C;
}

.overview__text:last-of-type {
  margin-bottom: 0;
}

.overview__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 974px;
  margin: 100px auto 0;
}

.overview__row_animated .overview__col {
  opacity: 1;
  left: 0;
}

.overview__row_animated .overview__col:nth-of-type(3) {
  opacity: 1;
  left: 0;
}

.overview__row_animated .overview__middle {
  opacity: 1;
  left: 0;
}

.faq__section {
  padding-top: 180px;
  padding-bottom: 80px;
}

.faq__head {
  padding: 20px 30px 20px 0;
  cursor: pointer;
  position: relative;
}

.faq__head p {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.625rem;
  letter-spacing: 0.1em;
}

.faq__head svg {
  position: absolute;
  right: 0;
  top: 30px;
  -webkit-transition: ease 0.25s all;
  -o-transition: ease 0.25s all;
  transition: ease 0.25s all;
}

.faq__content {
  padding-bottom: 0;
  width: calc(100% - 30px);
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.313rem;
  max-height: 0px;
  -webkit-transition: ease 0.25s all;
  -o-transition: ease 0.25s all;
  transition: ease 0.25s all;
}

.faq__item {
  width: 100%;
  max-width: 985px;
  margin: 0 auto;
  border-bottom: 0.5px solid #828282;
}

.faq__item:first-of-type {
  margin-top: 60px;
  border-top: 0.5px solid #828282;
}

.faq__item_active .faq__head svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq__item_active .faq__content {
  padding-bottom: 20px;
  max-height: 500px;
}

.game__section {
  padding: 80px 0;
}

.game__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game__col {
  width: calc(50% - 20px);
  margin-right: 40px;
}

.game__col:last-of-type {
  margin-right: 0;
  position: relative;
  z-index: 2;
}

.game__image {
  position: relative;
  margin: 0;
}

.game__image img:nth-of-type(1) {
  height: 537px;
  width: auto;
  display: block;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.game__image img:nth-of-type(2) {
  width: 100%;
  max-width: 612px;
  display: block;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.game__image_hide {
  display: none;
}

.game__content_hide {
  display: none;
}

.game__pretext {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.313rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--kmnd-body-color-secondary);
}

.game__title {
  margin-bottom: 50px;
}

.game__form {
  max-width: 463px;
}

.game__form .input-text {
  margin-bottom: 10px;
}

.game__form .input-checkbox {
  margin-bottom: 25px;
  margin-top: 25px;
}

.game__next {
  display: none;
}

.game__next_visible {
  display: block;
}

.game__current_hide {
  display: none;
}

.game__blank {
  display: none;
}

.game__blank_visible {
  display: block;
}

.game__btn-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game__link {
  color: var(--kmnd-body-color-primary);
  text-decoration: none;
  margin-left: 40px;
  font-size: 1.5rem;
  -webkit-transition: ease 0.25s all;
  -o-transition: ease 0.25s all;
  transition: ease 0.25s all;
}

.game__link:hover {
  color: var(--kmnd-body-color-secondary);
}

.game__finish {
  display: none;
}

.game__finish_visible {
  display: block;
}

.pc {
  display: none;
  position: relative;
  width: 100%;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.pc_active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.pc:after {
  content: "";
  position: relative;
  display: block;
  padding-top: 106.85543964232%;
}

.pc_visible {
  display: block;
}

.pc__item {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: ease 0.25s all;
  -o-transition: ease 0.25s all;
  transition: ease 0.25s all;
  border: dashed 1px transparent;
  background: rgba(210, 20, 56, 0);
  border-color: #fff;
  background: rgba(210, 20, 56, 0.6);
  cursor: pointer;
  z-index: 3;
  opacity: 0;
}

.pc__item:hover {
  background: rgba(210, 20, 56, 0.9);
}

.pc__item_error {
  background: rgba(210, 20, 56, 0.05);
}

.pc__item_cpu {
  width: 7.0045%;
  height: 7.3919%;
  top: 27%;
  left: 32%;
}

.pc__item_cooling {
  width: 24.590163934426%;
  height: 24.128312412831%;
  top: 23%;
  left: 74%;
}

.pc__item_power {
  width: 25.48435171386%;
  height: 16.457461645746%;
  top: 79%;
  left: 33%;
}

.pc__item_ssd {
  width: 15.797317436662%;
  height: 20.223152022315%;
  top: 48%;
  left: 71.5%;
}

.pc__item_gpu {
  width: 19.076005961252%;
  height: 3.765690376569%;
  top: 44%;
  left: 25%;
}

.pc__item_ddr {
  width: 7.0044709388972%;
  height: 25.10460251046%;
  top: 27%;
  left: 45%;
}

.pc__item_nvme {
  width: 15.946348733234%;
  height: 3.765690376569%;
  top: 39%;
  left: 29%;
}

.pc__item_active {
  opacity: 1;
}

.pc__item_inactive {
  opacity: 0;
  pointer-events: none;
}

.pc__component {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: auto;
  z-index: 2;
  opacity: 0;
  -webkit-transition: ease 0.25s all;
  -o-transition: ease 0.25s all;
  transition: ease 0.25s all;
}

.pc__component_active {
  opacity: 1;
}

.pc__component_cpu {
  width: 7.451564828614%;
  top: 27%;
  left: 0%;
}

.pc__component_cpu.pc__component_active {
  left: 32%;
}

.pc__component_cooling {
  width: 71.982116244411%;
  top: 20.5%;
  left: 0%;
}

.pc__component_cooling.pc__component_active {
  left: 58%;
}

.pc__component_coolingfan {
  width: 20.5663%;
  top: 20%;
  left: 0%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
}

.pc__component_coolingfan.pc__component_active {
  left: 74%;
}

.pc__component_power {
  width: 45.9016%;
  top: 50%;
  left: 0%;
}

.pc__component_power.pc__component_active {
  left: 40%;
}

.pc__component_ssd {
  top: 60%;
  left: 0%;
  width: 15.499254843517%;
}

.pc__component_ssd.pc__component_active {
  left: 71.5%;
}

.pc__component_gpu {
  width: 57.5260804769%;
  top: 49%;
  left: 0%;
}

.pc__component_gpu.pc__component_active {
  left: 29%;
}

.pc__component_gpufan1 {
  width: 16.095380029806%;
  top: 50%;
  left: 0%;
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}

.pc__component_gpufan1.pc__component_active {
  left: 48.3%;
}

.pc__component_gpufan2 {
  width: 16.095380029806%;
  top: 49.7%;
  left: 0%;
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}

.pc__component_gpufan2.pc__component_active {
  left: 31%;
}

.pc__component_gpufan3 {
  width: 16.095380029806%;
  top: 49.5%;
  left: 0%;
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}

.pc__component_gpufan3.pc__component_active {
  left: 13.5%;
}

.pc__component_ddr {
  width: 6.408345752608%;
  top: 27%;
  left: 0%;
  z-index: 1;
  -webkit-animation: hue 2s linear infinite;
          animation: hue 2s linear infinite;
}

.pc__component_ddr.pc__component_active {
  left: 45%;
}

.pc__component_nvme {
  width: 19.225037257824%;
  top: 39.5%;
  left: 0%;
  z-index: 1;
}

.pc__component_nvme.pc__component_active {
  left: 29.3%;
}

@-webkit-keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
    -webkit-filter: hue-rotate(720deg);
            filter: hue-rotate(720deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
    -webkit-filter: hue-rotate(-720deg);
            filter: hue-rotate(-720deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
    -webkit-filter: hue-rotate(720deg);
            filter: hue-rotate(720deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
    -webkit-filter: hue-rotate(-720deg);
            filter: hue-rotate(-720deg);
  }
}

.controls {
  display: none;
}

.controls_visible {
  display: block;
}

.controls__title {
  line-height: 3rem;
  margin-bottom: 30px;
}

.controls__time {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.controls__text {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.controls__text a {
  text-decoration: underline;
  color: inherit;
}

.controls__subtext {
  font-weight: bold;
  font-size: 1.5rem;
}

.controls__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  max-width: 500px;
}

.controls__item {
  width: calc((100% - 45px) / 4);
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: ease 0.25s all;
  -o-transition: ease 0.25s all;
  transition: ease 0.25s all;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: dashed 1px transparent;
  padding: 15px;
}

.controls__item:nth-last-of-type(1), .controls__item:nth-last-of-type(2), .controls__item:nth-last-of-type(3) {
  width: calc((100% - 30px) / 3);
  margin-top: 15px;
  margin-right: 15px;
}

.controls__item:nth-of-type(4), .controls__item:nth-of-type(7) {
  margin-right: 0;
}

.controls__item:hover {
  border-color: #fff;
}

.controls__item_error {
  border-color: #d21438;
  background: rgba(210, 20, 56, 0.5);
}

.controls__item_active {
  opacity: 1;
}

.controls__item_inactive {
  opacity: 0.3;
  pointer-events: none;
}

.controls__item_unvailable {
  opacity: 0.3 !important;
  pointer-events: none !important;
}

.buy__section {
  padding: 80px 0 145px;
}

.buy__col {
  width: calc(50% - 40px);
  margin-right: 80px;
  margin-bottom: 55px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: ease 0.25s all;
  -o-transition: ease 0.25s all;
  transition: ease 0.25s all;
}

.buy__col:nth-of-type(even) {
  margin-right: 0;
}

.buy__col:nth-of-type(1) {
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.buy__col:nth-of-type(2) {
  -webkit-transition-delay: 0.75s;
       -o-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.buy__col:nth-of-type(3) {
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}

.buy__col:nth-of-type(4) {
  -webkit-transition-delay: 1.25s;
       -o-transition-delay: 1.25s;
          transition-delay: 1.25s;
}

.buy__col:nth-of-type(5) {
  -webkit-transition-delay: 1.5s;
       -o-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.buy__col:nth-of-type(6) {
  -webkit-transition-delay: 1.75s;
       -o-transition-delay: 1.75s;
          transition-delay: 1.75s;
}

.buy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 564px;
  margin: 90px auto 0;
}

.buy__row_animated .buy__col {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 992px) {
  .head__image {
    margin-bottom: 10px;
    max-width: 80%;
  }
  .head__title {
    font-size: 4rem;
    line-height: 5rem;
    text-shadow: 5px 0 0px rgba(0, 0, 0, 0.75);
  }
  .speed__section {
    padding-top: 60px;
  }
  .content__section {
    padding: 30px 0 50px;
    background-image: none !important;
  }
  .content__row {
    display: block;
  }
  .content__col {
    width: 100%;
  }
  .content__image {
    height: 50px;
    margin: 10px 0;
  }
  .content__advantages {
    display: block;
  }
  .content__advantages-col {
    width: 100%;
    margin-bottom: 15px;
  }
  .content__advantages-col:last-of-type {
    margin-bottom: 0;
  }
  .content__background {
    display: block;
    width: 100%;
    height: 300px;
    -webkit-background-size: auto 120%;
            background-size: auto 120%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: -50px;
    margin-top: -50px;
    position: relative;
  }
  .overview__section {
    padding-top: 50px;
  }
  .overview__col {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 45%;
  }
  .overview__col img {
    height: 30px;
    width: auto;
    display: block;
  }
  .overview__col:nth-of-type(1) .overview__pretitle {
    opacity: 0;
    margin-bottom: 0;
  }
  .overview__col:nth-of-type(1) .overview__title {
    text-align: right;
  }
  .overview__col:nth-of-type(1) .overview__text {
    text-align: right;
  }
  .overview__col:nth-of-type(1) .overview__item figure {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .overview__col:nth-of-type(1) .overview__item figure:nth-of-type(1) img {
    width: 110px;
    height: auto;
  }
  .overview__col:nth-of-type(1) .overview__item figure:nth-of-type(2) img {
    width: 60px;
    height: auto;
  }
  .overview__col:nth-of-type(1) .overview__item figure:nth-of-type(3) img {
    width: 80px;
    height: auto;
  }
  .overview__col:nth-of-type(3) .overview__pretitle {
    position: relative;
    left: -90px;
    color: #c5c5c5;
    white-space: nowrap;
  }
  .overview__col:nth-of-type(3) .overview__title {
    text-align: left;
  }
  .overview__col:nth-of-type(3) .overview__text {
    text-align: left;
  }
  .overview__col:nth-of-type(3) .overview__item figure {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .overview__middle {
    width: 10%;
  }
  .overview__middle img {
    width: 30px;
    display: block;
    height: auto;
  }
  .overview__middle img:nth-of-type(1) {
    margin-top: 5px;
    margin-bottom: 100px;
  }
  .overview__item {
    padding-top: 0;
  }
  .overview__item:before, .overview__item:after {
    display: none;
  }
  .overview__item figure {
    height: 30px;
    width: 100%;
  }
  .overview__item figure img {
    height: 20px;
    margin: 0;
  }
  .overview__title {
    font-size: 0.938rem;
    margin-bottom: 0;
  }
  .overview__text {
    font-size: 0.875rem;
    margin-top: 0;
  }
  .faq__section {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .faq__item:first-of-type {
    margin-top: 30px;
  }
  .game__section {
    padding: 40px 0 30px;
  }
  .game__row {
    display: block;
  }
  .game__col {
    width: 100%;
    margin-right: 0;
  }
  .game__image {
    margin-bottom: 50px;
  }
  .game__image img:first-of-type {
    height: 300px;
  }
  .game__title {
    margin-bottom: 30px;
  }
  .buy__section {
    padding: 30px 0 35px;
  }
  .buy__row {
    margin-top: 40px;
    display: block;
  }
  .buy__col {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pc {
    margin-bottom: 40px;
  }
  .controls__title {
    display: none;
  }
  .controls__time {
    text-align: center;
    font-size: 1.625rem;
    margin-bottom: 25px;
  }
  .controls__text {
    text-align: center;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1rem;
  }
  .controls__subtext {
    text-align: center;
  }
  .controls__item {
    width: calc((100% - 30px) / 3);
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .controls__item:nth-of-type(3) {
    margin-right: 0;
  }
  .controls__item img {
    width: 100%;
    height: auto;
    display: block;
  }
  .controls__item:nth-of-type(4), .controls__item:nth-of-type(5), .controls__item:nth-of-type(6), .controls__item:nth-of-type(7) {
    width: calc(50% - 15px);
    margin-right: 15px;
  }
  .controls__item:nth-of-type(5), .controls__item:nth-of-type(7) {
    margin-right: 0;
  }
  .controls__item:nth-of-type(6), .controls__item:nth-of-type(7) {
    margin-bottom: 0;
  }
}

.winners__section {
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 165px;
}

.winners__title {
  text-align: center;
  font-size: 4rem;
  margin: 0;
  font-weight: bold;
}

.winners__subtitle {
  text-align: center;
  font-size: 2.25rem;
  margin: 40px 0;
}

.winners__text {
  text-align: center;
  font-size: 1.5rem;
  color: #c5c5c5;
  line-height: 2.688rem;
  max-width: 1200px;
  margin: 0 auto;
}

.winners__wrap {
  max-width: 760px;
  margin: 80px auto;
}

.winners__video {
  display: block;
  margin: 0 auto;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.winners__video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.winners__button {
  margin-top: 40px;
}

.winners__bottom {
  display: block;
  width: 100%;
  height: auto;
  border-bottom: 2px solid #D21438;
  margin: 120px auto 0;
}

@media (max-width: 992px) {
  .winners__text {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }
}

.article__section {
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 165px;
  border-bottom: 2px solid #D21438;
  padding-bottom: 120px;
}

.article__title {
  text-align: center;
}

.article__subtitle {
  text-align: center;
  margin: 20px 0 80px;
  font-size: 1.25rem;
  font-weight: bold;
}

.article__pretext {
  color: #c5c5c5;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 40px;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.article__text {
  font-weight: bold;
  line-height: 1.375rem;
  font-size: 1.125rem;
  color: #c5c5c5;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: var(--kmnd-body-font-family-primary);
  white-space: pre-wrap;
}

.article__text .white {
  color: #fff;
}

.article__button {
  margin-top: 40px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: var(--kmnd-body-background-color-primary);
}

.header__row {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  text-decoration: none;
  display: block;
  height: 49px;
}

.header__logo img {
  width: auto;
  height: 100%;
  display: block;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 80px;
}

.header li {
  font-weight: 700;
  font-size: 0.938rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-transition: ease 0.25s all;
  -o-transition: ease 0.25s all;
  transition: ease 0.25s all;
  margin-right: 50px;
}

.header li:last-of-type {
  margin-right: 0;
}

.header li a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.header li:hover {
  color: var(--kmnd-body-color-secondary);
}

.header .btn-primary {
  min-width: 198px;
}

.header__btn {
  display: none;
  position: relative;
  height: 8px;
  width: 30px;
}

.header__btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--kmnd-body-color-primary);
  position: absolute;
  -webkit-transform: translate(-50%, 0) rotate(0deg);
      -ms-transform: translate(-50%, 0) rotate(0deg);
          transform: translate(-50%, 0) rotate(0deg);
  left: 50%;
  -webkit-transition: ease 0.25s all;
  -o-transition: ease 0.25s all;
  transition: ease 0.25s all;
}

.header__btn span:nth-of-type(1) {
  top: 0%;
}

.header__btn span:nth-of-type(2) {
  bottom: 0%;
}

@media (max-width: 992px) {
  .header__row {
    padding: 15px 0;
  }
  .header__logo {
    height: 30px;
  }
  .header__menu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    -webkit-transition: ease 0.25s all;
    -o-transition: ease 0.25s all;
    transition: ease 0.25s all;
    max-height: 0px;
    overflow: hidden;
    background: var(--kmnd-body-background-color-primary);
  }
  .header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }
  .header li {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .header__btn {
    display: block;
    margin-left: auto;
  }
  .header_active .header__menu {
    padding: 25px 0;
    max-height: 500px;
  }
  .header_active .header__btn span:nth-of-type(1) {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
  }
  .header_active .header__btn span:nth-of-type(2) {
    -webkit-transform: translate(-50%, 50%) rotate(-45deg);
        -ms-transform: translate(-50%, 50%) rotate(-45deg);
            transform: translate(-50%, 50%) rotate(-45deg);
    bottom: 50%;
  }
}

.footer {
  padding: 30px 0 40px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  text-decoration: none;
  display: block;
  height: 46.56px;
}

.footer__logo img {
  display: block;
  height: 100%;
  width: auto;
}

.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px;
}

.footer__soc a {
  text-decoration: none;
  display: block;
  margin-right: 20px;
}

.footer__soc a:last-of-type {
  margin-right: 0;
}

.footer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 517px;
          flex: 0 517px;
  font-size: 0.688rem;
  line-height: 0.875rem;
  letter-spacing: 0.1em;
}

@media (max-width: 992px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__soc {
    margin: 30px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__text {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 100%;
    text-align: center;
  }
}
