$bodyBackgroundPrimary: var(--kmnd-body-background-color-primary);
$bodyBackgroundSecondary: var(--kmnd-body-background-color-secondary);
$bodyColorPrimary: var(--kmnd-body-color-primary);
$bodyColorSecondary: var(--kmnd-body-color-secondary);
$bodyFontPrimary: var(--kmnd-body-font-family-primary);

$transition: ease 0.25s all;