.head{
   &__section{
      position: relative;
      // padding: 276px 0 120px;
      padding: 200px 0 80px;
      .container{
         position: relative;
         z-index: 5;
      }
   }
   &__person{
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      width: auto;
      display: block;
   }
   &__gradient{
      position: absolute;
      width: 79.02777777777777%;
      display: block;
      height: auto;
      position: absolute;
      transform: translate(-40%, -50%) rotate(178.57deg) translate3d(0, 0, 0);
      left: 0;
      top: 50%;
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
   }
   &__waves{
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: auto;
   }
   &__heading{
      position: relative;
      display: inline-block;
   }
   &__label{
      position: absolute;
      top: 5px;
      right: 0;
      transform: translate(20%, 0%) rotate(4.64deg);
      z-index: 2;
   }
   &__title{
      margin: 0;
      margin-bottom: 60px;
      span{
         display: block;
         &:nth-of-type(1){
            position: relative;
            left: -7px;
         }
      }
   }
   &__subtitle{
      margin-top: -30px;
      letter-spacing: 2px;
   }
   &__consult{
      display: flex;
      align-items: center;
      margin-bottom: 34px;
   }
   &__consult-text{
      max-width: 136px;
      margin-right: 10px;
      line-height: 1.25;
   }
   &__bio-holder{
      display: flex;
   }
   &__bio{
      background: rgba(15, 13, 13, 0.3);
      border-radius: 10px;
      padding: 30px;
      position: relative;
      margin-left: auto;
      &:after{
         content: '';
         position: absolute;
         top: 0;
         left: 100%;
         transform: translate(-50%,-50%);
         display: block;
         border-radius: 50%;
         background: $bodyBackgroundAccent;
         height: 10px;
         width: 10px;
      }
      &:before{
         content: '';
         position: absolute;
         top: 0;
         left: 100%;
         transform: translate(-50%,-50%);
         display: block;
         border-radius: 50%;
         width: 18px;
         height: 18px;
         border: solid 1px $bodyBorderColorAccent;
      }
   }
}

@media (max-width: 1366px){
   .head{
      &__section{
         padding: 150px 0 50px;
      }
   }
}

@media (max-width: 992px){
   .head{
      &__section{
         padding: 143px 0 90px;
      }
      &__person{
         width: 105%;
         height: auto;
         max-width: 576px;
         top: auto;
         right: 0;
         transform: translateX(20%);
      }
      &__gradient{
         width: 221.60000000000002%;
         max-width: 831px;
         transform: translate(-50%, -50%) rotate(178.57deg) translate3d(0, 0, 0);
         top: 20%;
         left: -50%;
      }
      &__subtitle{
         margin-top: -10px;
      }
      &__label{
         transform: rotate(4.29deg);
         top: -7px;
      }
      &__title{
         margin-bottom: 30px;
      }
      &__subtitle{
         letter-spacing: 1px;
      }
      &__consult{
         display: block;
         margin-bottom: 166px;
      }
      &__consult-text{
         max-width: 217px;
         margin: 0 0 15px;
         font-size: 0.875rem;
      }
      &__bio{
         margin-right: auto;
         border-radius: 4px;
         padding: 20px;
         &:after, &:before{
            transform: translate(50%,-50%);
            left: auto;
            right: 0;
         }
      }
      &__bio-position{
         font-size: 0.75rem;
      }
   }
}
@media (max-width: 576px){
   .head{
      &__section{
         padding: 100px 0 60px;
      }
      &__person{
         bottom: -5%;
         width: 95%;
      }
      &__title{
         span{
            &:nth-of-type(1){
               left: -3px;
            }
         }
      }
      &__consult{
         margin-bottom: 80px;
      }
      &__gradient{
         filter: blur(70px);
         opacity: 0.5;
      }
   }
}

.logos{
   &__slider{
      &:not(.slick-initialized){
         display: flex;
         justify-content: space-between;
         .logos{
            &__slide{
               display: none;
               &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7), &:nth-of-type(8), &:nth-of-type(9){
                  display: block;
               }
            }
         }
      }
      .slick-slide {
         margin: 0 8px;
         background: none !important;
         box-shadow: none !important;
         border: none !important;
         outline: none !important;
     }
     .slick-list {
         margin: 0 -8px;
     }
   }
   &__item{
      height: 82px;
      img{
         height: 100%;
         width: auto;
         display: block;
      }
   }
}

@media (max-width: 576px){
   .logos{
      &__item{
         height: 60px;
      }
   }
}


.problems{
   &__section{
      position: relative;
      padding: 264px 0 0;
      .container{
         position: relative;
         z-index: 5;
      }
   }
   &__heading{
      display: flex;
      justify-content: center;
      margin-bottom: 36px;
   }
   &__title{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 0;
   }
   &__list{
      max-width: 791px;
      display: flex;
      flex-wrap: wrap;
   }
   &__col{
      width: 50%;
   }
   &__list-item{
      padding-left: 70px;
      margin-top: 54px;
      position: relative;
   }
   &__list-counter{
      background: url('../img/texture.jpg') no-repeat center / 300%;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: -10px;
   }
   &__gradient{
      position: absolute;
      width: 79.02777777777777%;
      height: auto;
      display: block;
      right: 0;
      top: 0;
      transform: translate(50%,0%) rotate(23.6deg) translate3d(0, 0, 0);
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
   }
   &__line1{
      position: absolute;
      width: 27.361111111111114%;
      display: block;
      height: auto;
      left: 0;
      top: 0;
      max-width: 394px;
   }
   &__line2{
      position: absolute;
      top: 20%;
      right: 0;
      width: 32.708333333333336%;
      display: block;
      height: auto;
      max-width: 471px;
   }
   &__line3{
      display: none;
      position: absolute;
      width: 49.333333333333336%;
      height: auto;
      max-width: 185px;
      transform: translate(-50%,-50%);
      left: 28%;
      top: 130%;
   }
   &__phone{
      position: absolute;
      width: 35.138888888888886%;
      height: auto;
      display: block;
      transform: translateY(-50%);
      top: 68%;
      right: 0;
      max-width: 505px;
   }
}

@media (max-width: 992px){
   .problems{
      &__section{
         padding-top: 100px;
      }
      &__list{
         display: block;
      }
      &__col{
         width: 100%;
      }
      &__heading{
         display: block;
         margin-bottom: 10px;
      }
      &__title{
         text-align: center;
         align-items: center;
      }
      &__list-item{
         margin-top: 30px;
         padding-left: 60px;
      }
      &__list-counter{
         height: 40px;
         width: 40px;
      }
      &__line1{
         display: none;
      }
      &__line2{
         display: none;
      }
      &__line3{
         display: block;
      }
      &__gradient{
         width: 189.06666666666666%;
         transform: translate(50%,-50%) rotate(23.6deg) translate3d(0, 0, 0);
         filter: blur(93.4476px);
         top: 92%;
      }
      &__phone{
         width: 81.86666666666666%;
         top: 100%;
      }
   }
}

.cases{
   &__section{
      padding: 288px 0 0;
      position: relative;
      .container{
         position: relative;
         z-index: 5;
      }
   }
   &__phone{
      position: absolute;
      width: 35.138888888888886%;
      display: block;
      height: auto;
      transform: translateY(-50%);
      top: 75%;
      left: 0;
      max-width: 506px;
   }
   &__heading{
      display: flex;
      justify-content: center;
      margin-bottom: 90px;
      position: relative;
   }
   &__title{
      margin: 0;
      display: inline-block;
      text-align: center;
      span{
         display: block;
         &:nth-of-type(2){
            margin-right: 200px;
         }
      }
   }
   &__label{
      position: absolute;
      bottom: 10px;
      transform: rotate(-4.64deg);
      left: 60%;
   }
   &__row{
      display: flex;
      flex-wrap: wrap;
   }
   &__col{
      width: calc((100% - 60px) / 3);
      margin-right: 30px;
      margin-top: 30px;
      &:nth-of-type(3){
         margin-right: 0;
      }
      &:nth-of-type(4){
         margin-left: auto;
      }
      &:nth-of-type(5){
         margin-right: 0;
      }
   }
   &__bottom{
      margin-top: 80px;
   }
}

@media (max-width: 992px){
   .cases{
      &__section{
         padding-top: 390px;
      }
      &__phone{
         width: 81.86666666666666%;
         max-width: 506px;
         top: 100%;
      }
      &__heading{
         margin-bottom: 44px;
         flex-direction: column;
         align-items: center;
      }
      &__title{
         span{
            &:nth-of-type(2){
               margin-right: 0;
            }
         }
      }
      &__label{
         position: relative;
         transform: none;
         left: 0;
         bottom: 0;
         margin-top: 10px;
         .label__text{
            font-size: 1rem;
            line-height: 1.25;
            padding: 10px 16px;
         }
      }
      &__col{
         width: calc(50% - 8px);
         margin-right: 16px;
         margin-top: 16px;
         &:nth-of-type(2){
            margin-right: 0;
         }
         &:nth-of-type(3){
            margin-right: 16px;
         }
         &:nth-of-type(4){
            margin-right: 0;
         }
         &:nth-of-type(5){
            display: none;
         }
      }
      &__bottom{
         margin-top: 30px;
      }
   }
}

@media (max-width: 573px){
   .cases{
      &__row{
         display: block;
      }
      &__col{
         width: 100%;
         margin-right: 0;
         &:nth-of-type(3){
            margin-right: 0;
         }
      }
   }
}

.case{
   text-decoration: none;
   display: block;
   width: 100%;
   position: relative;
   &:after{
      content: '';
      position: relative;
      display: block;
      padding-top: 107.95454545454545%;
   }
   &__image{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
      &:after{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         transition: all 0.6s ease;
         display: block;
         background: $bodyBackgroundPrimary;
         opacity: 0.5;
         will-change: opacity;
      }
   }
   &__logo{
      position: absolute;
      top: 20px;
      left: 20px;
      display: block;
      max-height: 60px;
      max-width: 112px;
   }
   &__label-holder{
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      padding: 20px;
      transition: all 0.6s ease;
      transform: translateY(0%) rotate(0deg);
      will-change: transform;
   }
   &__label{
      background: url('../img/texture.jpg') no-repeat center / 300%;
      padding: 20px 30px;
      border-radius: 4px;
      display: flex;
      align-items: center;
   }
   &__value{
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 1.275;
      margin-right: 20px;
   }
   &__text{
      line-height: 1.25;
   }
   &:hover{
      .case{
         &__image{
            &:after{
               opacity: 0;
            }
         }
         &__label-holder{
            transform: translateY(-25%) rotate(-13deg);
         }
      }
   }
}

@media (max-width: 992px){
   .case{
      &:after{
         padding-top: 75.80174927113703%;
      }
      &__image{
         &:after{
            display: none;
         }
      }
      &__logo{
         max-width: 91px;
         max-height: 53px;
      }
      &__label{
         padding: 15px 20px;
      }
      &__value{
         margin-right: 15px;
         font-size: 1.875rem;
         line-height: 1.267;
      }
      &__text{
         font-size: 0.875rem;
         line-height: 1.286;
      }
   }
}

.stages{
   &__section{
      padding-top: 240px;
      position: relative;
      .container{
         position: relative;
         z-index: 5;
      }
   }
   &__heading{
      display: flex;
      justify-content: center;
      margin-bottom: 135px;
   }
   &__title{
      margin: 0;
      text-align: center;
      span{
         display: block;
         &:nth-of-type(2){
            margin-right: 170px;
         }
      }
   }
   &__row{
      display: flex;
      align-items: flex-start;
   }
   &__col{
      width: 25%;
      &:nth-of-type(odd){
         .stages{
            &__col-inner{
               &:nth-of-type(1){
                  height: 215px;
               }
            }
            &__tooltip{
               bottom: auto;
               top: 40px;
            }
         }
      }
      &:nth-of-type(even){
         display: flex;
         flex-direction: column-reverse;
         .stages{
            &__col-inner{
               &:nth-of-type(3){
                  height: 215px;
               }
            }
         }
      }
   }
   &__col-inner{
      position: relative; 
      &:nth-of-type(2){
         height: 244px;
      }
   }
   &__item{
      position: relative;
      margin: 0 auto;
      width: 80px;
      z-index: 1;
      &:hover{
         .stages__tooltip{
            opacity: 1;
         }
      }
   }
   &__dot{
      position: relative;
      border: 3px solid rgba(130, 50, 238, 0.2);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      transition: $transition;
      animation: dot1 1s ease-in-out infinite alternate;
      will-change: border-color;
      &:before{
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
         border-radius: 50%;
         display: block;
         width: 61px;
         height: 61px;
         border: 3px solid rgba(130, 50, 238, 0.5);
         transition: $transition;
         animation: dot2 2s ease-in-out infinite alternate;
         will-change: border-color;
      }
      &:after{
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
         border-radius: 50%;
         display: block;
         width: 42px;
         height: 42px;
         border: 3px solid $bodyBorderColorAccent;
         transition: $transition;
         animation: dot3 3s ease-in-out infinite alternate;
         will-change: border-color;
      }
      span{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
         border-radius: 50%;
         display: block;
         width: 23px;
         height: 23px;
         background: $bodyBackgroundAccent;
      }
   }
   &__content{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__time{
      padding: 8px 12px;
      border-radius: 4px;
      background: url('../img/texture.jpg');
      margin-bottom: 10px;
   }
   &__text{
      text-align: center;
      max-width: 236px;
      margin-left: auto;
      margin-right: auto;
      &_large{
         font-size: 1.5rem;
         line-height: 1.25;
      }
   }
   &__label-holder{
      display: flex;
      justify-content: center;
   }
   &__label{
      background: url('../img/texture.jpg') no-repeat center / 300%;
      border-radius: 4px;
      padding: 20px 30px;
      display: flex;
      align-items: center;
      svg, img{
         display: block;
         height: 43px;
         width: auto;
      }
   }
   &__label-text{
      line-height: 1.5;
      margin-right: 20px;
      max-width: 130px;
   }
   &__tooltip{
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      padding: 40px;
      width: 330px;
      border-radius: 20px;
      position: absolute;
      z-index: 1;
      transition: $transition;
      transform: translate(-50%);
      bottom: 40px;
      left: 50%;
      pointer-events: none;
      opacity: 0;
   }
   &__tooltip-title{
      margin-bottom: 20px;
      line-height: 1.111;
   }
   &__tooltip-text{
      line-height: 1.429;
      ul, ol{
         margin-left: 20px;
      }
   }
   &__line1{
      position: absolute;
      top: 40px;
      left: 62%;
      transform: translate(-50%,-100%);
   }
   &__line2{
      position: absolute;
      top: 90px;
      left: 50%;
      transform: translate(-50%,0%);
   }
   &__line3{
      position: absolute;
      transform: translate(-50%,-50%);
      left: 93%;
      top: -37px;
   }
   &__line4{
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translate(-50%,-100%);
   }
   &__line5{
      position: absolute;
      transform: translate(-50%,-50%);
      left: 93%;
      bottom: -65px;
   }
   &__line6{
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translate(-50%,0%);
   }
   &__bottom{
      margin-top: 130px;
   }
   &__gradient{
      position: absolute;
      transform: translate(-50%,-50%) rotate(23.6deg) translate3d(0, 0, 0);
      left: 0;
      top: 60%;
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
   }
   &__phone{
      position: absolute;
      width: 35.138888888888886%;
      display: block;
      height: auto;
      transform: translateY(-50%);
      top: 90%;
      right: 0;
      max-width: 506px;
   }
   &__line{
      position: absolute;
      display: block;
      width: 27.152777777777775%;
      height: auto;
      transform: translate(50%,-50%);
      right: 19%;
      top: 126%;
   }
   &__line-out{
      display: none;
      position: absolute;
      left: 50%;
      transform: translate(-50%,0%);
      top: 80px;
      width: 79.46666666666667%;
      max-width: 298px;
      height: auto;
   }
   &__notice{
      background: rgba(255, 255, 255, 0.02);
      backdrop-filter: blur(2px);
      border-radius: 4px;
      line-height: 1.286;
      padding: 10px 15px;
      position: relative;
   }
   &__arrow{
      position: absolute;
      bottom: 0;
      left: 10px;
      transform: translate(0%,100%);
   }
   &__line1-mobile{
      position: absolute;
      top: 0;
      left: 28px;
      transform: translateY(-70%);
   }
   &__line2-mobile{
      position: absolute;
      top: 0;
      right: 28px;
      transform: translateY(23%);
   }
   &__line3-mobile{
      position: absolute;
      left: 28px;
      top: 0;
      transform: translateY(18%);
   }
   &__line4-mobile{
      position: absolute;
      right: 28px;
      top: 0;
      transform: translateY(-70%);
   }
   &__line5-mobile{
      position: absolute;
      top: 0;
      left: 28px;
      transform: translateY(-70%);
   }
   &__line6-mobile{
      position: absolute;
      top: 0;
      right: 28px;
      transform: translateY(23%);
   }
   &__line7-mobile{
      position: absolute;
      left: 28px;
      top: 0;
      transform: translateY(10%);
   }
   &__line8-mobile{
      position: absolute;
      right: 28px;
      top: 0;
      transform: translateY(-70%);
   }
   &__gradient1{
      position: absolute;
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
      transform: translate(50%,-50%) rotate(23.6deg) translate3d(0, 0, 0);
      right: 0;
      top: 130%;
      width: 79.02777777777777%;
      display: block;
      height: auto;
   }
   &__bottom-holder{
      position: relative;
   }
   &__line-bottom1{
      position: absolute;
      bottom: 29px;
      left: -60px;
   }  
   &__line-bottom2{
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translate(-50%,100%);
   }
}

@keyframes dot1{
   0%{
      border-color: rgba(130, 50, 238, 0.2);
   }
   100%{
      border-color: transparent;
   }
}

@keyframes dot2{
   0%{
      border-color: rgba(130, 50, 238, 0.5);
   }
   100%{
      border-color: rgba(130, 50, 238, 0.2);
   }
}

@keyframes dot3{
   0%{
      border-color: $bodyBorderColorAccent;
   }
   100%{
      border-color: rgba(130, 50, 238, 0.5);
   }
}

@media (max-width: 992px){
   .stages{
      &__section{
         padding-top: 340px;
      }
      &__heading{
         margin-bottom: 3px;
         flex-direction: column;
         align-items: center;
      }
      &__title{
         margin-bottom: 20px;
         span{
            &:nth-of-type(2){
               margin-right: 0;
            }
         }
      }
      &__row{
         display: block;
         max-width: 343px;
         margin-left: auto;
         margin-right: auto;
         width: 100%;
      }
      &__col{
         width: 100%;
         &:nth-of-type(odd){
            .stages{
               &__col-inner{
                  &:nth-of-type(1){
                     height: 123px;
                     .stages{
                        &__item{
                           margin-left: 0;
                           .stages__tooltip{
                              transform: translate(0%,0%);
                              left: 20px;
                              bottom: auto;
                              top: 20px;
                           }
                        }
                     }
                  }
                  &:nth-of-type(2){
                     height: 97px;
                  }
               }
            }
         }
         &:nth-of-type(even){
            display: block;
            .stages{
               &__col-inner{
                  &:nth-of-type(1){
                     height: 123px;
                     .stages{
                        &__item{
                           margin-right: 0;
                           .stages__tooltip{
                              transform: translate(0%,0%);
                              right: 20px;
                              left: auto;
                              bottom: 20px;
                           }
                        }
                     }
                  }
                  &:nth-of-type(2){
                     height: 97px;
                  }
                  &:nth-of-type(3){
                     height: auto;
                  }
               }
            }
         }
         &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3){
            .stages{
               &__col-inner{
                  &:nth-of-type(3){
                     display: none;
                  }
               }
            }
         }
      }
      &__line1, &__line2, &__line3, &__line4, &__line5, &__line6{
         display: none;
      }
      &__item{
         width: 60px;
      }
      &__dot{
         height: 60px;
         width: 60px;
         border-width: 2px;
         &:before{
            height: 45px;
            width: 45px;
            border-width: 2px;
         }
         &:after{
            border-width: 2px;
            height: 31px;
            width: 31px;
         }
         span{
            width: 18px;
            height: 18px;
         }
      }
      &__text{
         &_large{
            font-size: 1.125rem;
            line-height: 1.556;
         }
      }
      &__label{
         margin-top: 80px;
         padding: 16px 20px;
         svg, img{
            height: 30px;
         }
      }
      &__label-text{
         font-size: 1.125rem;
         max-width: unset;
         br{
            display: none;
         }
      }
      &__bottom{
         margin-top: 360px;
      }
      &__line{
         display: none;
      }
      &__line-out{
         display: block;
      }
      &__gradient{
         width: 221.60000000000002%;
         max-width: 831px;
         transform: translate(-60%, -50%) rotate(178.57deg) translate3d(0, 0, 0);
         top: 39%;
      }
      &__gradient1{
         width: 221.60000000000002%;
         transform: translate(60%,-50%) rotate(178.57deg) translate3d(0, 0, 0);
         top: 82%;
      }
      &__phone{
         width: 81.86666666666666%;
         top: 83%;
      }
      &__tooltip{
         max-width: 310px;
         padding: 30px;
         &_active{
            opacity: 1;
         }
      }
      &__tooltip-title{
         margin-bottom: 10px;
      }
   }
}

.clients{
   &__section{
      padding-top: 396px;
      position: relative;
      .container{
         position: relative;
         z-index: 5;
      }
   }
   &__gradient{
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
      transform: translate(-50%,-50%) rotate(23.6deg) translate3d(0, 0, 0);
      width: 79.02777777777777%;
      display: block;
      height: auto;
      position: absolute;
      left: 0;
      top: 110%;
   }
   &__line{
      width: 34.65277777777778%;
      display: block;
      height: auto;
      position: absolute;
      transform: translateY(-50%);
      max-width: 499px;
      left: 0;
      top: 118%;
   }
   &__gradient1{
      display: none;
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
      transform: translate(60%,-50%) rotate(178.57deg) translate3d(0, 0, 0);
      width: 221.60000000000002%;
      height: auto;
      right: 0;
      top: 100%;
      position: absolute;
   }
   &__line1{
      display: none;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,100%);
      position: absolute;
   }
   &__heading{
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
   }
   &__title{
      text-align: center;
      span{
         display: block;
         &:nth-of-type(1){
            margin-right: 250px;
         }
      }
   }
   &__row{
      display: flex;
      justify-content: space-between;
   }
   &__col{
      &:nth-of-type(1){
         width: 66.66666666666666%;
      }
      &:nth-of-type(2){
         width: 28.333333333333332%;
      }
   }
   &__grid{
      display: flex;
      flex-wrap: wrap;
   }
   &__item{
      width: 25%;
      height: 120px;
      border-right: 1px solid $bodyBorderColorPrimary;
      border-top: 1px solid $bodyBorderColorPrimary;
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-of-type(4n+4){
         border-right: none;
      }
      &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4){
         border-top: none;
      }
   }
   &__image{
      display: block;
      max-height: 100%;
      max-width: 100%;
   }
   &__placeholder{
      text-align: center;
   }
   &__branches{
      width: 100%;
      position: relative;
      background: rgba(255, 255, 255, 0.02);
      border-radius: 10px;
      padding: 43px 40px 40px;
   }
   &__label{
      position: absolute;
      top: 0;
      right: -10px;
      transform: translateY(-50%) rotate(5.71deg);
   }
   &__list{
      list-style: none;
      margin-bottom: 25px;
      li{
         padding-left: 44px;
         font-weight: 300;
         font-size: 1.125rem;
         line-height: 1.278;
         margin-bottom: 22px;
         position: relative;
         &:last-of-type{
            margin-bottom: 0;
         }
         &:after{
            content: '';
            position: absolute;
            left: 4px;
            top: 6px;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: $bodyBackgroundAccent;
         }
         &:before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 2px;
            width: 18px;
            height: 18px;
            border: solid 1px $bodyBorderColorAccent;
            border-radius: 50%;
         }
      }
   }
   &__branches-bottom{
      padding-left: 44px;
   }
}

@media (max-width: 992px){
   .clients{
      &__section{
         padding-top: 160px;
      }
      &__heading{
         margin-bottom: 40px;
      }
      &__title{
         span{
            &:nth-of-type(1){
               margin-right: 0;
            }
         }
      }
      &__row{
         display: block;
      }
      &__col{
         &:nth-of-type(1){
            width: 100%;
         }
         &:nth-of-type(2){
            width: 100%;
         }
      }
      &__branches{
         margin-top: 54px;
         padding: 45px 40px 40px;
      }
      &__label{
         right: 10px;
      }
      &__list{
         li{
            font-size: 1rem;
            line-height: 1.25;
            margin-bottom: 20px;
            &:before{
               top: 1px;
            }
            &:after{
               top: 5px;
            }
            &:last-of-type{
               margin-bottom: 0;
            }
         }
      }
      &__line{
         display: none;
      }
      &__gradient{
         width: 221.60000000000002%;
         transform: translate(-60%,-50%) rotate(178.57deg) translate3d(0, 0, 0);
         left: 0;
         top: 25%;
      }
      &__gradient1{
         display: block;
      }
      &__line1{
         display: block;
      }
   }
}

@media (max-width: 576px){
   .clients{
      &__item{
         width: 50%;
         &:nth-of-type(3), &:nth-of-type(4){
            border-top: 1px solid $bodyBorderColorPrimary;
         }
         &:nth-of-type(4n+4){
            border-right: 1px solid $bodyBorderColorPrimary;
         }
         &:nth-of-type(even){
            border-right: none;
         }
      }
      &__label{
         .label{
            &__text{
               font-size: 0.875rem;
               padding: 12px 20px;
            }
         }
      }
   }
}

.whom{
   &__section{
      padding-top: 300px;
      position: relative;
      .container{
         position: relative;
         z-index: 5;
      }
   }
   &__gradient{
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
      transform: translate(50%,-50%) rotate(1.45deg) translate3d(0, 0, 0);
      width: 95.27777777777777%;
      display: block;
      height: auto;
      position: absolute;
      right: 0;
      top: 80%;
   }
   &__heading{
      display: flex;
      justify-content: center;
      margin-bottom: 70px;
   }
   &__title{
      text-align: center;
      p{
         display: block;
      }
      span{
         display: block;
         &:nth-of-type(1){
            margin-left: 70px;
         }
         &:nth-of-type(2){
            margin-left: 280px;
         }
      }
   }
   &__row{
      display: flex;
      flex-wrap: wrap;
   }
   &__col{
      width: calc((100% - 60px) / 3);
      margin-right: 30px;
      margin-top: 30px;
      &:nth-of-type(3n+3){
         margin-right: 0;
      }
   }
   &__item{
      position: relative;
      width: 100%;
      display: block;
      &:after{
         content: '';
         display: block;
         position: relative;
         padding-top: 122.63157894736842%;
      }
      &:hover{
         .whom{
            &__item-image{
               opacity: 1;
            }
            &__item-label-holder{
               transform: translateY(-15%) rotate(-13deg);
            }
         }
      }
   }
   &__item-image{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      opacity: 0.5;
      transition: all 0.6s ease;
      will-change: opacity;
   }
   &__item-label-holder{
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      padding: 30px;
      transition: all 0.6s ease;
      transform: translateY(0%) rotate(0deg);
      will-change: transform;
   }
   &__item-label{
      border-radius: 4px;
      background: url('../img/texture.jpg') no-repeat center / 300%;
      padding: 15px 30px;
   }
   &__text{
      color: $bodyColorPrimary;
      text-align: right;
   }
   &__line{
      width: 45.69444444444444%;
      display: block;
      height: auto;
      position: absolute;
      transform: translate(50%,-50%);
      right: 25%;
      top: 96%;
   }
   &__phone{
      width: 35.138888888888886%;
      max-width: 506px;
      display: block;
      height: auto;
      position: absolute;
      right: 0;
      transform: translateY(-50%);
      top: 82%;
   }
   &__line1{
      display: none;
      position: absolute;
      transform: translate(-50%,100%);
      bottom: -5%;
      left: 40%;
   }
}

@media (max-width: 992px){
   .whom{
      &__section{
         padding-top: 160px;
      }
      &__heading{
         margin-bottom: 44px;
      }
      &__title{
         span{
            &:nth-of-type(1){
               margin-left: 0;
            }
            &:nth-of-type(2){
               margin-left: 0;
            }
         }
      }
      &__col{
         width: calc(50% - 8px);
         margin-right: 16px;
         margin-top: 16px;
         &:nth-of-type(3n+3){
            margin-right: 16px;
         }
         &:nth-of-type(even){
            margin-right: 0;
         }
      }
      &__item{
         &:after{
            padding-top: 72.8862973760933%;
         }
      }
      &__item-label-holder{
         padding: 20px;
      }
      &__item-label{
         padding: 15px 20px;
      }
      &__text{
         font-size: 1.125rem;
      }
      &__gradient{
         display: none;
      }
      &__line{
         display: none;
      }
      &__phone{
         width: 81.86666666666666%;
         top: 103%;
      }
      &__line1{
         display: block;
      }
   }
}

@media (max-width: 576px){
   .whom{
      &__row{
         display: block;
      }
      &__col{
         width: 100%;
         margin-right: 0;
         &:nth-of-type(3n+3){
            margin-right: 0;
         }
      }
   }
}


.coach{
   &__section{
      padding-top: 350px;
      position: relative;
      .container{
         position: relative;
         z-index: 1;
      }
   }
   &__heading{
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
   }
   &__title{
      margin: 0;
      text-align: center;
      span{
         display: block;
      }
   }
   &__holder{
      max-width: 830px;
      width: 100%;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }
   &__item{
      background: rgba(255, 255, 255, 0.05);
      border-radius: 10px;
      padding: 30px;
      position: relative;
      &:before{
         content: '';
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         transform: translate(-50%,-50%);
         width: 10px;
         height: 10px;
         border-radius: 50%;
         background: $bodyBackgroundAccent;
      }
      &:after{
         content: '';
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         transform: translate(-50%,-50%);
         height: 18px;
         width: 18px;
         border: solid 1px $bodyBorderColorAccent;
         border-radius: 50%;
      }
      &:nth-of-type(1){
         margin-bottom: 77px;
         margin-right: 307px;
      }
      &:nth-of-type(2){
         margin-bottom: 96px;
         margin-right: 101px;
      }
      &:nth-of-type(3){
         margin-bottom: 98px;
         margin-right: 120px;
      }
      &:nth-of-type(4){
         margin-bottom: 65px;
         margin-right: 20px;
      }
      &:nth-of-type(5){
         margin-right: 238px;
      }
      &:nth-of-type(6){
         margin-right: auto;
         margin-top: -30px;
         position: relative;
         top: -25px;
      }
   }
   &__item-title{
      background-clip: text;
      color: transparent !important;
      background-image: url('../img/texture.jpg');
      font-weight: 600;
      font-size: 1.875rem;
      line-height: 1.333;
      text-transform: uppercase;
   }
   &__item-text{
      text-transform: uppercase;
      line-height: 1.667;
      font-size: 1.125rem;
      font-weight: 300;
   }
   &__person{
      position: absolute;
      left: 0;
      top: 60%;
      transform: translateY(-50%);
      width: 67.91666666666667%;
      max-width: 978px;
      display: block;
      height: auto;
   }
   &__line{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      top: 60%;
      left: 45%;
   }
   &__gradient{
      width: 79.02777777777777%;
      display: block;
      height: auto;
      position: absolute;
      right: 0;
      transform: translate(50%,-50%) rotate(-0.07deg) translate3d(0, 0, 0);
      top: 60%;
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
   }
   &__phone{
      max-width: 506px;
      width: 35.138888888888886%;
      height: auto;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(50%);
   }
   &__line1{
      transform: translate(-50%,-50%);
      position: absolute;
      left: 30%;
      top: 127%;
   }
   &__phone1{
      display: none;
      position: absolute;
      width: 81.86666666666666%;
      height: auto;
      transform: translateY(-50%);
      right: -10px;
      top: 93%;
      max-width: 506px;
   }
   &__line2{
      display: none;
      position: absolute;
      bottom: -5%;
      transform: translate(-50%,100%);
      left: 50%;
   }
}


@media (max-width: 992px){
   .coach{
      &__section{
         padding-top: 420px;
      }
      &__gradient{
         display: none;
      }
      &__line{
         display: none;
      }
      &__line1{
         display: none;
      }
      &__gradient{
         display: none;
      }
      &__heading{
         margin-bottom: 89px;
      }
      &__holder{
         max-width: 334px;
      }
      &__item{
         padding: 20px;
         &:nth-of-type(1){
            margin-right: 0;
            margin-bottom: 39px;
         }
         &:nth-of-type(2){
            margin-right: 0;
            margin-bottom: 39px;
         }
         &:nth-of-type(3){
            margin-right: 0;
            margin-bottom: 39px;
         }
         &:nth-of-type(4){
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 39px;
         }
         &:nth-of-type(5){
            margin-right: auto;
            margin-bottom: 39px;
         }
         &:nth-of-type(6){
            margin-right: auto;
            margin-top: 0;
            top: 0;
         }
      }
      &__item-title{
         line-height: 1.333;
         font-size: 1.125rem;
      }
      &__item-text{
         line-height: 1.333;
         font-size: 0.75rem;
      }
      &__person{
         width: 100%;
         transform: translate(-25%, -50%);
         max-width: 600px;
      }
      &__phone{
         display: none;
      }
      &__phone1{
         display: block;
      }
      &__line2{
         display: block;
      }
   }
}

.reviews{
   &__section{
      padding-top: 521px;
      position: relative;
      .container{
         position: relative;
         z-index: 5;
      }
   }
   &__gradient1{
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
      transform: translate(50%,-50%) rotate(-0.07deg) translate3d(0, 0, 0);
      right: 0;
      width: 79.02777777777777%;
      display: block;
      height: auto;
      position: absolute;
      top: 60%;
   }
   &__gradient2{
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
      transform: translate(-50%,-50%) rotate(-0.07deg) translate3d(0, 0, 0);
      position: absolute;
      width: 79.02777777777777%;
      display: block;
      height: auto;
      left: 0;
      top: 80%;
   }
   &__heading{
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
   }
   &__title{
      span{
         display: block;
         &:nth-of-type(1){
            text-align: center;
         }
         &:nth-of-type(2){
            margin-left: 80px;
         }
      }
   }
   &__slider-wrapp{
      position: relative;
   }
   &__slider{
      &:not(.slick-initialized){
         display: flex;
         .reviews{
            &__slide{
               width: calc((100% - 20px) / 3);
               margin-right: 10px;
               display: none;
               &:nth-of-type(3){
                  margin-right: 0;
               }
               &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3){
                  display: block;
               }
            }
         }
      }
      .slick-slide {
         margin: 0 5px;
         background: none !important;
         box-shadow: none !important;
         border: none !important;
         outline: none !important;
      }
      .slick-list {
         margin: 0 -5px;
      }
      .slick-dots{
         list-style: none;
         display: flex;
         align-items: center;
         justify-content: center;
         margin-top: 60px;
         button{
            box-shadow: none !important;
            border: none !important;
            outline: none !important;
            color: rgba(0,0,0,0);
            box-sizing: border-box;
            display: block;
            font-size: 0;
            line-height: 0;
            height: 7px;
            width: 7px;
            background: rgba(255, 255, 255, 0.1) !important;
            border-radius: 50%;
            transition: $transition;
         }
         li{
            box-sizing: border-box;
            display: block;
            margin-right: 10px;
            &:last-of-type{
               margin-right: 0;
            }
            &.slick-active{
               button{
                  background: $bodyBackgroundNeutral !important;
               }
            }
         }
      }
   }
   &__item{
      min-height: 600px;
      background: rgba(255, 255, 255, 0.02);
      border-radius: 20px;
      padding: 60px 45px 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__avatar{
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin: 0 auto 20px;
   }
   &__name{
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 1.556;
   }
   &__position{
      font-weight: 300;
      margin-bottom: 60px;
   }
   &__text{
      text-align: center;
      line-height: 1.667;
      font-size: 1.125rem;
      margin: 0 auto 10px;
      max-width: 300px;
      width: 100%;
      font-weight: 300;
      span{
         font-weight: 400;
      }
   }
   &__detail{
      font-weight: 300;
      border-bottom: 1px solid currentColor;
      transition: $transition;
      cursor: pointer;
      margin-bottom: 10px;
      &:hover{
         color: $bodyColorAccent;   
      }
   }
   &__logo{
      display: block;
      margin: auto auto 0;
      max-width: 174px;
      max-height: 39px;
   }
   &__slider-btn{
      &_prev{
         position: absolute;
         transform: translate(-100%,-50%);
         top: 50%;
         left: -30px;
      }
      &_next{
         position: absolute;
         transform: translate(100%,-50%);
         top: 50%;
         right: -30px;
      }
   }
   &__bottom{
      margin-top: 80px;
   }
   &__line{
      position: absolute;
      bottom: 8%;
      transform: translate(-50%,100%);  
      left: 50%;
   }
   &__line1{
      display: none;
      position: absolute;
      bottom: 1%;
      left: 50%;
      transform: translate(-50%,100%);
   }
   &__gradient3{
      display: block;
      height: auto;
      position: absolute;
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
      width: 64.30555555555556%;
      transform: translate(30%,50%) rotate(-0.07deg) translate3d(0, 0, 0);
      right: 0;
      bottom: -45%;
   }
}

@media (max-width: 1350px){
   .reviews{
      &__slider-btn{
         &_prev{
            transform: translate(0,-50%);
            left: 0;
         }
         &_next{
            transform: translate(0,-50%);
            right: 0;
         }
      }
   }
}

@media (max-width: 992px){
   .reviews{
      &__section{
         padding-top: 310px;
      }
      &__heading{
         margin-bottom: 60px;
      }
      &__title{
         span{
            &:nth-of-type(2){
               margin-left: 0;
               text-align: center;
            }
         }
      }
      &__text{
         font-size: 1rem;
         line-height: 1.75;
      }
      &__slider-btn{
         &_prev{
            transform: translate(-50%,50%);
            top: auto;
            bottom: 0;
            left: 20%;
         }
         &_next{
            transform: translate(50%,50%);
            top: auto;
            bottom: 0;
            right: 20%;
         }
      }
      &__bottom{
         margin-top: 60px;
      }
      &__gradient1{
         display: none;
      }
      &__gradient2{
         display: none;
      }
      &__line{
         display: none;
      }
      &__line1{
         display: block;
      }
      &__gradient3{
         transform: translate(-60%,50%) rotate(-0.07deg) translate3d(0, 0, 0);
         left: 0;
         bottom: -40%;
         width: 246.9333333333333%;
         right: auto;
      }
   }
}

.price{
   &__section{
      padding-top: 349px;
      padding-bottom: 194px;
      position: relative;
      .container{
         position: relative;
         z-index: 5;
      }
   }
   &__heading{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 140px;
      position: relative;
   }
   &__title{
      text-align: center;
      margin: 0;
      span{
         display: block;
         &:nth-of-type(1){
            margin-left: 150px;
         }
      }
   }
   &__subtitle{
      max-width: 800px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      p{
         max-width: 422px;
         margin-left: auto;
         text-align: right;
      }
   }
   &__label{
      padding: 25px 30px;
      max-width: 473px;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 10px;
   }
   &__label-title{
      font-size: 1.563rem;
   }
   &__text{
      margin: 30px 0 60px;
      max-width: 473px;
      width: 100%;
      p{
         font-weight: 300;
         font-size: 1.125rem;
         line-height: 1.667;
         margin-bottom: 30px;
         &:last-of-type{
            margin-bottom: 0;
         }
         b, strong{
            font-weight: 600;
         }
      }
   }
   &__buttons{
      display: flex;
   }
   &__soc-item{
      height: 73px;
      width: 73px;
      margin-left: 8px;
      .soc-item__ico{
         height: 31px;
      }
   }
   &__bottom{
      margin-top: 30px;
      position: relative;
      display: inline-block;
      padding-left: 15px;
   }
   &__line{
      position: absolute;
      // right: 5%;
      transform: translate(100%,-50%);
      top: 20%;
   }
   &__line1{
      position: absolute;
      bottom: 0;
      transform: translate(-50%,100%);
      left: 50%;
   }
   &__gradient{
      position: absolute;
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
      left: 0;
      transform: translate(-50%,50%) rotate(-0.07deg) translate3d(0, 0, 0);
      bottom: 0;
      width: 64.30555555555556%;
      height: auto;
   }
   &__person{
      width: 66.45833333333333%;
      height: auto;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 957px;
   }
   &__line2{
      display: none;
      position: absolute;
      right: -5%;
      transform: translate(100%,-50%);
      top: 50%;
   }
   &__line3{
      display: none;
      position: absolute;
      bottom: 0;
      transform: translate(-50%,100%);
      left: 75%;
   }
   &__person1{
      display: none;
      position: absolute;
      transform: translate(-50%,0%);
      width: 110%;
      height: auto;
      max-width: 450px;
      left: 50%;
      top: 15%;
   }
}

@media (max-width: 992px){
   .price{
      &__section{
         padding-top: 150px;
         padding-bottom: 100px;
      }
      &__heading{
         margin-bottom: 431px;
      }
      &__title{
         span{
            &:nth-of-type(1){
               margin-left: 0;
            }
         }
      }
      &__subtitle{
         p{
            max-width: 250px;
         }
      }
      &__person{
         display: none;
      }
      &__line1{
         display: none;
      }
      &__line{
         display: none;
      }
      &__gradient{
         width: 195.2%;
         left: auto;
         right: 0;
         transform: translate(50%,50%) rotate(-0.07deg) translate3d(0, 0, 0);
      }
      &__label{
         padding: 25px 30px;
      }
      &__label-title{
         font-size: 1.25rem;
         line-height: 1.25;
         margin-bottom: 5px;
      }
      &__text{
         margin: 20px 0 40px;
         p{
            font-size: 1rem;
            line-height: 1.75;
         }
      }
      &__soc-item{
         height: 58px;
         width: 58px;
         .soc-item__ico{
            height: 24px;
         }
      }
      &__bottom{
         margin-top: 13px;
      }
      &__line2{
         display: block;
         right: 10%;
      }
      &__line3{
         display: block;
      }
      &__person1{
         display: block;
      }
   }
}

@media (min-width: 577px) and (max-width: 992px){
   .price{
      &__person1{
         left: 22%;
         top: 19%;
      }
   }
}

.notice{
   &__section{
      background: url('../img/texture.jpg') no-repeat center / cover;
      position: relative;
      z-index: 5;
      padding: 20px 0;
   }
   &__row{
      display: flex;
      align-items: center;
   }
   &__label{
      padding: 15px 30px 15px 40px;
      position: relative;
      background: rgba(20, 18, 18, 0.2);
      border-radius: 10px;
      margin-right: 30px;
      &:before{
         content: '';
         display: block;
         background: #fff;
         height: 10px;
         width: 10px;
         left: 0;
         top: 50%;
         transform: translate(-50%,-50%);
         position: absolute;
         border-radius: 50%;
      }
      &:after{
         content: '';
         display: block;
         height: 18px;
         width: 18px;
         left: 0;
         top: 50%;
         transform: translate(-50%,-50%);
         position: absolute;
         border-radius: 50%;
         border: solid 1px #fff;
      }
   }
}

@media (max-width: 992px){
   .notice{
      &__section{
         padding: 40px 0;
      }
      &__row{
         flex-direction: column;
         align-items: flex-start;
         max-width: calc(100% - 38px);
         margin-left: auto;
         margin-right: auto;
      }
      &__label{
         margin-bottom: 10px;
         padding: 10px 20px 10px 30px;
      }
   }
}