.policy{
   &__section{
      padding: 248px 0 120px;
   }
   &__bottom{
      margin-top: 100px;
   }
}

@media (max-width: 992px){
   .policy{
      &__section{
         padding: 140px 0 80px;
      }
      &__bottom{
         margin-top: 80px;
      }
   }
}