.article{
   &__section{
      position: relative;
      padding: 217px 0 0;
      .container{
         position: relative;
         z-index: 1;
      }
   }
   &__gradient1{
      position: absolute;
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
      width: 79.027777777778%;
      height: auto;
      display: block;
      top: 0;
      right: 0;
      transform: translate(50%,-50%) rotate(178.57deg) translate3d(0, 0, 0);
      pointer-events: none;
   }
   &__gradient2{
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
      width: 79.027777777778%;
      height: auto;
      display: block;
      position: absolute;
      top: 20%;
      left: 0;
      transform: translate(-50%,-50%) translate3d(0, 0, 0);
      pointer-events: none;
   }
   &__container{
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
   }
   &__breadcrumbs{
      margin-bottom: 40px;
   }
   &__tags{
      margin-bottom: 20px;
   }
   &__article{
      h1{
         text-transform: uppercase;
         margin-bottom: 50px;
      }
   }
   &__info{
      margin-top: 80px;
      padding: 36px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__author{
      display: flex;
      align-items: center;
      margin-top: auto;
      text-decoration: none;
      p{
         color: $bodyColorPrimary;
         transition: $transition;
      }
      &:hover{
         p{
            color: $bodyColorAccent;
         }
      }
   }
   &__avatar{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 10px;
      display: block;
   }
   &__info-share{
      display: flex;
      align-items: center;
      p{
         font-weight: 300;
         margin-right: 30px;
         b{
            font-weight: 600;
         }
      }
   }
   &__share{
      display: flex;
      align-items: center;
      .soc-item{
         margin-right: 8px;
         &:last-of-type{
            margin-right: 0;
         }
      }
   }
}

@media (max-width: 992px){
   .article{
      &__section{
         padding: 110px 0 0;
      }
      &__info{
         margin-top: 40px;
         padding: 30px 0;
      }
   }
}

@media (max-width: 576px){
   .article{
      &__gradient1{
         display: none;
      }
      &__gradient2{
         width: 221.6%;
      }
      &__article{
         h1{
            margin-bottom: 20px;
         }
      }
      &__info{
         display: block;
      }
      &__author{
         margin-bottom: 20px;
         p{
            font-size: 0.875rem;
         }
      }
      &__info-share{
         justify-content: flex-start;
         p{
            font-size: 0.875rem;
            line-height: 1.714;
            max-width: 187px;
            margin-right: 0;
         }
      }
   }
}

.related{
   &__section{
      position: relative;
      padding: 200px 0 120px;
      .container{
         position: relative;
         z-index: 5;
      }
   }
   &__heading{
      display: flex;
      justify-content: center;
   }
   &__title{
      text-align: center;
      span{
         display: block;
      }
   }
   &__gradient1{
      position: absolute;
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
      width: 79.027777777778%;
      height: auto;
      display: block;
      top: 30%;
      right: 0;
      transform: translate(50%,-50%) rotate(178.57deg) translate3d(0, 0, 0);
      pointer-events: none;
   }
   &__gradient2{
      opacity: 0.4;
      filter: blur(70px);
      border-radius: 1000px;
      width: 79.027777777778%;
      height: auto;
      display: block;
      position: absolute;
      top: 60%;
      left: 0;
      transform: translate(-50%,-50%) translate3d(0, 0, 0);
      pointer-events: none;
   }
   &__row{
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
   }
   &__col{
      width: calc((100% - 60px) / 3);
      margin-right: 30px;
      margin-top: 30px;
      &:nth-of-type(3n+3){
         margin-right: 0;
      }
   }
   &__bottom{
      margin-top: 100px;
   }
   &__line1{
      position: absolute;
      right: 0;
      pointer-events: none;
      transform: translateY(-60%);
   }
   &__line2{
      position: absolute;
      left: 0;
      top: 20%;
      pointer-events: none;
   }
}

@media (max-width: 992px){
   .related{
      &__section{
         padding: 100px 0 80px;
      }
      &__line1, &__line2{
         display: none;
      }
      &__col{
         width: calc(50% - 15px);
         margin-right: 30px;
         &:nth-of-type(3n+3){
            margin-right: 30px;
         }
         &:nth-of-type(even){
            margin-right: 0;
         }
      }
      &__bottom{
         margin-top: 60px;
      }
   }
}

@media (max-width: 576px){
   .related{
      &__gradient1{
         display: none;
      }
      &__gradient2{
         width: 221.6%;
         top: 20%;
      }
      &__row{
         margin-top: 24px;
      }
      &__col{
         margin-top: 16px;
         width: 100%;
         margin-right: 0;
         &:nth-of-type(even){
            margin-right: 0;
         }
         &:nth-of-type(3n+3){
            margin-right: 0;
         }
      }
      &__bottom{
         .btn__content{
            text-transform: uppercase !important;
         }
      }
   }
}