.footer{
   background: #141212;
   padding: 80px 0;
   &__row{
      display: flex;
   }
   &__col{
      width: calc(50% - 15px);
      margin-right: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &:nth-of-type(2){
         margin-right: 0;
      }
   }
   &__logo{
      display: inline-block;
      text-decoration: none;
      height: 36px;
      margin-bottom: 20px;
      img{
         height: 100%;
         width: auto;
         display: block;
      }
   }
   &__soc{
      display: flex;
      margin-bottom: 20px;
   }
   &__soc-item{
      margin-right: 8px;
      &:last-of-type{
         margin-right: 0;
      }
   }
   &__copy{
      margin-top: auto;
   }
   &__dev{
      a{
         text-decoration: none;
         font-weight: 900;
         color: inherit;
         transition: $transition;
         &:hover{
            color: $bodyColorAccent;
         }
      }
   }
   &__subrow{
      display: flex;
      width: 100%;
   }
   &__subcol{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: calc(50% - 15px);
      margin-right: 30px;
      &:nth-of-type(2){
         margin-right: 0;
      }
   }
   &__title{
      font-size: 1.125rem;
      line-height: 1.556;
      margin-bottom: 30px;
   }
   &__menu{
      margin-bottom: 20px;
      ul{
         list-style: none;
      }
      li{
         line-height: 1.5rem;
         margin-bottom: 10px;
         font-weight: 300;
         &:last-of-type{
            margin-bottom: 0;
         }
      }
      a{
         text-decoration: none;
         color: inherit;
         transition: $transition;
         &:hover{
            color: $bodyColorAccent;
         }
      }
   }
   &__policy{
      margin-top: auto;
      color: $bodyColorSecondary;
      font-weight: 300;
      a{
         text-decoration: underline;
         color: inherit;
         transition: $transition;
         &:hover{
            color: $bodyColorAccent;
         }
      }
   }
   &__contacts{
      line-height: 1.5rem;
      margin-bottom: 10px;
      font-weight: 300;
      &:last-of-type{
         margin-bottom: 0;
      }
      a{
         text-decoration: none;
         color: inherit;
         transition: $transition;
         &:hover{
            color: $bodyColorAccent;
         }
      }
      &_mobile{
         a{
            pointer-events: none;
         }
      }
   }
}

@media (max-width: 992px){
   .footer{
      padding: 60px 0;
      &__col{
         &:nth-of-type(1){
            width: 40%;
         }
         &:nth-of-type(2){
            width: 60%;
         }
      }
      &__contacts{
         &_mobile{
            a{
               pointer-events: auto;
            }
         }
      }
   }
}

@media (max-width: 576px){
   .footer{
      .container{
         padding-left: 35px;
         padding-right: 35px;
      }
      &__row{
         display: block;
      }
      &__col{
         width: 100%;
      }
      &__subrow{
         display: block;
      }
      &__subcol{
         width: 100%;
      }
      &__soc{
         margin-bottom: 60px;
      }
      &__menu{
         margin-bottom: 60px;
      }
      &__policy{
         margin-top: 60px;
      }
      &__copy{
         margin-top: 20px;
         margin-bottom: 0;
      }
   }
}