.block-slider {
  position: relative;
  padding: 0; }

.slider-prev {
  position: absolute;
  top: 50%;
  left: calc((50% - 685px));
  cursor: pointer;
  z-index: 1;
  -webkit-transition: var(--kmnd-body-transition);
  -o-transition: var(--kmnd-body-transition);
  transition: var(--kmnd-body-transition); }
  .slider-prev:hover {
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px); }

.slider-next {
  position: absolute;
  top: 50%;
  right: calc((50% - 685px));
  cursor: pointer;
  z-index: 1;
  -webkit-transition: var(--kmnd-body-transition);
  -o-transition: var(--kmnd-body-transition);
  transition: var(--kmnd-body-transition); }
  .slider-next:hover {
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px); }

.slider-item {
  min-height: 100vh;
  padding-top: 105px;
  position: relative;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  display: none; }
  .slider-item:first-of-type {
    display: block; }
  .slider-item.slick-slide {
    display: block; }

.slider-item-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 105px);
  z-index: 1;
  position: relative; }

.slider-item-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.slider-item-text {
  font-family: var(--kmnd-body-tertiary-font-family);
  font-size: 4.75rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  line-height: 4.5rem; }

.slider-item-button {
  margin: -40px auto 0; }

@media (max-width: 1400px) {
  .slider-prev {
    left: 15px; }
  .slider-next {
    right: 15px; } }

@media (max-width: 1200px) {
  .slider-prev {
    display: none !important; }
  .slider-next {
    display: none !important; } }

@media (max-width: 992px) {
  .slider-item {
    padding-top: 69px; }
  .slider-item-content {
    min-height: calc(100vh - 69px); }
  .slider-wrapper .slick-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .slider-wrapper .slick-dots li {
      margin-right: 5px; }
      .slider-wrapper .slick-dots li:last-of-type {
        margin-right: 0; }
      .slider-wrapper .slick-dots li button {
        outline: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        border: none;
        background: none;
        height: 35px;
        width: 35px;
        color: rgba(0, 0, 0, 0);
        font-size: 0;
        line-height: 0;
        position: relative; }
        .slider-wrapper .slick-dots li button:after {
          content: '';
          display: block;
          height: 6px;
          width: 6px;
          background: var(--kmnd-body-color);
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
        .slider-wrapper .slick-dots li button:before {
          content: '';
          height: 100%;
          width: 100%;
          display: block;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          border: solid 1px var(--kmnd-body-color);
          opacity: 0;
          -webkit-transition: var(--kmnd-body-transition);
          -o-transition: var(--kmnd-body-transition);
          transition: var(--kmnd-body-transition); }
      .slider-wrapper .slick-dots li.slick-active button:before {
        opacity: 1; }
  .slider-item-text {
    font-size: 3.9375rem;
    line-height: 3.5rem; }
  .slider-item-button {
    margin-top: -20px; } }