.account{
	padding-top: 26px;
	padding-bottom: 26px;
	min-height: calc(100vh - 150px - 173px - 34px);
	h1{
		margin: 0 0 42px;
		font-weight: 500;
		font-size: 22px;
		line-height: 26px;
		color: #000000;
	}
	&__row{
		display: flex;
	}
	aside{
		width: 261px;
	}
	&__tab{
		width: 100%;
		height: 50px;
		margin-bottom: 4px;
		display: flex;
		align-items: center;
		text-decoration: none;
		cursor: pointer;
		outline: none;
		box-shadow: none;
		border: none;
		border-radius: 8px;
		padding-left: 25px;
		transition: all 0.2s;
		background: $background;
		figure{
			height: 26px;
			width: 26px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 13px;
			svg{
				path{
					transition: all 0.2s;
				}
			}
		}
		p{
			font-weight: normal;
			font-size: 17px;
			line-height: 20px;
			color: #252525;
			margin: 0;
			span{
				color: $primary;
			}
		}
		&:last-of-type{
			margin-bottom: 0;
		}
		&:hover, &_current{
			background: #F3F3F3;
		}
		&_current{
			p{
				font-weight: 500;
			}
		}
		&_cart, &_info, &_favorites, &_watchlist, &_subscribtion{
			&:hover, &.account__tab_current{
				svg{
					path{
						fill: $primary;
					}
				}
			}
		}
		&_orders, &_exit{
			&:hover, &.account__tab_current{
				svg{
					path{
						stroke: $primary;
					}
				}
			}
		}
	}
	&__body{
		flex: 1;
		margin-left: 70px;
		&_cart{
			margin-left: 37px;
		}
		&_info{
			.account__title{
				position: relative;
				top: -4px;
			}
		}
		&_details{
			padding-bottom: 30px;
			hr{
				margin-top: 24px;
				margin-bottom: 20px;
				width: 100%;
				max-width: 684px;
				border-top: 1px solid rgba(0, 0, 0, 0.08);
			}
		}
		&_favorites{
			.account__title{
				margin-bottom: 23px;
			}
		}
		&_watchlist{
			.account__title{
				margin-bottom: 44px;
			}
		}
	}
	.cart-table{
		&__head{
			padding-left: 113px;
			padding-right: 23px;
		}
		&__head-item{
			&{
				&:nth-of-type(1){
					max-width: 306px;
					p{
						width: 222px;
					}
				}
				&:nth-of-type(2){
					max-width: 229px;
				}
				&:nth-of-type(3){
					max-width: 225px;
				}
				&:nth-of-type(4){
					max-width: 168px
				}
				&:nth-of-type(5){

				}
			}
		}
		&__row{
			padding-right: 46px;
			padding-left: 29px;
		}
		&__item{
			align-items: center;
			max-width: 390px;
			figure{
				margin-right: 2px;
			}

		}
		&__content{
			padding-bottom: 0;
			top: 0;
		}
		&__price{
			max-width: 229;
			top: 0;
		}
		&__quantity{
			max-width: 225px;
			top: 0;
		}
		&__total{
			max-width: 168px;
			top: 0;
		}
		&__remove{
			top: 0;
		}
	}
	&__buttons{
		display: flex;
		justify-content: flex-end;
		margin-top: 36px;
		.cart-info__buy{
			width: 276px;
			height: 57px;
			margin: 0 32px 0 0;
		}
		.cart-info__order{
			width: 276px;
			height: 57px;
		}
	}
	&__title{
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: #000000;
		margin: 0;
	}
	&__link{
		display: block;
		padding-left: 6px;
		margin-bottom: 37px;
		a{
			text-decoration: none;
			display: flex;
			align-items: center;
			p{
				font-weight: normal;
				font-size: 20px;
				line-height: 24px;
				color: #818181;
				margin: 0;
			}
			svg{
				margin-right: 41.01px;
			}
		}
	}
	&__article{
		font-weight: normal;
		font-size: 15px;
		line-height: 27px;
		margin: 0 0 40px;
		color: #000000;
		max-width: 726px;
		width: 100%;
		p{
			margin: 0;
		}
	}
	&__text{
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		margin: 0;
		color: #000000;
	}
	&__resend{
		margin-top: 25px;
		border-radius: 5px;
		background: $primary;
		outline: none;
		box-shadow: none;
		border: none;
		padding: 15px 0 15px 0;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		color: $background;
		cursor: pointer;
		width: 327px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		&_error{
			border: 1px solid rgba(0, 0, 0, 0.13);
			background: $background;
			color: #444444;
			margin-top: 0;
		}
	}
	&__notification{
		display: flex;
		align-items: center;
		margin-top: 48px;
	}
	&__unsubscribe{
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		color: $primary;
		background: none;
		outline: none;
		box-shadow: none;
		border: none;
		margin-left: 36px;
		display: inline-block;
		cursor: pointer;
		border-bottom: 1px dashed $primary;
	}
}
.account-details{
	margin-top: 32px;
	margin-bottom: 36px;
	&__row{
		display: flex;
		margin-bottom: 23px;
		&:last-of-type{
			margin: 0;
		}
		p{
			margin: 0;
			&:first-of-type{
				font-weight: normal;
				font-size: 16px;
				line-height: 19px;
				color: #AAAAAA;
				width: 176px;
			}
			&:last-of-type{
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: #353535;
			}
		}
	}
}
.account-info{
	margin-top: 35px;
	&__row{
		display: flex;
		&_active{
			.account-info__text{
				display: none;
			}
			.account-info__input{
				display: flex;
			}
		}
		&_name{
			margin-bottom: 32px;
			.account-info__input{
				input{
					width: 106px;
				}
			}
		}
		&_email{
			margin-bottom: 37px;
			.account-info__input{
				input{
					width: 150px;
				}
			}
		}
		&_phone{
			margin-bottom: 45px;
			.account-info__input{
				input{
					width: 170px;
				}
			}
		}
	}
	&__title{
		width: 246px;
		margin: 0;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #A5A5A5;
	}
	&__text{
		display: flex;
		align-items: center;
		p{
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
			margin: 0;
		}
		svg{
			cursor: pointer;
			margin-left: 9px;
			path{
				fill: $primary;
			}
		}
	}
	&__input{
		display: none;
		align-items: center;
		input{
			border: none;
			box-shadow: none;
			outline: none;
			text-decoration: none;
			border-bottom: 1px solid #E6E6E6;
			padding: 0;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000;
			display: block;
		}
		svg{
			cursor: pointer;
		}
	}
	&__apply{
		margin: 0 8.4px 0 3.4px;
		path{
			stroke: $primary;
		}
	}
	&__radio{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		input{
			display: none;
			align-items: center;
			&:checked + label{
				&:before{
					background: $primary;
				}
			}
		}
		svg{
			margin-left: 8px;
			cursor: pointer;
			path{
				fill: $primary;
			}
		}
		label{
			margin: 0;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
			position: relative;
			padding-left: 24px;
			cursor: pointer;
			&:before{
				height: 13px;
				width: 13px;
				border-radius: 50%;
				display: block;
				content: '';
				position: absolute;
				top: 5px;
				left: 0;
				background: $background;
				border: solid 3px #E3E3E3;
			}
		}
	}
	&__add{
		margin-top: 2px;
		width: 177px;
		height: 39px;
		text-decoration: none;
		outline: none;
		box-shadow: none;
		background: $background;
		border: 1px solid #E6E6E6;
		border-radius: 4px;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: $primary;
		cursor: pointer;
		transition: all 0.2s;
		&:hover{
			border: solid 1px $primary;
		}
	}
}
.orders-table{
	margin-top: 14px;
	&__head{
		display: flex;
		justify-content: space-between;
		background: #F8F8F8;
		padding: 23px 112px 22px 45px;
	}
	&__head-item{
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		color: rgba(0, 0, 0, 0.33);
		flex: auto;
		justify-content: space-between;
		&:nth-of-type(1){
			max-width: 212px;
		}
		&:nth-of-type(2){
			max-width: 229px;
		}
		&:nth-of-type(3){
			max-width: 249px;
		}
		&:nth-of-type(4){
			max-width: 194px;
		}
		&:nth-of-type(5){
			max-width: 48px;
		}
	}
	&__row{
		padding: 25px 82px 25px 45px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		&:last-of-type{
			margin: 0;
		}
	}
	&__number{
		max-width: 212px;
		flex: auto;
		a{
			color: $primary;
			text-decoration: none;
			border-bottom: dashed 1px $primary;
		}
	}
	&__date{
		max-width: 229px;
		flex: auto;
	}
	&__quantity{
		max-width: 249px;
		flex: auto;
	}
	&__price{
		max-width: 194px;
		flex: auto;
	}
}
.details-item{
	padding: 17px 61px 20px 29px;
	max-width: 684px;
	width: 100%;
	display: flex;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.08);
	margin-bottom: 10px;
	border-radius: 6px;
	&:last-of-type{
		margin-bottom: 0;
	}
	a{
		text-decoration: none;
		display: block;
	}
	&__row{
		display: flex;
		align-items: center;
		flex: auto;
		max-width: 381px;
		figure{
			height: 80px;
			width: 69px;
			display: flex;
			align-items: center;
			margin-right: 15px;
		}
	}
	&__content{
		width: 222px;
	}
	&__name{
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 8px;
		a{
			color: #353535;
			transition: all 0.2s;
			&:hover{
				color: $primary;
			}
		}
	}
	&__id{
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		margin: 0;
		color: #AEAEAE;
	}
	&__quantity{
		max-width: 134px;
		flex: auto;
		margin: 0;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
	}
	&__total{
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #353535;
		margin: 0;
	}
}
@media (max-width: 1450px){
	.account{
		min-height: calc(100vh - 149px - 194px - 34px);
	}
}
@media (max-width: 1200px){
	.account{
		.cart-table{
			&__head-item{
				&{
					&:nth-of-type(1){
						p{
							width: 150px;
						}
					}
				}
			}
			&__content{
				width: 150px;
			}
		}
	}
	.orders-table{
		&__head{
			padding-right: 50px;
			padding-left: 25px;
		}
		&__row{
			padding-right: 25px;
			padding-left: 25px;
		}
	}
}
@media (max-width: 992px){
	.account{
		min-height: calc(100vh - 55px - 305px);
		padding-top: 7px;
		padding-bottom: 22px;
		h1{
			display: none;
		}
		aside{
			width: 100vw;
			margin-left: -15px;
			margin-right: -15px;
			display: flex;
			overflow-x: scroll;
			-ms-overflow-style: none;
			scrollbar-width: none;
			background: #F5F5F5;
			padding-left: 16px;
			padding-right: 16px;
			&::-webkit-scrollbar {
				display: none;
			}
		}
		&__row{
			display: block;
		}
		&__tab{
			border-radius: 0;
			padding: 15px 0 16px;
			background: none;
			margin: 0;
			margin-right: 26px;
			width: auto;
			display: block;
			height: auto;
			&:last-of-type{
				margin: 0;
			}
			figure{
				display: none;
			}
			p{
				font-weight: 500;
				font-size: 13px;
				line-height: 15px;
				white-space: nowrap;
			}
		}
		&__body{
			margin-left: 0;
			margin-top: 16px;
			.cart-table{
				display: none;
			}
			.cart-coupon{
				margin-top: 13px;
			}
			.cart-info{
				&__body{
					border: none;
					margin-bottom: 0px;
				}
				&__order{
					margin-top: 0;
				}
			}
			&_info{
				margin-top: 9px;
				.account__title{
					top: 0;
				}
			}
			&_orders{
				margin-top: 9px;
				.account__title{
					top: 0;
					margin-bottom: 29px;
				}
			}
			&_details{
				padding-bottom: 0;
				margin-top: 9px;
				hr{
					display: none;
				}
			}
			&_watchlist{
				.account__title{
					margin-bottom: 24px;
				}
			}
		}
		&__buttons{
			display: none;
		}
		&__title{
			font-weight: 500;
			font-size: 17px;
			line-height: 20px;
			color: #000;
		}
		&__link{
			width: 100vw;
			margin-left: -15px;
			margin-right: -15px;
			padding: 16px 23.33px 15px;
			background: #F4F4F4;
			margin-top: 12px;
			margin-bottom: 0;
			a{
				svg{
					margin-right: 22px;
				}
				p{
					font-weight: normal;
					font-size: 14px;
					line-height: 17px;
				}
			}
		}
		&__article{
			margin-top: 19px;
			font-weight: normal;
			font-size: 12px;
			line-height: 22px;
			margin-bottom: 13px;
		}
		&__text{
			font-weight: 500;
			font-size: 13px;
			line-height: 15px;
		}
		&__resend{
			margin-top: 17px;
			width: 100%;
			padding: 17px 0;
			font-weight: 500;
			font-size: 13px;
			line-height: 15px;
			&_error{
				margin-top: 0;
				padding: 15px 0;
				font-weight: 500;
				font-size: 15px;
				line-height: 18px;
			}
		}
		&__notification{
			flex-direction: column;
			margin-top: 12px;
		}
		&__unsubscribe{
			margin-left: 0;
			margin-top: 13px;
		}
	}
	.account-info{
		margin-top: 25px;
		&__row{
			display: block;
			&_active{
				.account-info__text{
					display: none;
				}
				.account-info__input{
					display: flex;
				}
			}
			&_name{
				margin-bottom: 22px;
			}
			&_email{
				margin-bottom: 22px;
			}
			&_phone{
				margin-bottom: 22px;
			}
		}
		&__title{
			margin-bottom: 10px;
			width: auto;
		}
		&__add{
			margin-top: 2px;
		}
	}
	.orders-table{
		display: none;
	}
	.order-item{
		margin-bottom: 18px;
		padding-bottom: 18px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.14);
		&__row{
			display: flex;
			&:last-of-type{
				.order-item__item{
					margin-bottom: 0;
				}
			}
		}
		&__item{
			margin-bottom: 21px;
			&:first-of-type{
				width: 145px;
				margin-right: 10px;
			}
			&:last-of-type{
				flex: auto;
			}
			p{
				&:first-of-type{
					font-weight: normal;
					font-size: 16px;
					line-height: 19px;
					color: #A5A5A5;
					margin-bottom: 10px;
				}
				&:last-of-type{
					font-weight: normal;
					font-size: 16px;
					line-height: 19px;
					color: #000000;
					margin-bottom: 0;
				}
				a{
					text-decoration: none;
					font-weight: 500;
					color: $primary;
				}
			}
		}
	}
	.account-details{
		margin-top: 17px;
		margin-bottom: 30px;
		display: flex;
		flex-wrap: wrap;
		&__row{
			display: block;
			margin-bottom: 21px;
			&:nth-of-type(odd){
				width: 145px;
				margin-right: 10px;
			}
			&:nth-of-type(even){
				width: 135px;
			}
			&:first-of-type{
				p{
					&:last-of-type{
						font-weight: 500;
						color: $primary;
					}
				}
			}
			&:last-of-type{
				margin-bottom: 0;
			}
			p{
				&:first-of-type{
					font-weight: normal;
					font-size: 16px;
					line-height: 19px;
					color: #A5A5A5;
					margin-bottom: 10px;
				}
				&:last-of-type{
					font-weight: normal;
					font-size: 16px;
					line-height: 19px;
					color: #000000;
					margin: 0;
				}
			}
		}
	}
	.details-item{
		padding: 13px 33px 8px 14px;
		border-radius: 9px;
		justify-content: space-between;
		align-items: flex-start;
		&__row{
			max-width: 149px;
			figure{
				height: 69px;
				width: 42px;
				margin-right: 10px;
			}
		}
		&__content{
			width: 97px;
		}
		&__name{
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			margin: 0;
		}
		&__id{
			display: none;
		}
		&__quantity{
			display: none;
		}
		&__total{
			font-weight: 500;
			font-size: 13px;
			line-height: 15px;
			margin: 12px 0 0;
			span{
				display: block;
				font-weight: normal;
				font-size: 10px;
				line-height: 12px;
				color: #BBBBBB;
				margin-bottom: 8px;
			}
		}
	}
}