.leed{
	padding-top: 119px;
	padding-bottom: 51px;
	overflow: hidden;
	.container{
		position: relative;
	}
	&__question{
		font-weight: bold;
		font-size: 562px;
		line-height: 562px;
		position: absolute;
		top: -125px;
		left: -75px;
		color: rgba(0, 0, 0, 0.04);
	}
	&__row{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 1;
	}
	&__col{
		&_title{
			max-width: 713px;
			margin-left: 50px;
		}
		&_links{
			width: 614px;
			position: relative;
			right: -1px;
		}
	}
	&__title{
		font-weight: normal;
		font-size: 51px;
		line-height: 82px;
		letter-spacing: 0.06em;
		margin: 0;
		position: relative;
		top: -17px;
	}
	&__link{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-decoration: none;
		background: #525252;
		height: 142px;
		overflow: hidden;
		transition: all 0.2s;
		margin-bottom: 23px;
		&:hover{
			background: $black;
		}
		&:active{
			background: $brown;
		}
		&_first{
			.leed__icon{
				width: 50.04px;
				height: 41.97px;
				display: block;
				margin-left: 40px;
			}
			.leed__text{
				padding-left: 68px;
			}
		}
		&_second{
			.leed__icon{
				width: 31.6px;
				height: 59px;
				display: block;
				margin-left: 47.7px;
			}
			.leed__text{
				padding-left: 78.7px;
			}
		}
		&_third{
			margin: 0;
			.leed__icon{
				width: 51px;
				height: 48.96px;
				display: block;
				margin-left: 38px;
			}
			.leed__text{
				padding-left: 69px;
			}
		}
	}
	&__text{
		flex: 1;
		font-weight: 500;
		font-size: 32px;
		line-height: 31px;
		color: $white;
		letter-spacing: 0.185em;
		text-transform: uppercase;
	}
	&__btn{
		height: 100%;
		width: 127.5px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		svg{
			&:nth-of-type(1){
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				right: 0;
			}
			&:nth-of-type(2){
				width: 14.12px;
				height: 28.06px;
				margin-right: 38.89px;
				position: relative;
				z-index: 1;
			}	
		}
	}
}

.notice{
	background: $gray;
	padding: 47px 0 45px;
	p{
		font-weight: 500;
		font-size: 21px;
		line-height: 27px;
		margin-bottom: 21px;
		color: $black;
		letter-spacing: 0.024em;
		&:last-of-type{
			margin: 0;
		}
	}
}

@media (max-width: 1550px){
	.leed{
		&__question{
			left: 0;
		}
		&__col{
			&_title{
				margin-left: 0;
			}
		}
	}
}

@media (max-width: 1400px){
	.leed{
		&__col{
			&_title{
				max-width: 500px;
			}
			&_links{
				width: 550px;
			}
		}
		&__title{
			font-size: 38px;
		}
		&__link{
			height: 120px;
		}
		&__btn{
			svg{
				&:nth-of-type(1){
					right: -10px;
				}
			}
		}
	}
}

@media (max-width: 1200px){
	.leed{
		&__col{
			&_title{
				max-width: 360px;
			}
		}
		&__title{
			font-size: 28px;
			line-height: 60px;
		}
	}
}

@media (max-width: 992px){
	.leed{
		padding-top: 41px;
		padding-bottom: 18.93px;
		&__question{
			left: auto;
			top: -32px;
			right: 15px;
			line-height: 175px;
			font-size: 175px;
		}
		&__row{
			display: block;
		}
		&__col{
			&_title, &_links{
				width: 100%;
				max-width: 100%;
				position: static;
			}
		}
		&__title{
			font-weight: normal;
			font-size: 21px;
			line-height: 36px;
			letter-spacing: 0.08em;
			margin-bottom: 7px;
		}
		&__link{
			height: 67.07px;
			margin-bottom: 10px;
			&_first{
				.leed__icon{
					width: 23.63px;
					height: 19.82px;
					margin-left: 18.42px;
				}
				.leed__text{
					padding-left: 32.57px;
				}
			}
			&_second{
				.leed__icon{
					width: 14.92px;
					height: 27.87px;
					margin-left: 22.53px;
				}
				.leed__text{
					padding-left: 37.17px;
				}
			}
			&_third{
				margin: 0;
				.leed__icon{
					width: 24.09px;
					height: 23.12px;
					margin-left: 17.95px;
				}
				.leed__text{
					padding-left: 32.59px;
				}
			}
		}
		&__text{
			font-weight: 500;
			font-size: 16px;
			line-height: 31px;
		}
		&__btn{
			width: 60.22px;
			svg{
				&:nth-of-type(1){
					right: 0;
				}
				&:nth-of-type(2){
					margin-right: 10px;
					height: 12px;
					width: 24px;
				}
			}
		}
	}
	.notice{
		padding: 19px 0 17px 9px;
		p{
			font-weight: 500;
			font-size: 13px;
			line-height: 22px;
			letter-spacing: 0.028em;
			margin-bottom: 5px;
			&:first-of-type{
				margin-bottom: 13px;
			}
			&:last-of-type{
				margin: 0;
				padding-top: 7px;
			}
		}
	}
}