.block-car{
	margin-top: 38px;
	.car-head{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 14px;
		h1{
			font-weight: 500;
			font-size: 24px;
			line-height: 29px;
			color: $blackDark;
			margin: 0;
		}
		.car-status{
			height: 35px;
			width: 85px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			background: $grayLight;
			border-radius: 5px;
			font-weight: 600;
			font-size: 12px;
			line-height: 15px;
			color: $blackDark;
			&.instock{
				color: $red;
			}
		}
	}
	.img-wrap{
		height: 560px;
	}
	img{
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto 30px;
	}
	.spec{
		h2{
			font-weight: 500;
			font-size: 24px;
			line-height: 29px;
			color: $blackDark;
			margin-bottom: 34px;
		}
		.spec-list{
			padding: 0 20px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 55px;
			ul{
				margin: 0;
				width: calc((100% - 47px) / 2);
				list-style: none;
				li{
					display: flex;
					justify-content: space-between;
					position: relative;
					font-size: 18px;
					line-height: 22px;
					color: $blackLight;
					margin: 0 0 12px 0;
					strong{
						font-weight: 600;
						font-size: 18px;
						line-height: 22px;
					}
					&:before{
						position: absolute;
						bottom: -3px;
						left: 0;
						width: 100%;
						content: '';
						background: $grayBorderDark;
						height: 1px;
						display: block;
					}
				}
			}
		}
	}
	article{
		margin-bottom: 90px;
		p{
			font-size: 18px;
			line-height: 22px;
			color: $blackDark;
			margin-bottom: 22px;
		}
		h3{
			margin-top: 62px;
			font-weight: 500;
			font-size: 24px;
			line-height: 29px;
			color: $blackDark;
			margin-bottom: 20px;
		}
		ul{
			margin: 0;
			margin-left: 20px;
			li{
				font-size: 18px;
				line-height: 22px;
				margin: 0 0 22px 0;
				color: $blackDark;
			}
		}
		h2{
			font-weight: 500;
			font-size: 24px;
			line-height: 29px;
			margin-top: 68px;
			margin-bottom: 15px;
		}
	}
}

@media only screen and (max-width: 1340px){
	.block-car{
		.img-wrap{
			height: 485.63px;
		}
	}
}

@media only screen and (max-width: 1200px){
	.block-car{
		.img-wrap{
			height: 406.88px;
		}
	}
}

@media only screen and (max-width: 992px){
	.block-car{
		margin-top: 28px;
		padding: 0 30px;
		.img-wrap{
			height: auto;
		}
		.car-head{
			display: block;
			margin-bottom: 0;
			.car-status{
				display: none;
			}
		}
		img{
			margin: 0 -60px 28px;
			position: relative;
			width: 100vw;
		}
		.spec{
			h2{
				margin-bottom: 28px;
			}
			.spec-list{
				padding: 0;
				display: block;
				margin-bottom: 52px;
				ul{
					width: 100%;
					li{
						margin-bottom: 22px;
						font-size: 22px;
						line-height: 27px;
						strong{
							font-weight: 600;
							font-size: 22px;
							line-height: 27px;
						}
					}
				}
			}
		}
		article{
			h3{
				margin-top: 50px;
				margin-bottom: 28px;
			}
			h2{
				margin-top: 50px;
				margin-bottom: 28px;
			}
		}
	}
}