.error{
   &__section{
      padding: 137px 0 195px;
      min-height: calc(100vh - 114px - 462px);
   }
   &__img{
      height: 176px;
      width: auto;
      display: block;
      margin: 0 auto 19px;
      animation: fadeInUp100 0.75s ease-in-out both;
   }
   &__text{
      text-align: center;
      width: 100%;
      max-width: 932px;
      margin: 0 auto 43px;
      font-size: 1.375rem;
      animation: fadeInUp100 0.75s ease-in-out both;
      animation-delay: 0.25s;
   }
   &__bottom{
      padding: 4px 4px 4px 25px;
      border: solid 1px #000000;
      border-radius: 138px;
      display: flex;
      align-items: center;
      width: 300px;
      margin: 0 auto;
      justify-content: space-between;
      animation: fadeInUp100 0.75s ease-in-out both;
      animation-delay: 0.5s;
      p{
         color: #000;
         margin-right: 20px;
      }
   }
}

@media (max-width: map_get($adaptive-breakpoints, 'lg')){
   .error{
      &__section{
         min-height: calc(100vh - 50px - 877px);
      }
   }
}

@media (max-width: map_get($adaptive-breakpoints, 'sm')){
   .error{
      &__section{
         padding: 81px 0 133px;
      }
      &__img{
         height: 86px;
         margin: 0 auto 6px;
      }
      &__text{
         font-size: 1.125rem;
         margin: 0 auto 37px;
         line-height: 1.667;
      }
      &__bottom{
         width: 270px;
         margin: 0 auto;
         p{
            margin-right: auto;
         }
      }
   }
}