.search{
	&__wrap{
		display: flex;
	}
	&__side{
		max-width: 256px;
		width: 100%;
		margin-right: 42px;
		flex-shrink: 0;
	}
	&__content{
		max-width: calc(100% - 256px - 42px);
		flex: 1;
	}
	&__title{
		display: flex;
		align-items: flex-start;
	}
	&__counter{
		margin-left: 20px;
		font-family: $bodyFontSecondary;
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 1.25rem;
		color: #ACADB3;
		&_colored{
			color: $bodyColorTertiary;
		}
	}
	&__subtitle{
		color: #ACADB3;
		font-family: $bodyFontSecondary;
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 1.75rem;
		&_second{
			color: $bodyColorPrimary;
		}
	}
	&__subtext{
		color: #5A5C66;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	&__grid{
		display: flex;
		flex-wrap: wrap;
	}
	&__col{
		width: calc(50% - 15px);
		margin-right: 30px;
		margin-bottom: 60px;
		&:nth-of-type(even){
			margin-right: 0;
		}
	}
}

.btn-prev{
	display: flex;
	align-items: center;
	text-decoration: none;
	font-family: $bodyFontSecondary;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: $bodyColorPrimary;
	font-size: 0.8125rem;
	line-height: 1rem;
	figure{
		height: 32px;
		width: 32px;
		background: $bodyBackgroundSecondary;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 28px;
	}
	&:hover{
		figure{
			background: $bodyBackgroundTertiary;
		}
		svg{
			path{
				fill: $bodyColorSecondary;
			}
		}
	}
}

.theme-dark{
	.btn-prev{
		color: #fff;
		figure{
			background: #16141d;
			svg{
				path{
					fill: #fff;
				}
			}
		}
		&:hover{
			figure{
				background: $bodyBackgroundTertiary;
			}
		}
	}
	.search{
		&__subtitle{
			&_second{
				color: #fff;
			}
		}
		&__subtext{
			color: #acadb3;
		}
	}
}

@media (max-width: 767px){
	.search{
		&__wrap{
			display: block;
		}
		&__side{
			max-width: 100%;
			margin-right: 0;
		}
		&__content{
			max-width: unset;
			flex: unset;
			.title-secondary{
				font-size: 1rem;
				line-height: 1.25rem;
			}
		}
		&__title{
			justify-content: space-between;
			.title-primary{
				font-size: 1.5rem;
				line-height: 1.75rem;
			}
		}
		&__image{
			margin: 0 auto;
		}
		&__subtitle{
			font-size: 1rem;
			line-height: 1.25rem;
		}
		&__grid{
			display: block;
		}
		&__col{
			width: 100%;
			margin-right: 0;
			margin-bottom: 40px;
		}
	}
	.btn-prev{
		margin-bottom: 31px;
		span{
			display: none;
		}
	}
}