.error{
	&__row{
		display: flex;
		align-items: center;
	}
	&__content{
		max-width: 370px;
		width: 100%;
		flex-shrink: 0;
	}
	&__picture{
		flex: 1;
		position: relative;
	}
	&__title{
		font-family: $bodyFontSecondary;
		font-weight: 700;
		letter-spacing: -0.03em;
		color: $bodyColorPrimary;
		font-size: 4rem;
		line-height: 4rem;
		margin: 0;
	}
	&__text{
		font-size: 1rem;
		line-height: 1.5rem;
		color: #5A5C66;
	}
	&__image{
		margin: 0 auto;
		height: auto;
		width: 100%;
		max-width: 565px;
	}
	&__message{
		position: absolute;
		z-index: 1;
		transform: translate(-50%,-50%);
		left: 55%;
		top: 70%;
	}
	&__point{
		border: 1px solid $bodyColorTertiary;
		border-radius: 50%;
		height: 16px;
		width: 16px;
		background: $bodyBackgroundPrimary;
		display: flex;
		align-items: center;
		justify-content: center;
		&:before{
			content: '';
			height: 8px;
			width: 8px;
			display: block;
			border-radius: 50%;
			background: $bodyBackgroundTertiary;
		}
	}
	&__message-body{
		padding: 12px 25px 27px 9px;
		position: absolute;
		bottom: 8px;
		right: 8px;
		border-radius: 12px 12px 0px 12px;
		z-index: 2;
		background: $bodyBackgroundTertiary;
	}
	&__dots{
		display: block;
		margin-left: auto;
	}
	&__notification{
		width: 193px;
		margin-left: 11px;
		max-height: 0px;
		max-width: 0px;
		overflow: hidden;
		opacity: 0;
		margin-right: -14px;
		transition: all 0.5s linear;
		&_expanded{
			max-width: 179px;
			max-height: 146px;
		}
		&_visible{
			opacity: 1;
		}
	}
	&__notification-close{
		margin-left: auto;
		display: block;
		margin-top: -3px;
		cursor: pointer;
		&:hover{
			opacity: 0.5;
		}
	}
	&__notification-title{
		font-weight: bold;
		font-size: 1rem;
		line-height: 1.5rem;
		color: $bodyColorSecondary;
		margin-bottom: 12px;
	}
	&__notification-text{
		font-size: 1rem;
		line-height: 1.25rem;
		color: $bodyColorSecondary;
		margin-bottom: 37px;
		a{
			text-decoration: underline;
			color: inherit;
		}
	}
	&__emotions{
		position: absolute;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
		background: $bodyBackgroundPrimary;
		padding: 8px 14px;
		border-radius: 8px;
		bottom: -14px;
		right: 12px;
		z-index: 3;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		width: 70px;
		&_visible{
			opacity: 1;
		}
	}
	&__emoji{
		display: block;
		cursor: pointer;
		&:nth-of-type(2){
			margin-left: 10px;
		}
		&:hover{
			opacity: 0.5;
		}
	}
}

.theme-dark{
	.error{
		&__title{
			color: #fff;
		}
		&__text{
			color: #acadb3;
		}
	}
}

@media (max-width: 767px){
	.error{
		&__row{
			flex-direction: column-reverse;
		}
		&__content{
			max-width: unset;
			flex-shrink: unset;
		}
		&__picture{
			flex: unset;
			width: 100%;
			margin-bottom: 65px;
		}
		&__title{
			font-size: 2.25rem;
			line-height: 2.25rem;
		}
		&__message{
			transform: none;
			top: auto;
			left: auto;
			bottom: 0;
			right: 10%;
		}
	}
}