$bodyFontPrimary: var(--body-font-family-primary);
$bodyFontSecondary: var(--body-font-family-secondary);

$bodyBackgroundPrimary: var(--body-background-primary);
$bodyBackgroundSecondary: var(--body-background-secondary);
$bodyBackgroundTertiary: var(--body-background-tertiary);

$bodyColorPrimary: var(--body-color-primary);
$bodyColorSecondary: var(--body-color-secondary);
$bodyColorTertiary: var(--body-color-tertiary);

$bodyBorderColorPrimary: var(--body-border-color-primary);